_site
node_modules

**/api-reference/
!expected/**/api-reference

public/css/style.css*
public/js/*-bundle.js

_test/**/_results
!_test/**/api-reference

selenium-debug.log

npm-debug.log

**/.DS_Store

_data/swagger
models
