_site
node_modules

**/api-reference/
!expected/**/api-reference

public/css/style.css*
public/js/*-bundle.js

_test/**/_results
!_test/**/api-reference

selenium-debug.log

npm-debug.log

**/.DS_Store

# Ignore any models.json file that's built based on a swagger file
dynamic/swagger/**/models.json

_data/swagger
_data/api_tag_pages
models

.vscode

# put all scripts for local development here
tmp
