<div id='the-nav' class='nav-wrapper hidden-xs hidden-sm api-ref-nav' style='height: 100%; overflow-y: auto;'>
    <ul class='api-ref-side-nav nav nav-pills nav-stacked'>
        {% assign product = page.product %}
        {% assign apiName = page.api_name %}

        {% assign products = site.data.api_tag_pages %}
        {% assign product_apis = products[product] %}

        {% for product_api in product_apis %}
            {% assign product_api_pretty = product_api[0] | replace: '_', ' ' %}
            {% assign apiName_no_decimals = apiName | replace: '.', '' %}

            {% assign allLinks = product_api[1] %}
            {% assign baseLinks = allLinks.index %}
            {% if product == "avaTax" %}
                {% if product_api_pretty=="Avatax REST API v2" or product_api_pretty=="Avatax SOAP API" %}
                    <li>
                        <a href="/{{baseLinks.home}}">{{product_api_pretty}}</a>
                        <!-- not quite sure how to do boolean algebra in liquid syntax -->
                        {% if apiName == product_api_pretty or apiName_no_decimals == product_api_pretty %}
                            {% if page.homepage != true %}
                                {% include api_reference_subnavigation.html tags=baseLinks allLinks=allLinks %}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endif %}
            {% else %}
                <li>
                    <a href="/{{baseLinks.home}}">{{product_api_pretty}}</a>
                    <!-- not quite sure how to do boolean algebra in liquid syntax -->
                    {% if apiName == product_api_pretty or apiName_no_decimals == product_api_pretty %}
                        {% if page.homepage != true %}
                            {% include api_reference_subnavigation.html tags=baseLinks allLinks=allLinks %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        {% if product == "avaTax" %}
        <li class="older-api">
            Older APIs
            {% include older_api_reference_navigation.html %}
        </li>
        {% endif %}
    </ul>
</div>
