<ul>
<li><a href="/avatax/use-cases">Document Workflow</a></li>
<li><a href="/avatax/calculating-tax">Calculating Tax</a></li>
<li><a href="/avatax/address-validation">Address Validation</a></li>
<li><a href="/avatax/reportable-transactions"></a>Reportable Transactions</li>
<li><a href="/avatax/handling-return-invoices">Product Returns</a></li>
<li><a href="/avatax/handling-tax-exempt-customers">Exempt Transactions</a></li>
<li><a href="/avatax/voiding-documents">Voiding Documents</a></li>
<li><a href="/avatax/vat-transactions">VAT Transactions</a></li>
<li><a href="/avatax/drop-shipping">Drop Shipping</a></li>
<li><a href="/avatax/consumer-use-tax">Consumer Use Tax</a></li>
<li><a href="/avatax/automated-provisioning">Automated Provisioning</a></li>
<li><a href="/avatax/sample-code">Sample Code</a></li>
<li><a href="/avatax/soap-or-rest">SOAP or REST</a></li>
<li><a href="/avatax/finding-you-company-id">Finding Your CompanyId</a></li>
<li><a href="/avatax/proxy-server-settings">Proxy Server Settings</a></li>
<li><a href="/avatax/ssl-certificates"></a>SSL Certificates</li>
<li><a href="/avatax/errors-and-outages">Errors and Outages</a></li>
<li><a href="/avatax/common-errors">Common Errors</a></li>
<li><a href="/avatax/service-availability-and-performance">Service Availability</a></li>
<li><a href="/avatax/going-live">Going Live</a></li>
</ul>