<h1>Categories</h1>
<ul class = "api-ref-side-nav nav nav-pills nav-stacked hidden-xs hidden-sm">
    <li {% if page.url=="/blog/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/">All</a>
    </li>
    <li {% if page.url=="/blog/api/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/api/">api</a>    
    </li>
    <li {% if page.url=="/blog/avalara/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/avalara/">Avalara</a>    
    </li>
    <li {% if page.url=="/blog/avatax/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/avatax/">AvaTax</a>    
    </li>
    <li {% if page.url=="/blog/development/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/development/">Development</a>    
    </li> 
    <li {% if page.url=="/blog/presentations/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/presentations/">Presentations</a>    
    </li>
    <li {% if page.url=="/blog/rest/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/rest/">REST</a>    
    </li>
    <li {% if page.url=="/blog/sales_tax_apis/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/sales_tax_apis/">Sales Tax Apis</a>    
    </li>
    <li {% if page.url=="/blog/wsdl/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/wsdl/">WSDL</a>    
    </li>
    <!--
    <li {% if page.url=="/blog/test/" %}class="active" {% endif %}>
        <a class="text-uppercase" href="/blog/test/">test</a>
    </li>
    -->

</ul>