<footer class="navbar navbar-default navbar-fixed-bottom">
    <ul class="social">
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="linkedin"><a href="#">LinkedIn</a></li>
        <li class="youtube"><a href="#">Youtube</a></li>
    </ul>
    <ul class="global">
        <li><a href="#">Avalarra.com</a></li>
        <li><a href="#">Help Center</a></li>
    </ul>
    <ul class="legal">
        <li>&copy; Avalara, Inc. All rights reserved</li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</footer>
