<h4>
    <a href="//developer.avalara.com">
        <img src="images/adn_nav.png" width="140" height="30" alt="Avalara Developer Network" >
    </a>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">APIs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for api in site.apis %}
            <li><a href="{{ api[1] }}">{{ api[0] }}</a></li>
          {% endfor %}
          </ul>
        </li>
        <li><a href="#">Avalara Certified</a></li>
        <li><a href="#">Community</a></li>

    </ul>
</h4>
