<div id="{{include.name}}" class="model-summary">
    <h1>{{include.name}}</h1>
    {% if include.model.description %}
        <h2 id="description">Description</h2>
        <p>{{include.model.description | markdownify}}</p>
    {% endif %}

    {% unless include.model['x-methods-used-in'] == empty %}
        <h2 id="references">References</h2>
        <p>This model is used in the following APIs:</p>
        <ul>
        {% for method in include.model['x-methods-used-in'] %}
            <li>
                <a href='../../methods/{{method}}'>{{method}}</a>
            </li>
        {% endfor %}
        </ul>
    {% endunless %}

    <ul class="normal"></ul>
    <h2 id="fields">Fields</h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Attributes</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% if include.model.properties %}
                {% for prop in include.model.properties %}
                    {% include model-property.html %}
                {% endfor %}
            {% else %}
                <!-- Model doesn't necessarily have to be object
                type (could be a string enum). If so treat it as a single "property" -->
                <!-- Note that we have to split the model into an array of its name
                and the model itself to work with our model-property template -->
                {% assign prop = "" | split: ""  %}
                {% assign prop = prop | push: include.name %}
                {% assign prop = prop | push: include.model %}
                {% include model-property.html %}
            {% endif %}
        </tbody>
    </table>
    {% if include.examplePretty %}
        <h2 id="example-addressresolutionmodel">Example {{name}}</h2>
        <pre class="highlight">{{include.examplePretty}}</pre>
    {% endif %}
    <p><br></p>
</div>
