<ul class="api-ref-side-nav nav nav-pills nav-stacked hidden-xs hidden-sm">
    <li {% if page.url == "/sdk/" %}class="active"{% endif %}><a href="/sdk/">AvaTax SDK</a></li>
    <li {% if page.url == "/sdk/soap/" %}class="active"{% endif %}><a href="/sdk/soap">SOAP SDK</a></li>
    <li {% if page.url == "/sdk/partner/" %}class="active"{% endif %}><a href="/sdk/partner">Partner SDK</a></li>
</ul>
<div class="sm-section-nav dropdown visible-xs-block visible-sm-block">
    <button id="use-case-nav" type="button" data-toggle="dropdown">Software Development Kits</button>
    <ul class="dropdown-menu" aria-labelledby="use-case-nav">
        <li><a href="/sdk/">AvaTax SDK</a></li>
        <li><a href="/sdk/soap">SOAP SDK</a></li>
        <li><a href="/sdk/partner">Partner SDK</a></li>
    </ul>
</div>
