<ul class="api-ref-side-nav nav nav-pills nav-stacked hidden-xs hidden-sm">
    <li {% if page.url == "/avatax/get-started" %}class="active"{% endif %}><a href="/avatax/get-started">Get Started with AvaTax</a></li>
    <br/>
    <li {% if page.url == "/sdk/" %}class="active"{% endif %}><a href="/sdk/">AvaTax SDK</a></li>
    <li {% if page.url == "/sdk/soap/" %}class="active"{% endif %}><a href="/sdk/soap">SOAP SDK</a></li>
     <br/>		
    <li><a target="_blank" href="https://www.nuget.org/packages/Avalara.AvaTax/">Install C# SDK via NuGet</a></li>
    <li><a target="_blank" href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22net.avalara.avatax%22">Install JRE SDK via Maven</a></li>
    <li><a target="_blank" href="https://packagist.org/packages/avalara/avataxclient">Install PHP SDK via Composer</a></li>
    <li><a target="_blank" href="https://rubygems.org/gems/avatax">Install Ruby SDK via RubyGems</a></li>
    <li><a target="_blank" href="https://www.npmjs.com/package/avatax">Install JavaScript SDK via NPMJS</a></li>
</ul>
<div class="sm-section-nav dropdown visible-xs-block visible-sm-block">
    <button id="use-case-nav" type="button" data-toggle="dropdown">Software Development Kits</button>
    <ul class="dropdown-menu" aria-labelledby="use-case-nav">
        <li><a href="/sdk/get-started-2">Get Started with AvaTax</a></li>
        <br/>
        <li><a href="/sdk/">AvaTax SDK</a></li>
        <li><a href="/sdk/soap">SOAP SDK</a></li>
        <br/>		
        <li><a target="_blank" href="https://www.nuget.org/packages/Avalara.AvaTax/">Install C# SDK via NuGet</a></li>
        <li><a target="_blank" href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22net.avalara.avatax%22">Install JRE SDK via Maven</a></li>
        <li><a target="_blank" href="https://packagist.org/packages/avalara/avataxclient">Install PHP SDK via Composer</a></li>
        <li><a target="_blank" href="https://rubygems.org/gems/avatax">Install Ruby SDK via RubyGems</a></li>
        <li><a target="_blank" href="https://www.npmjs.com/package/avatax">Install JavaScript SDK via NPMJS</a></li>
    </ul>
</div>
