<ul class="api-ref-side-nav nav nav-pills nav-stacked hidden-xs hidden-sm">
    <li {% if page.url=="/avatax/use-cases/" %}class="active" {% endif %}><a href="/avatax/use-cases">Document Workflow</a></li>
    <li {% if page.url=="/avatax/calculating-tax/" %}class="active" {% endif %}><a href="/avatax/calculating-tax">Calculating Tax</a></li>
    <li {% if page.url=="/avatax/address-validation/" %}class="active" {% endif %}><a href="/avatax/address-validation">Address Validation</a></li>
    <li {% if page.url=="/avatax/reportable-transactions/" %}class="active" {% endif %}><a href="/avatax/reportable-transactions">Reportable Transactions</a></li>
    <li {% if page.url=="/avatax/handling-return-invoices/" %}class="active" {% endif %}><a href="/avatax/handling-return-invoices">Product Returns</a></li>
    <li {% if page.url=="/avatax/handling-tax-exempt-customers/" %}class="active" {% endif %}><a href="/avatax/handling-tax-exempt-customers">Exempt Transactions</a></li>
    <li {% if page.url=="/avatax/voiding-documents/" %}class="active" {% endif %}><a href="/avatax/voiding-documents">Voiding Documents</a></li>
    <li {% if page.url=="/avatax/vat-transactions/" %}class="active" {% endif %}><a href="/avatax/vat-transactions">VAT Transactions</a></li>
    <li {% if page.url=="/avatax/drop-shipping/" %}class="active" {% endif %}><a href="/avatax/drop-shipping">Drop Shipping</a></li>
    <li {% if page.url=="/avatax/consumer-use-tax/" %}class="active" {% endif %}><a href="/avatax/consumer-use-tax">Consumer Use Tax</a></li>
    <li {% if page.url=="/avatax/batch-file-reference/" %}class="active" {% endif %}><a href="/avatax/batch-file-reference">Batch File Reference</a></li>
    <li {% if page.url=="/avatax/automated-provisioning/" %}class="active" {% endif %}><a href="/avatax/automated-provisioning">Automated Provisioning</a></li>
    <li {% if page.url=="/avatax/soap-or-rest/" %}class="active" {% endif %}><a href="/avatax/soap-or-rest">SOAP or REST</a></li>
    <li {% if page.url=="/avatax/filtering-in-rest/" %}class="active" {% endif %}><a href="/avatax/filtering-in-rest/">Filtering in REST</a></li>
    <li {% if page.url=="/avatax/authentication-in-rest/" %}class="active" {% endif %}><a href="/avatax/authentication-in-rest/">Authentication in REST</a></li>
    <li {% if page.url=="/avatax/finding-your-companyid/" %}class="active" {% endif %}><a href="/avatax/finding-your-companyid">Finding Your CompanyId</a></li>
    <li {% if page.url=="/avatax/proxy-server-settings/" %}class="active" {% endif %}><a href="/avatax/proxy-server-settings">Proxy Server Settings</a></li>
    <li {% if page.url=="/avatax/ssl-certificates/" %}class="active" {% endif %}><a href="/avatax/ssl-certificates">SSL Certificates</a></li>
    <li {% if page.url=="/avatax/errors-and-outages/" %}class="active" {% endif %}><a href="/avatax/errors-and-outages">Errors and Outages</a></li>
    <li {% if page.url=="/avatax/errors/" %}class="active" {% endif %}><a href="/avatax/errors">REST Error Codes</a></li>
    <li {% if page.url=="/avatax/common-errors/" %}class="active" {% endif %}><a href="/avatax/common-errors">SOAP Error Codes</a></li>
    <li {% if page.url=="/avatax/service-availability-and-performance/" %}class="active" {% endif %}><a href="/avatax/service-availability-and-performance">Service Availability</a></li>
    <li {% if page.url=="/avatax/going-live/" %}class="active" {% endif %}><a href="/avatax/going-live">Going Live</a></li>
    <li {% if page.url=="/avatax/cloudconnect/" %}class="active" {% endif %}><a href="/avatax/cloudconnect">Cloud Connect</a></li>

</ul>
<div class="sm-section-nav dropdown visible-xs-block visible-sm-block">
    <button id="use-case-nav" type="button" data-toggle="dropdown">Use Cases</button>
    <p>Tax Use Cases</p>
    <ul class="dropdown-menu" aria-labelledby="use-case-nav">
        <li><a href="/avatax/use-cases">Document Workflow</a></li>
        <li><a href="/avatax/calculating-tax">Calculating Tax</a></li>
        <li><a href="/avatax/address-validation">Address Validation</a></li>
        <li><a href="/avatax/reportable-transactions">Reportable Transactions</a></li>
        <li><a href="/avatax/handling-return-invoices">Product Returns</a></li>
        <li><a href="/avatax/handling-tax-exempt-customers">Exempt Transactions</a></li>
        <li><a href="/avatax/voiding-documents">Voiding Documents</a></li>
        <li><a href="/avatax/vat-transactions">VAT Transactions</a></li>
        <li><a href="/avatax/drop-shipping">Drop Shipping</a></li>
        <li><a href="/avatax/consumer-use-tax">Consumer Use Tax</a></li>
        <li><a href="/avatax/batch-file-reference/">Batch File Reference</a></li>
        <li><a href="/avatax/automated-provisioning">Automated Provisioning</a></li>
        <li><a href="/avatax/soap-or-rest">SOAP or REST</a></li>
        <li><a href="/avatax/filtering-in-rest/">Filtering in REST</a></li>
        <li><a href="/avatax/authentication-in-rest/">Authentication in REST</a></li>
        <li><a href="/avatax/finding-your-companyid">Finding Your CompanyId</a></li>
        <li><a href="/avatax/proxy-server-settings">Proxy Server Settings</a></li>
        <li><a href="/avatax/ssl-certificates">SSL Certificates</a></li>
        <li><a href="/avatax/errors-and-outages">Errors and Outages</a></li>
        <li><a href="/avatax/errors">REST Error Codes</a></li>
        <li><a href="/avatax/common-errors">SOAP Error Codes</a></li>
        <li><a href="/avatax/service-availability-and-performance">Service Availability</a></li>
        <li><a href="/avatax/going-live">Going Live</a></li>
        <li><a href="/avatax/cloudconnect">Cloud Connect</a></li>
    </ul>
</div>
