.api-doc-parameter-name {
    font-size: 17px;
}

.small-required-text {
    margin-bottom: 10px;
}

.api-doc-left-col {
    text-align: right;
}

body {
    font-family: 'source sans pro regular', sans serif;
    color: $Dark-grey;
    font-size: 14px;
    line-height: 20px;
}

h2, h3 {
    color: $Ava-orange;
}

.documentation-parameter-body {
    padding: 5px;
    /* Cancel out the Bootstrap negative margins */
    margin-left: 0;
    margin-right: 0;

    div {
        overflow: auto;
        text-overflow: ellipsis;
    }
}

.auth-input {
    max-width: 47%;
}

.postBodySectionHeader {
    width: 100%;
}

.api-documentation-section-header {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.documentation-collapseable-section {
    border: 1px solid lightgrey;
    & & {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}

.documentation-collapseable-section {
    div.documentation-parameter-body {
        background: #f5f6fa;
    }

    & +:not(.documentation-parameter-body) {
        border-bottom: 1px solid lightgrey;
    }

    border: 1px solid lightgrey;

    & & {
        border-left: none;
        border-right: none;
    }
}

.documentation-expand-icon {
    fill: $Ava-blue;

    transition-duration: 0.4s;
    transition-property: transform;
    animation-fill-mode: forwards;

}

.documentation-expand-icon.rotate {
        transform: rotate(180deg);
}

/* overwrite the _typography 0px bottom margin for our documentation headers */
.api-doc-header {
    margin-bottom: 10px;
}

.try-it-now-header {
    display: inline-block;
    color: $Ava-orange;
    cursor: pointer;
    font-size: 18px;

    div.documentation-expand-icon {
        fill: $Ava-orange;
    }

    &:hover {
        color: $Darker-Ava-orange;

        div.documentation-expand-icon {
            fill: $Darker-Ava-orange;
        }
    }
}

.doc-section-header-nest-1 {
    background: $Darkest-blue;
    color: white;

    .api-doc-parameter-name {
        color: white;
    }

    .documentation-expand-icon {
        fill: white;
    }
}

.doc-section-header-nest-2 {
    background: $Highlight-blue;
}

.doc-section-header-nest-3 {
    background: white;
}

.doc-section-header-nest-2,.doc-section-header-nest-3 {
    color: $Darkest-blue;

    .api-doc-parameter-name {
        color: $Darkest-blue;
    }

    .documentation-expand-icon {
        fill: $Darkest-blue;
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .older-api {
    background: white;
    color: $Ava-orange;
}



.hidden {
    display: none;
}

.code-snippet-plaintext {
    background: #5f6062;
    border: 1px solid #75c5e4;
    color: whitesmoke;
    font: 13px Menlo;
    margin-top: 5px;
    padding: 10px;
    overflow: auto;
}

/* Override bootstraps default padding for nav items to fit more on the page */
.api-ref-side-nav > li > a,.api-ref-side-nav-active > li > a {
    padding: 2.5px 0;
}

.api-label-text {
    font-family: 'source sans pro regular', sans serif;
    font-size: 11px;
    color: #919195 ;
    letter-spacing: 0.1rem;
    line-height:16px;
    text-transform: none;
}

.api-ref {
    width: auto;
    max-width: 25%;
}

.code-example-content {
    height: auto;
    min-height: 150px;
}
