#api-console {
    padding-left: ($grid-gutter-width / 2);
}
.api-console-form-wrapper {
    background: whitesmoke;
    padding: 5px;
    word-break: break-all;
    padding-left: 15px;
}

.api-console-output {
    color: white;
    background: $Darkest-grey;
    word-break: break-all;
    padding: 5px;
}

.m-l-1 {
    margin-left: 1rem;
}

.code-snippet {
    border: 1px solid #71e4ff;
    padding: 10px;
    margin: 10px;
    overflow: auto;

    .string {
        color: #71e4ff;
    }
    .number {
        color: #fc88ff;
    }
    .boolean {
        color: #fc88ff;
    }
    .null {
        color: #fc88ff;
    }
    .key {
        color: #8fffa7;
    }
    .punctuation {
        color: #fceb51;
    }
}

.highlighted-field {
        background: #fceb51;
        &.string {
            color: darken(#71e4ff, 40%);
        }
        &.number, &.boolean, &.null {
            color: darken(#fc88ff, 40%);
        }
        &.key {
            color: darken(#8fffa7, 40%);
        }
    }

.code-snippet-code-text .highlighted-field {
    color: darken(#8fffa7, 40%);
}

.code-snippet-code-text {
    color: #8fffa7;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
}

.code-snippet pre {
    background: $Darkest-grey;
    border: none;
}

.hdr-btn-adj-text {
    padding-top: 22px;
}

.api-console-post-form {
    .api-console-input-section {
        padding-left: 7.5px;
        padding-right: 7.5px;
        padding-bottom: 3.5px;
        margin-bottom: 7.5px;
        text-transform: capitalize;

        h4 {
            font-weight: bold;
        }

        &:first-child {
            margin-right: 10px;
        }

        &:not(:first-child) {
            background: white;
            padding: 3.5px 7.5px 3.5px 7.5px;

            h4 {
                color: $Darkest-grey;
            }
        }
        .resetIndentation {
            margin-right: 0;
            padding-right: 0;
            padding-left: 0;
        }

        & .api-console-input-section .api-console-input-section {
            @extend .resetIndentation;
        }

        & .api-console-input-section > .api-console-input-section {
            padding-right: 10px;
            padding-left: 10px;
        }

        & .api-console-input-section > .api-console-input-section .api-console-input-section {
            @extend .resetIndentation;
        }
    }
}

h5.console-output-header {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.api-console.row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Strangely fixes webkit flexbox-bootstrap row compat. issues. Sure... */
.api-console.container:before,
.api-console.container:after,
.api-console.row:before,
.api-console.row:after {
    content: normal;
}

.api-console.row > .api-console-form-wrapper, .api-console-output {
    display: flex;
    flex-direction: column;
}

.clickable {
    color: $Darkest-blue;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.clickable:hover {
    color: $Ava-blue;
    text-decoration: none;
}

.api-console-section-header {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
}
