.api-console-form-wrapper {
    // background: $Rule-grey;
    background: whitesmoke;
    padding: 5px;
    // display: table-cell;
    word-break: break-all;
    padding-left: 15px;
    // float: none;
}

.api-console-output {
    color: white;
    background: dimgrey;
    // display: table-cell;
    word-break: break-all;
    // float: none;
    padding: 5px;
}

.console-req-container {
    padding-right: 2.5px;
}

.console-res-container {
    padding-left: 2.5px;
}

.code-snippet {
    border: 1px solid #71e4ff;
    padding: 10px;
    margin: 10px;
    overflow: scroll;

    .string {
        color: #71e4ff;
    }
    .number {
        color: #fc88ff;
    }
    .boolean {
        color: #fc88ff;
    }
    .null {
        color: #fc88ff;
    }
    .key {
        color: #8fffa7;
    }
    .punctuation {
        color: #fceb51;
    }
}

.code-snippet-code-text {
    color: #8fffa7;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
}

.code-snippet pre {
    background: dimgrey;
    border: none;
}

.hdr-btn-adj-text {
    padding-top: 22px;
}

.api-console-post-form {
    .api-console-input-section {
        padding-left: 7.5px;
        padding-right: 7.5px;
        padding-bottom: 3.5px;
        margin-bottom: 7.5px;
        text-transform: capitalize;

        h4 {
            font-weight: bold;
        }

        &:first-child {
            margin-right: 10px;
        }

        &:not(:first-child) {
            background: white;

            h4 {
                color: $Darkest-grey;
            }
        }

        & .api-console-input-section:first-of-type {
            margin-right: 0;
            padding-right: 0;
            padding-left: 0;
        }
        & .api-console-input-section .api-console-input-section {
            margin-right: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }

        & .api-console-input-section > .api-console-input-section {
            margin-right: 10px;
            padding-right: 10px;
            padding-left: 10px;
        }

        & .api-console-input-section > .api-console-input-section .api-console-input-section {
            margin-right: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

h5.console-output-header {
    color: white;
    font-weight: bold;
}

.api-console.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.api-console.row > .api-console-form-wrapper, .api-console-output {
    display: flex;
    flex-direction: column;
}

.clickable {
    color: $Ava-blue;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
        color: darken($Ava-blue, 10%);
    }
}

.api-console-section-header {
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
}

.documentation-collapseable-section {
    border: 1px solid lightgrey;
    & & {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}
