/* The `Object` or `Array Of` (could change) text that tops a Request or Response's documentation */
.api-documentation-req-or-res-type {
    text-align: right;
}

.small-required-text {
    font-size: 12px;
    color: $Ava-orange;
}

.api-doc-left-col {
    text-align: right;
}

body {
    font-family: 'source sans pro regular', sans serif;
    color: $Dark-grey;
    font-size: 14px;
    line-height: 20px;
}

h2, h3 {
    color: $Ava-orange;
}

.documentation-parameter-body {
    padding: 5px;
    /* Cancel out the Bootstrap negative margins */
    margin-left: 0;
    margin-right: 0;

    div {
        overflow: auto;
        text-overflow: ellipsis;
    }
}

.postBodySectionHeader {
    width: 100%;
}

.api-documentation-section-header {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.documentation-collapseable-section {
    div.documentation-parameter-body {
        background: #f5f6fa;
    }
    
    border: 1px solid lightgrey;
    & & {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

.documentation-expand-icon {
    border-radius: 50%;
    border: 2px solid $Ava-blue;
    padding: 2.4px;
    color: $Ava-blue;
    text-align: center;

    transition-duration: 0.4s;
    transition-property: transform;
    animation-fill-mode: forwards;

}

.documentation-expand-icon.rotate {
        transform: rotate(180deg);
}

.try-it-now-header {
    display: inline-block;
    color: $Ava-blue;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
        color: $Darkest-blue;

        span.documentation-expand-icon {
            color: $Darkest-blue;
            border-color: $Darkest-blue;
        }
    }
}

.doc-section-header-nest-1 {
    background: $Darkest-blue;
    color: white;

    .api-doc-parameter-name {
        color: white;
    }

    .documentation-expand-icon {
        color: white;
        border-color: white;
    }
}

.doc-section-header-nest-2 {
    background: $Highlight-blue;
}

.doc-section-header-nest-3 {
    background: white;
}

.doc-section-header-nest-2,.doc-section-header-nest-3 {
    color: $Darkest-blue;

    .api-doc-parameter-name {
        color: $Darkest-blue;
    }

    .documentation-expand-icon {
        color: $Darkest-blue;
        border-color: $Darkest-blue;
    }
}

// .doc-section-header-nested {
//     color: white;

    // .documentation-expand-icon {
    //     color: white;
    //     border-color: white;
    // }

    // &:hover {
    //     color: whitesmoke;

    //     span.documentation-expand-icon {
    //         color: whitesmoke;
    //         border-color: whitesmoke;
    //     }
    // }
// }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: white;
    color: $Ava-orange;
}

.hidden {
    display: none;
}

.affix {
    /* This defaults to 141px for dumb reasons, don't waste the screen space */
    top: 0px;
    /* When nav is fixed, it loses the col-sm-3 class of its parent, so replicate its size restriction */
    width: 25%;
}

.affix-bottom {
    position: relative
}

.code-snippet-plaintext {
    background: #5f6062;
    border: 1px solid #75c5e4;
    color: whitesmoke;
    font: 13px Menlo;
    margin-top: 5px;
    padding: 10px;
    overflow: scroll;
}

.endpoint-summary, .api-summary {
    max-width: 650px;
}

/* Override bootstraps default padding for nav items to fit more on the page */
.api-ref-side-nav > li > a,.api-ref-side-nav-active > li > a {
    padding: 2.5px 10px;
}

@media(max-width: 770px) {
    .nav-wrapper {
        display: none;
    }
}

@media(max-width: $bootstrap-md) {
    .api-documentation-req-or-res-type {
        text-align: left;
    }

    .api-doc-parameter-name, .api-doc-left-col, .small-required-text {
        text-align: left;
    }
}

.api-label-text {
    font-family: 'source sans pro regular', sans serif;
    font-size: 11px;
    color: #919195 ;
    letter-spacing: 0.1rem;
    line-height:16px;
    text-transform: uppercase;
}