.blog-preview {
    background: $Form-fill;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    height: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 1px solid $Form-top;
    border-bottom: 1px solid $Disabled;
    border-left: 1px solid $Form-sides;
    border-right: 1px solid $Form-sides;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    .gradient {
        background: linear-gradient(to bottom, transparent, $Form-fill);
        height: 58px;
        position: absolute;
        top: 165px;
        left: 0;
        z-index: 100;
        width: 100%;
    }

    .btn-blog {
        @extend .mouse;
        border-color: $Darkest-blue;
        border-width: 2px;
        position: absolute;
        bottom: 15px;
        left: 15px;
        &:hover {
            color: $Ava-blue;
        }
    }

    .blog-excerpt {
        padding-top: 10px;
    }

    .blog-preview-image {
        width: 100%;
    }


    .readMore {
        position: absolute;
        bottom: 0;
        z-index: 100;
        margin: 0 -15px;
        height: 75px;
        width: 100%;
        background-color: $Form-fill;
    }
}

.recent-posts {
    height: 100px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.blog-pagination {
    @extend .pipe;
    @extend .padding-bottom;
    li.page_number {color:inherit}
    li.next,
    li.previous {
        color: $Disabled;
    }
}

.blog-content img {
    max-width: 100%;
    height: auto;
}

.blog-content col {
        width: 650px;  
}

.byline {
    font-size: 14px;
    color: $Dark-grey;
}
//changes not only the blog posts but the article content style as well
body {
    font-family: "source sans pro light";
    font-size: 16px;
    color: $Darkest-grey;
    line-height: 24px;
}

.byline {
    font-size: 14px;
    color: $Darkest-grey;
}

.recent-blog-posts {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 80%;
    
    h2 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom:0px;
    }

    h1 {
        padding-left: 15px;
        margin-top: 0px;
        padding-top: 10px;
    }

    p.whats-new {
        padding-left: 15px;
        font-size: 20px;
    }

    button {
        color:#027fad;
        background-color: #fff;
        font-weight: normal;
        font-family: 'source sans pro regular', sans serif;
    }
}

