@font-face {
    font-family: 'source code pro regular';
    src: url('/public/css/fonts/avalara/sourcecodepro-regular-webfont.woff2') format('woff2'),
    url('/public/css/fonts/avalara/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source sans pro regular';
    src: url('/public/css/fonts/avalara/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('/public/css/fonts/avalara/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source sans pro bold';
    src: url('/public/css/fonts/avalara/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('/public/css/fonts/avalara/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source sans pro light';
    src: url('/public/css/fonts/avalara/sourcesanspro-light-webfont.woff2') format('woff2'),
    url('/public/css/fonts/avalara/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apertura regular';
    src: url('/public/css/fonts/avalara/apertura-regular-webfont.woff2') format('woff2'),
    url('/public/css/fonts/avalara/apertura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.glyphicon-info-sign {
    font-size: 12px;
}
