$Ava-orange: #ff6600;
$Darker-Ava-orange: #e65000;
$Darkest-blue: #027fad;
$Ava-blue: #059bd2;
$Active-blue: #21b7f9;
$Highlight-blue: #e4eff6;

// TEMPORARY -- Should replace with Ava colors 
$blue-xdark: #03749E;
$blue-dark: #0788B8;
$blue-med: #0BA3DB;
$blue-light: #38BBF5;
$blue-super-light: #B8DDF5;
// ------

$Rule-grey: #d7d7d7;
$Darkest-grey: #5f6062;
$Dark-grey:#72767e;
$Medium-grey: #919195;

$Status-red: #c70000;
$Status-yellow: #fedb4f;
$Status-green: #22ae36;

$Syntax-pink: #fc88ff;
$Syntax-green: #8fffa7;
$Syntax-blue: #71e4ff;
$Syntax-yellow: #fceb51;
$Selected-light-blue:#e4eff6;

$Disabled: #cccccc;

$Pipes: $Disabled;
$Form-fill: #f5f6fa;
$Form-top: #e7e7e7;
$Form-sides: #f2f3f7;
$Form-bottom: $Disabled;


.text-blue {
    color:$Ava-blue;
}

/* Bootstrap grid thresholds */
$bootstrap-md: 992px;
$bootstrap-sm: 768px;


$icon-font-path: '/public/css/fonts/bootstrap/';
$navbar-default-link-active-bg: $Ava-orange;
$navbar-default-link-active-color: white;
