@import './settings';
@import './bootstrap';
@import './fonts';
@import './typography';
@import './avaform';
@import './api-reference';
@import './api-console';
@import './icomoon';

.mouse {
    cursor: pointer;
}

.btn {
    font-family: 'source sans pro bold';
    font-size: 1.14em;
}

.btn-callout {
    padding: 30px 0 60px;
    [role="button"] {
        background-color: $Darkest-blue;
        border-color: white;
        border-radius: 4px;
        color: white;
        font-family: 'source sans pro bold', Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .035em;
        padding: ($grid-gutter-width / 2) ($grid-gutter-width);
        transform: matrix(1, 0, 0, 1, -89, 0);
        transition-delay: 0s;
        transition-duration: 0.75s;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        white-space: nowrap;
        &:hover {
            text-decoration: none;
        }
    }
}

.bg-map {
    background-image: url(/images/devdot/DevDotSvgGAssets_MapBG.svg);
    background-repeat: repeat;
}

.bg-white {
    background: white;
}

.bg-fill {
    background: $Form-fill;
}

.ring-shadow {
    @extend .col-xs-2;
    @extend .text-center;
    background: white;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    box-shadow: -10px 0px 5px #eeeeee;
    margin-left: -($grid-gutter-width / -2);
    min-height: 225px;
    &:first-of-type {
        @extend .col-xs-offset-2;
    }
}

.pipe {
    padding: 0;
    margin: 0;
    li {
        color: $Ava-blue;
        list-style: none;
        display: inline;
        white-space: nowrap;
        a {
            color: inherit;
            white-space: inherit;
        }
        &:after {
            content: " |";
            color: $Disabled;
            font-family: 'source sans pro light';
            padding: 0 1em;
        }
        &:last-child:after {
            content: "";
        }

    }
}

.breadcrumbs {
    @extend .row;
    @extend .padding-top;
    @extend .padding-bottom;
    .pipe li {
        color: inherit;
        a {
            color: $Ava-blue;
        }
    }
}

.border-top {
    border-top: 2px solid #d7d7d7;
}

.padding-top {
    padding-top: 2em;
}

.padding-bottom {
    padding-bottom: 2em;
}

.margin-left {
    margin-left: ($grid-gutter-width / 2);
}

.half {
    @media(min-width: $screen-sm-min) {
        width: $screen-xs-max;
    }
}

.slash {
    color: $Disabled;
}

.pageTitle {
    font-family: 'apertura regular';
    text-transform: capitalize;
    &, a {
        color: $Medium-grey;
        font-size: 26px;
        img {
            width: 100px;
            margin-top: -10px;
            margin-right: 3px;
        }
    }
    span {
        font-size: 26px;
    }
}

.form-group {
    .form-control-feedback {
        display: none;
        width: auto;
        right: .5em;
    }
    &.has-feedback .form-control-feedback {
        display: block;
    }
}

header {
    background-color: $Form-fill;
    .pageTitle {
        @extend .pageTitle;
        padding: $grid-gutter-width / 2;
        @media(min-width: $screen-sm-min) {
            padding: ($grid-gutter-width / 2) $grid-gutter-width;
        }
    }
    .navbar-default {
        background-color: $Ava-orange;
        border-top: 2px solid $Darker-Ava-orange;
        border-bottom: 2px solid $Form-bottom;
        color: white;
        margin-bottom: 0;

        .navbar-toggle {
            float: left;
            margin-left: $grid-gutter-width / 2;
            &:hover, &:focus {
                background-color: $Darker-Ava-orange;
            }
        }
        .navbar-collapse {
            padding: 0;
        }
        .navbar-nav {
            @media(max-width: $screen-xs-max) {
                margin: 0 -15px;
            }

            li {
                @media(max-width: $screen-xs-max) {
                    padding: 0 1em;
                }
                a {
                    @media(min-width: $screen-sm-min) {
                        padding: ($grid-gutter-width / 2) $grid-gutter-width;
                    }

                    font-family: 'source sans pro bold';
                    letter-spacing: .1em;
                    @extend .mouse;
                    color: inherit;

                    &:hover {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                &:hover,
                &:focus,
                &.open > a,
                &.open > a:hover,
                &.open > a:focus {
                    background-color: $Darker-Ava-orange;
                }
                &.open .caret {
                    border-top: 0;
                    border-bottom: 4px dashed;
                    border-bottom: 4px solid \9
                ;
                    content: "";
                }
            }
            &.home li.home,
            &.apis li.apis,
            &.certification li.certification,
            &.resources li.resources {
                background-color: $Darker-Ava-orange;
            }
            .dropdown-large {
                position: static;

                .dropdown-menu-large {
                    background-color: $Form-fill;
                    padding: 20px 10px;
                    max-width: 775px;

                    ul {
                        padding-left: 0;
                        margin-top: 10px;
                    }
                    li {
                        list-style: none;
                        &:hover {
                            background-color: inherit;
                        }
                    }
                    a {
                        font-family: arial;
                        color: $Ava-blue;
                        padding: 0;
                        @media(min-width: $screen-sm-min) {
                            padding: 0;
                        }
                    }
                    .pipe {
                        @extend .pipe;
                    }
                }
            }
            .hdr-search-icon {
                &:hover {
                    background-color: $Ava-orange;
                }
                i {
                    padding-left: 2em;
                    font-size: 150%;
                    margin-top: .5em
                }
            }

            .hdr-search-form {
                position: absolute;
                background: white;
                border-top: 1px solid $Form-top;
                border-bottom: 1px solid $Form-bottom;
                border-left: 1px solid $Form-sides;
                border-right: 1px solid $Form-sides;
                top: -32px;
                width: 400px;
                padding: 1em 1em 0 1em;
                z-index: 1000;
                right: -20em;
                @media(max-width: $screen-md-max) {
                    right: 0;
                }

                @media (min-width: $screen-md-min) {
                    left: 591px;
                }

                .close {
                    margin-top: -5px;
                    color: #337ab7;
                    opacity: 1;
                    &:hover {
                        color: #286090;
                        opacity: 1;
                    }
                }
                .row:first-of-type {
                    padding-bottom: 5px;
                }
                .form-group.no-product {
                    margin-top: 29px;
                }
                .form-group:first-of-type {
                    padding-right: 0;
                }
                .form-group:last-of-type {
                    text-align: right;
                }
                label {
                    color: $Medium-grey;
                    font-weight: normal;
                    .capitalize {
                        text-transform: capitalize;
                    }
                }
                input[type="search"] {
                    color: $Darkest-grey;
                    margin-bottom: 5px;
                }
                input[type="checkbox"] {
                    border: 1px solid $Rule-grey;
                    font-size: 16px;
                }
            }
        }
    }
}

footer {
    @extend .border-top;
    background: $Form-fill;
    padding: $grid-gutter-width / 2;
    @media(min-width: $screen-sm-min) {
        padding: ($grid-gutter-width / 2) $grid-gutter-width;
    }

    a {
        color: $Ava-blue;
        font-family: 'apertura regular';
        font-size: 20px;
        font-weight: normal;
        line-height: 24px;
        &:hover {
            text-decoration: none;
        }
    }

    .global {
        float: left;
        padding: 0;
        @media(max-width: $screen-xs-max) {
            float: none;
        }

        li {
            list-style-type: none;
            display: inline-block;
            padding-right: 40px;

            &:last-child {
                margin-right: 0;
            }
            span {
                padding-right: .25em;
            }
        }
    }
    .social {
        float: right;
        margin-bottom: 0;
        padding-left: 0;
        @media(max-width: $screen-xs-max) {
            float: none;
            margin-bottom: 10px;
        }
        li {
            list-style-type: none;
            margin-right: 1em;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
        }
        .icon {
            @extend .text-hide;
            font: inherit;
            height: 25px;
            width: 25px;
            display: inline-block;
            background-repeat: no-repeat;
        }
        .twitter a {
            @extend .icon;
            background-image: url(/images/devdot/DevDotSvgGAssets_Twitter.svg);
        }
        .facebook a {
            @extend .icon;
            background-image: url(/images/devdot/DevDotSvgGAssets_Facebook.svg);
        }
        .linkedin a {
            background-image: url(/images/devdot/DevDotSvgGAssets_LinkedIn.svg);
            @extend .icon;
        }
        .youtube a {
            @extend .icon;
            background-image: url(/images/devdot/DevDotSvgGAssets_YouTube.svg);
        }
    }
    .legal {
        @extend .pipe;
        clear: both;
        li {
            color: $Medium-grey;
            list-style-type: none;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $Ava-blue;
                font-size: 14px;
                line-height: 16.8px;
                padding-right: 0;
            }
        }
    }
}

.search {
    .form-group:first-of-type {
        padding-right: 0;
    }
}
