@import './settings';
@import './bootstrap';
@import './fonts';
@import './typography';
@import './avaform';
@import './api-reference';
@import './api-console';
@import './icomoon';
@import './blog';
@import './syntax-highlighting';

html, body {
    overflow-x: hidden;
}

.mouse {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

.btn {
    font-family: 'source sans pro bold', sans serif;
    font-size: 1.14em;
}



.btn-callout {
    padding: 30px 0 60px;
    [role="button"] {
        @extend .mouse;
        background-color: $Darkest-blue;
        border-color: white;
        //according to JIRA DX-277 --> no corner-radius on this style
        //border-radius: 4px;
        color: white;
        font-family: 'source sans pro bold', Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .035em;
        padding: ($grid-gutter-width / 2) ($grid-gutter-width);
        white-space: nowrap;
        &:hover {
            text-decoration: none;
        }
    }
}

.btn-signup {
    float: right;
    margin: 5px 20px 0 20px;

    @media(max-width:$screen-md-max) {
        margin: 5px 40px 5px 20px;
    }

    @media(max-width: 767px) {
        float: left;
        margin: 0 0 10px 0;
    }

    /*@media(max-width: $screen-xs-min) {
        float: left;
        margin: 0 0 10px 0;
    }*/


}

.bg-map {
    background-image: url(/public/images/devdot/DevDotSvgGAssets_MapBG.svg);
    background-repeat: repeat;
}

// IE11 hack
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .bg-map {
        background-size: 600px 510px;
    }
}

.bg-white {
    background: white;
}

.bg-fill {
    background: $Form-fill;
}

.ring-shadow {
    @extend .col-sm-2;
    @extend .text-center;
    background: white;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    @media(min-width: $screen-sm-min) {
        box-shadow: -10px 0px 5px #eeeeee;
    }
    margin-left: ($grid-gutter-width / -2);
    min-height: 225px;
    &:first-of-type {
        @extend .col-sm-offset-2;
    }
}

.pipe {
    padding: 0;
    margin: 0;
    li {
        color: $Ava-blue;
        list-style: none;
        display: inline-block;
        white-space: nowrap;
        a {
            color: inherit;
            white-space: inherit;
        }
        &:after {
            content: " |";
            color: $Disabled;
            font-family: 'source sans pro light', sans serif;
            padding: 0 1em;
        }
        &:last-child:after, .no-separator {
            content: "";
            padding: 0;
        }

    }
}

.padding-marginbottom {
margin-bottom:33px;
}

.text-colorchange {
color: $Medium-grey;
}

.breadcrumbs {
    @extend .row;
    @extend .padding-top;
    @extend .padding-bottom;
    margin-left: 0;
    margin-right: 0;
    .pipe li {
        color: inherit;
        a {
            color: $Ava-blue;
        }
    }
    &.blog {
        padding-bottom: 0;
        .col-md-12 {
            padding-left: 0;
        }
    }
}

.border-top {
    border-top: 2px solid #d7d7d7;
}

.padding-top {
    padding-top: 2em;
}

.padding-bottom {
    padding-bottom: 2em;
}

.padding-sides {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.margin-left {
    margin-left: ($grid-gutter-width / 2);
}

.half {
    @media(min-width: $screen-md-min) {
        width: $screen-sm-max;
    }
}

.slash {
    color: $Disabled;
}

.pageTitle {
    font-family: 'apertura regular';
    text-transform: capitalize;
    padding-bottom: 10px;
    &, a {
        color: $Medium-grey;
        font-size: 26px;
        img {
            height: 20px;
            margin-top: -5px;
            margin-right: 3px;
        }
    }
    span {
        @extend h4;
    }
}

.form-group {
    .form-control-feedback {
        display: none;
        width: auto;
        right: .5em;
    }
    &.has-feedback .form-control-feedback {
        display: block;
    }
}

header {
    background-color: $Form-fill;
    .pageTitle {
        @extend .pageTitle;
        padding: ($grid-gutter-width / 2) $grid-gutter-width;
    }
    .navbar-default {
        background-color: $Ava-orange;
        border-top: 2px solid $Darker-Ava-orange;
        border-bottom: 2px solid $Form-bottom;
        color: white;
        margin-bottom: 0;

        .navbar-toggle {
            float: left;
            margin-left: $grid-gutter-width;
            &:hover, &:focus {
                background-color: $Darker-Ava-orange;
            }
        }
        .navbar-nav {
            @media(max-width: $screen-xs-max) {
                margin-left: ($grid-gutter-width / -2);
                margin-right: ($grid-gutter-width / -2);
            }

            li {
                @media(max-width: $screen-xs-max) {
                    padding: 0 1em;
                }
                a {

                    font-family: 'source sans pro bold', sans serif;
                    letter-spacing: .1em;
                    @extend .mouse;
                    color: inherit;

                    &:hover {
                        color: inherit;
                        text-decoration: none;
                    }
                }
                &:hover,
                &:focus,
                &.open > a,
                &.open > a:hover,
                &.open > a:focus {
                    background-color: $Darker-Ava-orange;
                }
                &.open .caret {
                    border-top: 0;
                    border-bottom: 4px dashed;
                    border-bottom: 4px solid \9
                ;
                    content: "";
                }
            }
            &.home li.home,
            &.apis li.apis,
            &.certification li.certification,
            &.resources li.resources ,
            &.sdk li.sdk,
            &.tests li.tests{
                background-color: $Darker-Ava-orange;
            }
            .dropdown-large {
                position: static;

                .dropdown-menu-large {
                    background-color: $Form-fill;
                    padding: 20px;
                    border-bottom-left-radius: 0;
                    ul {
                        padding-left: 0;
                        margin-top: 10px;
                    }
                    li {
                        list-style: none;
                        margin-bottom: 6px;
                        &:hover {
                            background-color: inherit;
                        }
                    }
                    a {
                        font-family: 'source sans pro regular', sans serif;
                        color: $Darkest-blue;
                        padding: 0;
                        letter-spacing: normal;
                        @media(min-width: $screen-md-min) {
                            padding: 0;
                        }
                    }
                    .pipe {
                        @extend .pipe;
                        li {
                            margin-bottom: 6px;
                        }
                    }
                }
            }
            .hdr-search-icon {
                &:hover {
                    background-color: $Ava-orange;
                }
                i {
                    padding-left: 2em;
                    font-size: 150%;
                    margin-top: .5em
                }
            }

            .hdr-search-form {
                position: absolute;
                background: white;
                border-top: 1px solid $Form-top;
                border-bottom: 1px solid $Form-bottom;
                border-left: 1px solid $Form-sides;
                border-right: 1px solid $Form-sides;
                top: -32px;
                width: 400px;
                padding: 1em 1em 0 1em;
                z-index: 1000;
                right: -20em;
                @media(max-width: $screen-md-max) {
                    right: 0;
                }

                @media (min-width: $screen-md-min) {
                    left: 591px;
                }

                .close {
                    margin-top: -5px;
                    color: #337ab7;
                    opacity: 1;
                    &:hover {
                        color: #286090;
                        opacity: 1;
                    }
                }
                .row:first-of-type {
                    padding-bottom: 5px;
                }
                .form-group.no-product {
                    margin-top: 29px;
                }
                .form-group:first-of-type {
                    padding-right: 0;
                }
                .form-group:last-of-type {
                    text-align: right;
                }
                label {
                    color: $Medium-grey;
                    font-weight: normal;
                    .capitalize {
                        text-transform: capitalize;
                    }
                }
                input[type="search"] {
                    color: $Darkest-grey;
                    margin-bottom: 5px;
                    border-collapse: $Rule-grey;
                }
                input[type="checkbox"] {
                    border: 16px solid $Rule-grey;
                    font-size: 16px;
                }
            }
        }
    }
}

footer {
    @extend .border-top;
    background: $Form-fill;
    // padding: $grid-gutter-width;
    padding: 20px 20px 20px 20px;

    a {
        color: $Darkest-blue;
        font-family: 'apertura regular';
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        &:hover {
            text-decoration: none;
        }
    }

    .global {
        float: left;
        padding: 0;
        @media(max-width: $screen-xs-max) {
            float: none;
        }

        li {
            list-style-type: none;
            display: inline-block;
            padding-right: 40px;
            font-size: 16px;

            &:last-child {
                margin-right: 0;
            }
            span {
                padding-right: 10px;
                padding-bottom: 0px;
                font-size: 20px;
                vertical-align: -3px;
            }
        }
    }

    .social {
        float: right;
        margin-bottom: 0;
        padding-left: 0;
        @media(max-width: $screen-xs-max) {
            float: none;
            margin-bottom: 10px;
        }
        li {
            list-style-type: none;
            margin-right: 30px;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
        }
        .icon {
            @extend .text-hide;
            font: inherit;
            height: 25px;
            width: 25px;
            display: inline-block;
            background-repeat: no-repeat;
        }

        /*
            5/23/2017
            Since we place the social icons as background-images, it makes them hard to manipulate
            such as changing the fill color on hover/click. That being said, quick-fix for right now
            is just to target a 'new' .svg with the correct color. Doesn't seem efficient, but does
            the job until a better solution is found. Tried everything from svg:hover, .class:hover,
            a:hover, etc - doesn't seem to work
        */

        .twitter a {
            @extend .icon;
            background-image: url(/public/images/devdot/TwitterIcon.svg);

            &:hover {
                background-image: url(/public/images/devdot/TwitterIconHover.svg);
            }
            &:active {
                background-image: url(/public/images/devdot/TwitterIconClick.svg);
            }
        }
        .facebook a {
            @extend .icon;
            background-image: url(/public/images/devdot/FacebookIcon.svg);

            &:hover {
                background-image: url(/public/images/devdot/FacebookIconHover.svg);
            }
            &:active {
                background-image: url(/public/images/devdot/FacebookIconClick.svg);
            }
        }
        .linkedin a {
            background-image: url(/public/images/devdot/LinkedinIcon.svg);
            @extend .icon;

            &:hover {
                background-image: url(/public/images/devdot/LinkedinIconHover.svg);
            }
            &:active {
                background-image: url(/public/images/devdot/LinkedinIconClick.svg);
            }
        }
        .youtube a {
            @extend .icon;
            background-image: url(/public/images/devdot/YoutubeIcon.svg);

            &:hover {
                background-image: url(/public/images/devdot/YoutubeIconHover.svg);
            }
            &:active {
                background-image: url(/public/images/devdot/YoutubeIconClick.svg);
            }
        }

    }

    .legal {
        @extend .pipe;
        clear: both;
        float: left;
        padding-top: 30px;
        li {
            color: $Medium-grey;
            list-style-type: none;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $Darkest-blue;
                font-size: 14px;
                line-height: 16.8px;
                padding-right: 0;
            }
        }
    }

    .github {
        clear: right;
        float: right;
        padding-top: 30px;
        text-align: right;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                color: $Darkest-blue;
                font-size: 14px;
                line-height: 16.8px;
                padding-right: 0;
                margin-right: 0;
            }
        }

        @media(max-width: $screen-xs-max) {
            float: none;
        }

    }

    .github-icon span {
            @extend .icon;
            background-image: url(/public/images/devdot/GitHubIcon.svg);

            &:active {
                background-image: url(/public/images/devdot/GitHubIconClick.svg);
            }
            background-repeat: no-repeat;
            color: transparent;
            vertical-align: 2px;
    }

    .github-icon a:active span {
        background-image: url(/public/images/devdot/GitHubIconClick.svg);
    }

    &.navbar {
        margin-bottom: 0;
    }
}

.search {
    .form-group:first-of-type {
        padding-right: 0;
    }
}

.gsfn_link:after {
    content: ' - '
}

.styled-table {
    border: none;
    border-bottom: 1px solid $Rule-grey;
    border-top: 1px solid $Form-top;
    border-collapse: separate;
    width: 100%;
    thead {
        background-color: #fff;
        th {
            color: $Dark-grey;
            font-weight: normal;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 0.07em;
            vertical-align: bottom;
        }
    }
    tbody {
        background-color: $Form-fill;
        &:first-of-type tr:first-of-type {
            border-top: 1px solid #ddd;

        }
        tr {
            &:first-of-type td {
                border-top: none;
            }
            &.no-top-border td {
                border-top: none;
            }
            &.no-bottom-border td {
                border-bottom: none
            }
        }
        td {
            vertical-align: top;
            line-height: 2rem;
            border-bottom: 1px solid $Rule-grey;
            border-top: 6px solid #fff;
        }
    }
    td, th {
        padding: 5px 10px;
    }
}

.mobile-table {
    overflow-x: auto;
}

.card {
    overflow: hidden;
    & > div {
        background: $Form-fill;
        padding-bottom: 10000px;
        margin-bottom: -10000px;
    }
    &:first-of-type > div {
        padding-top: 10px;
        img {
            margin-bottom: 20px;
        }
    }
    &.card-border-top {
        h4 {
            @extend .border-top;
            margin-top: 0;
            padding-top: 20px;

        }
    }
}

.preferred-developers {
    & > .col-md-3 {
        margin-top: 30px;
        background-color: $Form-fill;
        border-bottom: 2px solid #d7d7d7
    }
    & > .col-md-9 {
        margin-top: 30px;
        h1 {
            margin-top: 0;
        }
    }
}

.sm-section-nav {
    &.open {
        button {
            float: left;
        }
        .dropdown-menu {
            clear: left;
            position: static;
        }
    }
    .dropdown-menu {
        li a:hover {
            background-color: inherit;
        }
        ul {
            padding-left: 40px;
            padding-right: 20px;
        }
    }
}

.small-no-padding {
    @media(max-width: $screen-sm-max) {
        padding: 0;
    }
}

.section-nav-open {
    clear: left;
    padding-top: 1em;
}

.caption {
    font-family: 'source sans pro light', sans serif;
    font-size: 16px;
    color: #919195;
    line-height: 24px;
    padding-bottom: 20px;
    margin-bottom:20px;
    border-bottom: 1px $Rule-grey solid;
    img {
        margin-bottom: 20px;
        display:block;
    }
}

.apiLast {
    height: 105px;
}

.row .card .padding-top {
    padding-top: 2em;
}

.row .card .twoFix {
    padding-top: 10px;
    padding-bottom: 10030px;
}


