{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "ValidateWebAPI"
    },
    "host": "api-validate.avalarabrasil.com.br",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "paths": {
        "/api/Authentication/GetUserToken": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "GetUserToken: This method returns an xml that contains the information needed to make calls to other available services.",
                "operationId": "Authentication_GetUserToken",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/GetPlugins": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "GetPlugins: Informs all services available in validate.",
                "operationId": "Validate_GetPlugins",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "Utoken",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/ExecuteService": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "Synchronous function that makes the request to the plug-in informed in the parameters.",
                "operationId": "Validate_ExecuteService",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ServiceName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Utoken",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ServiceData",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/ExecuteServiceAssync": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "Asynchronously function that makes the request to the plug-in informed in the parameters.",
                "operationId": "Validate_ExecuteServiceAssync",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ServiceName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Utoken",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ServiceData",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/GetTicketStatus": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "Checks the progress status of the ticket returned by the ExecuteServiceAssync function.",
                "operationId": "Validate_GetTicketStatus",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "servicename",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/Validate/GetTicketResult": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "If the Status returned by the GetTicketStatus function is equal to Finished, it returns the XML and HTML of the rendered search.",
                "operationId": "Validate_GetTicketResult",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/GetTicketResultByType": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "If the Status returned by the GetTicketStatus function is equal to Finished, it returns the XML and HTML of the rendered search.",
                "operationId": "Validate_GetTicketResultByType",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resultType",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/GetMessagesResponse": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "Returns all possible results of COD_STATUS’s field for each selected plugin",
                "operationId": "Validate_GetMessagesResponse",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceName",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/Validate/ReprocessTicket": {
            "get": {
                "tags": [
                    "Validate"
                ],
                "summary": "Used to reprocess a ticket whose COD_STATUS returned error",
                "operationId": "Validate_ReprocessTicket",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "serviceName",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ticket",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {}
}