{
	"swagger": "2.0",
	"info": {
		"version": "v2",
		"title": "AvaTax API",
		"description": "REST interface to Avalara's enterprise tax service, AvaTax.",
		"contact": {
			"name": "Avalara Developer Community",
			"url": "https://community.avalara.com"
		},
		"license": {
			"name": "Terms of Use",
			"url": "https://www.avalara.com/terms-of-use/"
		}
	},
	"host": "sandbox-rest.avatax.com",
	"x-production-host": "rest.avatax.com",
	"schemes": ["https"],
	"basePath": "/",
	"paths": {
		"/api/v2/accounts/{id}/activate": {
			"post": {
				"tags": ["Accounts"],
				"summary": "Activate an account by accepting terms and conditions",
				"description": "Activate the account specified by the unique accountId number.\r\n\r\nThis activation request can only be called by account administrators.  You must indicate \r\nthat you have read and accepted Avalara's terms and conditions to call this API.\r\n\r\nIf you have not read or accepted the terms and conditions, this API call will return the\r\nunchanged account model.",
				"operationId": "ActivateAccount",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "The ID of the account to activate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "model",
					"in": "body",
					"description": "The activation request",
					"required": false,
					"schema": {
						"$ref": "#/definitions/ActivateAccountModel"
					}
				},
				{
					"name": "$include",
					"in": "query",
					"description": "Elements to include when fetching the account",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/AccountModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/accounts/{id}/configuration": {
			"get": {
				"tags": ["Accounts"],
				"summary": "Get configuration settings for this account",
				"description": "Retrieve a list of all configuration settings tied to this account.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n\r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.",
				"operationId": "GetAccountConfiguration",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/AccountConfigurationModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Accounts"],
				"summary": "Change configuration settings for this account",
				"description": "Update configuration settings tied to this account.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n\r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.",
				"operationId": "SetAccountConfiguration",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "models",
					"in": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/AccountConfigurationModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/AccountConfigurationModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/accounts/{id}/resetlicensekey": {
			"post": {
				"tags": ["Accounts"],
				"summary": "Reset this account's license key",
				"description": "Resets the existing license key for this account to a new key.\r\nTo reset your account, you must specify the ID of the account you wish to reset and confirm the action.\r\nResetting a license key cannot be undone.  Any previous license keys will immediately cease to work when a new key is created.",
				"operationId": "AccountResetLicenseKey",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "request",
					"in": "body",
					"description": "A request confirming that you wish to reset the license key of this account.",
					"required": false,
					"schema": {
						"$ref": "#/definitions/ResetLicenseKeyModel"
					}
				},
				{
					"name": "id",
					"in": "path",
					"description": "The ID of the account you wish to update.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/LicenseKeyModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/addresses/resolve": {
			"get": {
				"tags": ["Addresses"],
				"summary": "Retrieve geolocation information for a specified address",
				"description": "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API \r\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used \r\nto identify how closely this address can be located.  If the address cannot be clearly located, use the \r\n'messages' structure to learn more about problems with this address.\r\nThis is the same API as the POST /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.",
				"operationId": "ResolveAddress",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "line1",
					"in": "query",
					"description": "Line 1",
					"required": false,
					"type": "string"
				},
				{
					"name": "line2",
					"in": "query",
					"description": "Line 2",
					"required": false,
					"type": "string"
				},
				{
					"name": "line3",
					"in": "query",
					"description": "Line 3",
					"required": false,
					"type": "string"
				},
				{
					"name": "city",
					"in": "query",
					"description": "City",
					"required": false,
					"type": "string"
				},
				{
					"name": "region",
					"in": "query",
					"description": "State / Province / Region",
					"required": false,
					"type": "string"
				},
				{
					"name": "postalCode",
					"in": "query",
					"description": "Postal Code / Zip Code",
					"required": false,
					"type": "string"
				},
				{
					"name": "country",
					"in": "query",
					"description": "Two character ISO 3166 Country Code (see /api/v2/definitions/countries for a full list)",
					"required": false,
					"type": "string"
				},
				{
					"name": "textCase",
					"in": "query",
					"description": "selectable text case for address validation",
					"required": false,
					"type": "string",
					"enum": ["Upper",
					"Mixed"],
					"x-enum-type": "TextCase",
					"x-enum-description": "Casing to use for validation result",
					"x-enum-value-comments": {
						"Upper": "Upper case",
						"Mixed": "Mixed Case"
					}
				},
				{
					"name": "latitude",
					"in": "query",
					"description": "Geospatial latitude measurement",
					"required": false,
					"type": "number",
					"format": "double"
				},
				{
					"name": "longitude",
					"in": "query",
					"description": "Geospatial longitude measurement",
					"required": false,
					"type": "number",
					"format": "double"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/AddressResolutionModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Addresses"],
				"summary": "Retrieve geolocation information for a specified address",
				"description": "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API \r\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used \r\nto identify how closely this address can be located.  If the address cannot be clearly located, use the \r\n'messages' structure to learn more about problems with this address.\r\nThis is the same API as the GET /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.",
				"operationId": "ResolveAddressPost",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "request",
					"in": "body",
					"description": "The address to resolve",
					"required": false,
					"schema": {
						"$ref": "#/definitions/AddressValidationInfo"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/AddressResolutionModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/batches": {
			"get": {
				"tags": ["Batches"],
				"summary": "Retrieve all batches",
				"description": "Get multiple batch objects across all companies.\r\nA batch object is a large collection of API calls stored in a compact file.\r\nWhen you create a batch, it is added to the AvaTax Batch Queue and will be processed in the order it was received.\r\nYou may fetch a batch to check on its status and retrieve the results of the batch operation.\r\n\r\nSearch for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.",
				"operationId": "QueryBatches",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "$filter",
					"in": "query",
					"description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
					"required": false,
					"type": "string"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "A comma separated list of additional data to retrieve.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$skip",
					"in": "query",
					"description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$orderBy",
					"in": "query",
					"description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[BatchModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/batches": {
			"get": {
				"tags": ["Batches"],
				"summary": "Retrieve all batches for this company",
				"description": "List all batch objects attached to the specified company.\r\nA batch object is a large collection of API calls stored in a compact file.\r\nWhen you create a batch, it is added to the AvaTax Batch Queue and will be processed in the order it was received.\r\nYou may fetch a batch to check on its status and retrieve the results of the batch operation.\r\nSearch for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.",
				"operationId": "ListBatchesByCompany",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID of the company that owns these batches",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
					"required": false,
					"type": "string"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "A comma separated list of additional data to retrieve.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$skip",
					"in": "query",
					"description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$orderBy",
					"in": "query",
					"description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[BatchModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Batches"],
				"summary": "Create a new batch",
				"description": "Create one or more new batch objects attached to this company.\r\nWhen you create a batch, it is added to the AvaTaxBatch.Batch table and will be processed in the order it was received.\r\nYou may fetch a batch to check on its status and retrieve the results of the batch operation.\r\nEach batch object may have one or more file objects (currently only one file is supported).",
				"operationId": "CreateBatches",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "models",
					"in": "body",
					"description": "The batch you wish to create.",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/BatchModel"
						}
					}
				},
				{
					"name": "companyId",
					"in": "path",
					"description": "The ID of the company that owns this batch.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/BatchModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/batches/{batchId}/files/{id}/attachment": {
			"get": {
				"tags": ["Batches"],
				"summary": "Download a single batch file",
				"description": "Download a single batch file identified by this URL.",
				"operationId": "DownloadBatch",
				"consumes": [],
				"produces": ["application/json",
				"application/octet-stream"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID of the company that owns this batch",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "batchId",
					"in": "path",
					"description": "The ID of the batch object",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The primary key of this batch file object",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "byte",
							"type": "file"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/batches/{id}": {
			"get": {
				"tags": ["Batches"],
				"summary": "Retrieve a single batch",
				"description": "Get the batch object identified by this URL.\r\nA batch object is a large collection of API calls stored in a compact file.\r\nWhen you create a batch, it is added to the AvaTax Batch Queue and will be processed in the order it was received.\r\nYou may fetch a batch to check on its status and retrieve the results of the batch operation.",
				"operationId": "GetBatch",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID of the company that owns this batch",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The primary key of this batch",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/BatchModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"delete": {
				"tags": ["Batches"],
				"summary": "Delete a single batch",
				"operationId": "DeleteBatch",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID of the company that owns this batch.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The ID of the batch you wish to delete.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ErrorDetail"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certexpressinvites": {
			"get": {
				"tags": ["CertExpressInvites"],
				"summary": "List CertExpress invitations",
				"description": "Retrieve CertExpress invitations sent by this company.\r\n\r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full \r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.",
				"operationId": "ListCertExpressInvitations",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that issued this invitation",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            \r\n            No options are defined at this time.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$skip",
					"in": "query",
					"description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$orderBy",
					"in": "query",
					"description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CertExpressInvitationModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites": {
			"post": {
				"tags": ["CertExpressInvites"],
				"summary": "Create a CertExpress invitation",
				"description": "Creates an invitation for a customer to self-report certificates using the CertExpress website.\r\n\r\nThis invitation is delivered by your choice of method, or you can present a hyperlink to the user\r\ndirectly in your connector.  Your customer will be redirected to https://app.certexpress.com/ where\r\nthey can follow a step-by-step guide to enter information about their exemption certificates.  The\r\ncertificates entered will be recorded and automatically linked to their customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.",
				"operationId": "CreateCertExpressInvitation",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that will record certificates",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "customerCode",
					"in": "path",
					"description": "The number of the customer where the request is sent to",
					"required": true,
					"type": "string"
				},
				{
					"name": "models",
					"in": "body",
					"description": "the requests to send out to customers",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CreateCertExpressInvitationModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CertExpressInvitationStatusModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites/{id}": {
			"get": {
				"tags": ["CertExpressInvites"],
				"summary": "Retrieve a single CertExpress invitation",
				"description": "Retrieve an existing CertExpress invitation sent to a customer.\r\n\r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full \r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n\r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.",
				"operationId": "GetCertExpressInvitation",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that issued this invitation",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "customerCode",
					"in": "path",
					"description": "The number of the customer where the request is sent to",
					"required": true,
					"type": "string"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this CertExpress invitation",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  No options are defined at this time.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertExpressInvitationModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates": {
			"get": {
				"tags": ["Certificates"],
				"summary": "List all certificates for a company",
				"description": "List all certificates recorded by a company\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nYou can use the `$include` parameter to fetch the following additional objects for expansion:\r\n\r\n* Customers - Retrieves the list of customers linked to the certificate.\r\n* PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n* Attributes - Retrieves all attributes applied to the certificate.",
				"operationId": "QueryCertificates",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID number of the company to search",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  You can specify one or more of the following:\r\n            \r\n            * Customers - Retrieves the list of customers linked to the certificate.\r\n            * PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n            * Attributes - Retrieves all attributes applied to the certificate.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$skip",
					"in": "query",
					"description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$orderBy",
					"in": "query",
					"description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CertificateModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Certificates"],
				"summary": "Create certificates for this company",
				"description": "Record one or more certificates document for this company.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nWhen you create a certificate, it will be processed by Avalara and will become available for use in\r\ncalculating tax exemptions when processing is complete.  For a certificate to be used in calculating exemptions,\r\nit must have the following:\r\n\r\n* A list of exposure zones indicating where the certificate is valid\r\n* A link to the customer that is allowed to use this certificate\r\n* Your tax transaction must contain the correct customer code",
				"operationId": "CreateCertificates",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID number of the company recording this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "models",
					"in": "body",
					"description": "Certificates to be created",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CertificateModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CertificateModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}": {
			"get": {
				"tags": ["Certificates"],
				"summary": "Retrieve a single certificate",
				"description": "Get the current certificate identified by this URL.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nYou can use the `$include` parameter to fetch the following additional objects for expansion:\r\n\r\n* Customers - Retrieves the list of customers linked to the certificate.\r\n* PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n* Attributes - Retrieves all attributes applied to the certificate.",
				"operationId": "GetCertificate",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  You can specify one or more of the following:\r\n            \r\n            * Customers - Retrieves the list of customers linked to the certificate.\r\n            * PoNumbers - Retrieves all PO numbers tied to the certificate.\r\n            * Attributes - Retrieves all attributes applied to the certificate.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertificateModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"put": {
				"tags": ["Certificates"],
				"summary": "Update a single certificate",
				"description": "Replace the certificate identified by this URL with a new one.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "UpdateCertificate",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "model",
					"in": "body",
					"description": "The new certificate object that will replace the existing one",
					"required": false,
					"schema": {
						"$ref": "#/definitions/CertificateModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertificateModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"delete": {
				"tags": ["Certificates"],
				"summary": "Revoke and delete a certificate",
				"description": "Revoke the certificate identified by this URL, then delete it.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.\r\n\r\nRevoked certificates can no longer be used.",
				"operationId": "DeleteCertificate",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CertificateModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/attachment": {
			"get": {
				"tags": ["Certificates"],
				"summary": "Download an image for this certificate",
				"description": "Download an image or PDF file for this certificate.\r\n\r\nThis API can be used to download either a single-page preview of the certificate or a full PDF document.\r\nTo retrieve a preview image, set the `$type` parameter to `Jpeg` and the `$page` parameter to `1`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "DownloadCertificateImage",
				"consumes": [],
				"produces": ["application/json",
				"application/octet-stream"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$page",
					"in": "query",
					"description": "If you choose `$type`=`Jpeg`, you must specify which page number to retrieve.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$type",
					"in": "query",
					"description": "The data format in which to retrieve the certificate image",
					"required": false,
					"type": "string",
					"enum": ["Pdf",
					"Jpeg"],
					"x-enum-type": "CertificatePreviewType",
					"x-enum-description": "Type of certificate preview to download",
					"x-enum-value-comments": {
						"Pdf": "Download a full printable PDF",
						"Jpeg": "Download a single page of the certificate in JPG format"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "byte",
							"type": "file"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Certificates"],
				"summary": "Upload an image or PDF attachment for this certificate",
				"description": "Upload an image or PDF attachment for this certificate.\r\n\r\nImage attachments can be of the format `PDF`, `JPEG`, `TIFF`, or `PNG`.  To upload a multi-page image, please\r\nuse the `PDF` data type.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "UploadCertificateImage",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "file",
					"in": "formData",
					"description": "The exemption certificate file you wanted to upload. Accepted formats are: PDF, JPEG, TIFF, PNG.",
					"required": true,
					"type": "file"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/attributes": {
			"get": {
				"tags": ["Certificates"],
				"summary": "List all attributes applied to this certificate",
				"description": "Retrieve the list of attributes that are linked to this certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `/api/v2/definitions/certificateattributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "ListAttributesForCertificate",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/attributes/link": {
			"post": {
				"tags": ["Certificates"],
				"summary": "Link attributes to a certificate",
				"description": "Link one or many attributes to a certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `ListCertificateAttributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "LinkAttributesToCertificate",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "attributes",
					"in": "body",
					"description": "The list of attributes to link to this certificate.",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CertificateAttributeModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/attributes/unlink": {
			"post": {
				"tags": ["Certificates"],
				"summary": "Unlink attributes from a certificate",
				"description": "Unlink one or many attributes from a certificate.\r\n\r\nA certificate may have multiple attributes that control its behavior.  You may link or unlink attributes to a\r\ncertificate at any time.  The full list of defined attributes may be found using `ListCertificateAttributes`.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "UnlinkAttributesFromCertificate",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "attributes",
					"in": "body",
					"description": "The list of attributes to unlink from this certificate.",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CertificateAttributeModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CertificateAttributeModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/customers": {
			"get": {
				"tags": ["Certificates"],
				"summary": "List customers linked to this certificate",
				"description": "List all customers linked to this certificate.\r\n\r\nCustomers must be linked to a certificate in order to make use of its tax exemption features.  You\r\ncan link or unlink customers to a certificate at any time.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "ListCustomersForCertificate",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            No options are currently available when fetching customers.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CustomerModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/customers/link": {
			"post": {
				"tags": ["Certificates"],
				"summary": "Link customers to a certificate",
				"description": "Link one or more customers to an existing certificate.\r\n\r\nCustomers and certificates must be linked before a customer can make use of a certificate to obtain\r\na tax exemption in AvaTax.  Since some certificates may cover more than one business entity, a certificate\r\ncan be connected to multiple customer records using the `LinkCustomersToCertificate` API.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "LinkCustomersToCertificate",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "customers",
					"in": "body",
					"description": "The list of customers needed be added to the Certificate for exemption",
					"required": false,
					"schema": {
						"$ref": "#/definitions/LinkCustomersModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CustomerModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/certificates/{id}/customers/unlink": {
			"post": {
				"tags": ["Certificates"],
				"summary": "Unlink customers from a certificate",
				"description": "Unlinks one or more customers from a certificate.\r\n\r\nUnlinking a certificate from a customer will prevent the certificate from being used to generate\r\ntax exemptions for the customer in the future.  If any previous transactions for this customer had\r\nused this linked certificate, those transactions will be unchanged and will still have a link to the\r\nexemption certificate in question.\r\n\r\nA certificate is a document stored in either AvaTax Exemptions or CertCapture.  The certificate document\r\ncan contain information about a customer's eligibility for exemption from sales or use taxes based on\r\ncriteria you specify when you store the certificate.  To view or manage your certificates directly, please \r\nlog onto the administrative website for the product you purchased.",
				"operationId": "UnlinkCustomersFromCertificate",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "companyId",
					"in": "path",
					"description": "The unique ID number of the company that recorded this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "id",
					"in": "path",
					"description": "The unique ID number of this certificate",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "customers",
					"in": "body",
					"description": "The list of customers to unlink from this certificate",
					"required": false,
					"schema": {
						"$ref": "#/definitions/LinkCustomersModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CustomerModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies": {
			"get": {
				"tags": ["Companies"],
				"summary": "Retrieve all companies",
				"description": "Get multiple company objects.\r\nA 'company' represents a single corporation or individual that is registered to handle transactional taxes.\r\nSearch for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.\r\nYou may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:\r\n            \r\n* Contacts\r\n* Items\r\n* Locations\r\n* Nexus\r\n* Settings\r\n* TaxCodes\r\n* TaxRules\r\n* UPC",
				"operationId": "QueryCompanies",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "$include",
					"in": "query",
					"description": "A comma separated list of objects to fetch underneath this company.  Any object with a URL path underneath this company can be fetched by specifying its name.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "If nonzero, return no more than this number of results.  Used with $skip to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$skip",
					"in": "query",
					"description": "If nonzero, skip this number of results before returning data.  Used with $top to provide pagination for large datasets.",
					"required": false,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$orderBy",
					"in": "query",
					"description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CompanyModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Companies"],
				"summary": "Create new companies",
				"description": "Create one or more new company objects.\r\nA 'company' represents a single corporation or individual that is registered to handle transactional taxes.\r\nYou may attach nested data objects such as contacts, locations, and nexus with this CREATE call, and those objects will be created with the company.",
				"operationId": "CreateCompanies",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "models",
					"in": "body",
					"description": "Either a single company object or an array of companies to create",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CompanyModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CompanyModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{id}": {
			"get": {
				"tags": ["Companies"],
				"summary": "Retrieve a single company",
				"description": "Get the company object identified by this URL.\r\nA 'company' represents a single corporation or individual that is registered to handle transactional taxes.\r\nYou may specify one or more of the following values in the '$include' parameter to fetch additional nested data, using commas to separate multiple values:\r\n\r\n * Contacts\r\n * Items\r\n * Locations\r\n * Nexus\r\n * Settings\r\n * TaxCodes\r\n * TaxRules\r\n * UPC",
				"operationId": "GetCompany",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "The ID of the company to retrieve.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "$include",
					"in": "query",
					"description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            \r\n             * Child objects - Specify one or more of the following to retrieve objects related to each company: \"Contacts\", \"FilingCalendars\", \"Items\", \"Locations\", \"Nexus\", \"TaxCodes\", or \"TaxRules\".\r\n             * Deleted objects - Specify \"FetchDeleted\" to retrieve information about previously deleted objects.",
					"required": false,
					"type": "string"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CompanyModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"put": {
				"tags": ["Companies"],
				"summary": "Update a single company",
				"description": "Replace the existing company object at this URL with an updated object.\r\nA 'company' represents a single corporation or individual that is registered to handle transactional taxes.\r\nAll data from the existing object will be replaced with data in the object you PUT.  \r\nTo set a field's value to null, you may either set its value to null or omit that field from the object you post.",
				"operationId": "UpdateCompany",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "model",
					"in": "body",
					"description": "The company object you wish to update.",
					"required": false,
					"schema": {
						"$ref": "#/definitions/CompanyModel"
					}
				},
				{
					"name": "id",
					"in": "path",
					"description": "The ID of the company you wish to update.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CompanyModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"delete": {
				"tags": ["Companies"],
				"summary": "Delete a single company",
				"description": "Deleting a company will delete all child companies, and all users attached to this company.",
				"operationId": "DeleteCompany",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "The ID of the company you wish to delete.",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/ErrorDetail"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{id}/configuration": {
			"get": {
				"tags": ["Companies"],
				"summary": "Get configuration settings for this company",
				"description": "Retrieve a list of all configuration settings tied to this company.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `AvaCertServiceConfig` is reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nCompany settings are permanent settings that cannot be deleted.  You can set the value of a\r\ncompany setting to null if desired.\r\n\r\nAvalara-based account settings for `AvaCertServiceConfig` affect your account's exemption certificate\r\nprocessing, and should only be changed with care.",
				"operationId": "GetCompanyConfiguration",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CompanyConfigurationModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Companies"],
				"summary": "Change configuration settings for this account",
				"description": "Update configuration settings tied to this account.\r\n\r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `AvaCertServiceConfig` is reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n\r\nCompany settings are permanent settings that cannot be deleted.  You can set the value of a\r\ncompany setting to null if desired.\r\n\r\nAvalara-based account settings for `AvaCertServiceConfig` affect your account's exemption certificate\r\nprocessing, and should only be changed with care.",
				"operationId": "SetCompanyConfiguration",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "models",
					"in": "body",
					"required": false,
					"schema": {
						"type": "array",
						"items": {
							"$ref": "#/definitions/CompanyConfigurationModel"
						}
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/CompanyConfigurationModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{id}/filingstatus": {
			"get": {
				"tags": ["Companies"],
				"summary": "Get this company's filing status",
				"description": "Retrieve the current filing status of this company.\r\n\r\nFor customers using Avalara's Managed Returns Service, each company within their account can request\r\nfor Avalara to file tax returns on their behalf.  Avalara compliance team members will review all\r\nrequested filing calendars prior to beginning filing tax returns on behalf of this company.\r\n\r\nA company's filing status can be one of the following values:\r\n\r\n* `NoReporting` - This company is not configured to report tax returns; instead, it reports through a parent company.\r\n* `NotYetFiling` - This company has not yet begun filing tax returns through Avalara's Managed Returns Service.\r\n* `FilingRequested` - The company has requested to begin filing tax returns, but Avalara's compliance team has not yet begun filing.\r\n* `FirstFiling` - The company has recently filing tax returns and is in a new status.\r\n* `Active` - The company is currently active and is filing tax returns via Avalara Managed Returns.",
				"operationId": "GetFilingStatus",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"enum": ["NoReporting",
							"NotYetFiling",
							"FilingRequested",
							"FirstFiling",
							"Active"],
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			},
			"post": {
				"tags": ["Companies"],
				"summary": "Change the filing status of this company",
				"description": "Changes the current filing status of this company.\r\n\r\nFor customers using Avalara's Managed Returns Service, each company within their account can request\r\nfor Avalara to file tax returns on their behalf.  Avalara compliance team members will review all\r\nrequested filing calendars prior to beginning filing tax returns on behalf of this company.\r\n\r\nThe following changes may be requested through this API:\r\n\r\n* If a company is in `NotYetFiling` status, the customer may request this be changed to `FilingRequested`.\r\n* Avalara compliance team members may change a company from `FilingRequested` to `FirstFiling`.\r\n* Avalara compliance team members may change a company from `FirstFiling` to `Active`.\r\n\r\nAll other status changes must be requested through the Avalara customer support team.",
				"operationId": "ChangeFilingStatus",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "model",
					"in": "body",
					"required": false,
					"schema": {
						"$ref": "#/definitions/FilingStatusChangeModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"enum": ["NoReporting",
							"NotYetFiling",
							"FilingRequested",
							"FirstFiling",
							"Active"],
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{id}/funding": {
			"get": {
				"tags": ["Companies"],
				"summary": "Check managed returns funding configuration for a company",
				"description": "This API is available by invitation only.\r\nRequires a subscription to Avalara Managed Returns or SST Certified Service Provider.\r\nReturns a list of funding setup requests and their current status.\r\nEach object in the result is a request that was made to setup or adjust funding configuration for this company.",
				"operationId": "ListFundingRequestsByCompany",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "The unique identifier of the company",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/FundingStatusModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{id}/funding/setup": {
			"post": {
				"tags": ["Companies"],
				"summary": "Request managed returns funding setup for a company",
				"description": "This API is available by invitation only.\r\nCompanies that use the Avalara Managed Returns or the SST Certified Service Provider services are \r\nrequired to setup their funding configuration before Avalara can begin filing tax returns on their \r\nbehalf.\r\nFunding configuration for each company is set up by submitting a funding setup request, which can\r\nbe sent either via email or via an embedded HTML widget.\r\nWhen the funding configuration is submitted to Avalara, it will be reviewed by treasury team members\r\nbefore approval.\r\nThis API records that an ambedded HTML funding setup widget was activated.\r\nThis API requires a subscription to Avalara Managed Returns or SST Certified Service Provider.",
				"operationId": "CreateFundingRequest",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "The unique identifier of the company",
					"required": true,
					"type": "integer",
					"format": "int32"
				},
				{
					"name": "model",
					"in": "body",
					"description": "The funding initialization request",
					"required": false,
					"schema": {
						"$ref": "#/definitions/FundingInitiateModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FundingStatusModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/initialize": {
			"post": {
				"tags": ["Companies"],
				"summary": "Quick setup for a company with a single physical address",
				"description": "Shortcut to quickly setup a single-physical-location company with critical information and activate it.\r\nThis API provides quick and simple company setup functionality and does the following things:\r\n            \r\n* Create a company object with its own tax profile\r\n* Add a key contact person for the company\r\n* Set up one physical location for the main office\r\n* Declare nexus in all taxing jurisdictions for that main office address\r\n* Activate the company\r\n            \r\nThis API only provides a limited subset of functionality compared to the 'Create Company' API call.  \r\nIf you need additional features or options not present in this 'Quick Setup' API call, please use the full 'Create Company' call instead.",
				"operationId": "CompanyInitialize",
				"consumes": ["application/json",
				"text/json",
				"application/json-patch+json"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "model",
					"in": "body",
					"description": "Information about the company you wish to create.",
					"required": false,
					"schema": {
						"$ref": "#/definitions/CompanyInitializationModel"
					}
				},
				{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CompanyModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/mrs": {
			"get": {
				"tags": ["Companies"],
				"summary": "Retrieve a list of MRS Companies with account",
				"description": "This API is available by invitation only.\r\n\r\nGet a list of companies with an active MRS service.",
				"operationId": "ListMrsCompanies",
				"consumes": [],
				"produces": ["application/json"],
				"parameters": [{
					"name": "X-Avalara-Client",
					"in": "header",
					"description": "Identifies the software you are using to call this API to aid in debugging and verification.\r\n                    This is a string in the format `(app name); (app version); (library name); (library version); (machine name)`. \r\n                    For more information about designing an Avalara client string for your application, please see the developer website.",
					"required": false,
					"type": "string",
					"default": "Swagger UI; 17.8.1-120; Custom; 1.0"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/FetchResult[CompanyModel]"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"400": {
						"description": "BadRequest"
					}
				},
				"security": [{
					"UserSecurity": [],
					"OauthSecurity": []
				}]
			}
		},
		"/api/v2/companies/{companyId}/contacts": {
			"get": {
				"tags": ["Contacts"],
				"summary": "Retrieve contacts for this company",
[...]
