{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "API TAXDOCS"
    },
    "host": "api.taxdocs.avalarabrasil.com.br",
    "schemes": [
    "http"
    ],
    "basePath": "/",
    "paths": {
        "/API/ConsumoWS/ConectividadeWS": {
            "get": {
                "tags": [
                    "ConsumoWS"
                ],
                "summary": "Utilizado para testar conectividade com o serviço",
                "operationId": "ConsumoWS_ConectividadeWS",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/ConsumoWS/Login": {
            "get": {
                "tags": [
                    "ConsumoWS"
                ],
                "summary": "Utilizado para testar usuário e senha para login",
                "operationId": "ConsumoWS_Login",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "/API/ConsumoWS/RetornaNovaUrlSaS": {
            "get": {
                "tags": [
                    "ConsumoWS"
                ],
                "summary": "Utilizado para retornar a nova URL de SAS",
                "operationId": "ConsumoWS_RetornaNovaUrlSaS",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "oldUrl",
                        "in": "query",
                        "description": "URL antiga",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/PesquisarStatusEvento": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Consulta status de evento para NF-e",
                "operationId": "Mercadoria_PesquisarStatusEvento",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evento",
                        "in": "query",
                        "description": "Dados do evento a ser pesquisado",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EventoRespDto"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RealizarManifesto": {
            "post": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Realiza Evento para a nota fiscal eletrônica",
                "operationId": "Mercadoria_RealizarManifesto",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evento",
                        "in": "query",
                        "description": "Dados do evento a ser realizado",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EventoRespDto"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RealizarLoteManifesto": {
            "post": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Realizar lotes de eventos para nota fiscal eletrônica",
                "operationId": "Mercadoria_RealizarLoteManifesto",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "eventos",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EventoRespDto"
                            }
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/DownloadXml": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Consulta XML de NF-e",
                "operationId": "Mercadoria_DownloadXml",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "chaveNfe",
                        "in": "query",
                        "description": "Chave de acesso à nota a ser pesquisada",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaChaves": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa apenas chaves das NF-e existentes no período pesquisado, utilizando a data de emissão",
                "operationId": "Mercadoria_RetornaChaves",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaChavesPelaDataEntrada": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa apenas chaves das NF-e existentes no período pesquisado, utilizando a data de entrada do XML",
                "operationId": "Mercadoria_RetornaChavesPelaDataEntrada",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaResumos": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa resumo das NF-e existentes no período pesquisado, utilizando a data de emissão",
                "operationId": "Mercadoria_RetornaResumos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pagina",
                        "in": "query",
                        "description": "Página a ser pesquisada",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaClassificacoesProdutos": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa a lista de classificações de produtos de uma determinada NF-e",
                "operationId": "Mercadoria_RetornaClassificacoesProdutos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "chaveNfe",
                        "in": "query",
                        "description": "Chave de acesso à nota a ser pesquisada",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaListaXml": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa lista de XML completos de NF-e, pela data de emissão",
                "operationId": "Mercadoria_RetornaListaXml",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaListaXmlPelaEntradaPorTipo": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa lista de XML completos de NF-e, por tipo e data de entrada",
                "operationId": "Mercadoria_RetornaListaXmlPelaEntradaPorTipo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaChavesPelaEmissao": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa chaves de NF-e pela data de emissão",
                "operationId": "Mercadoria_RetornaChavesPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaListaXmlPelaEmissao": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa lista de XML completos de NF-e, pela data de emissão",
                "operationId": "Mercadoria_RetornaListaXmlPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaListaXmlPelaEmissaoPorTipo": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Pesquisa lista de XML completos de NF-e, pelo tipo e data de emissão",
                "operationId": "Mercadoria_RetornaListaXmlPelaEmissaoPorTipo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornarChavesIntegracao": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Consulta chaves de NF-e para integração",
                "operationId": "Mercadoria_RetornarChavesIntegracao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companhia",
                        "in": "query",
                        "description": "Id da companhia a ser pesquisada",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "estabelecimento",
                        "in": "query",
                        "description": "Id do estabelecimento a ser pesquisado",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/DownloadPdfNfe": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Utilizado para download de DANFE em formado PDF",
                "operationId": "Mercadoria_DownloadPdfNfe",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "chaveNfe",
                        "in": "query",
                        "description": "Chave de acesso à nota a ser pesquisada",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Mercadoria/RetornaCapas": {
            "get": {
                "tags": [
                    "Mercadoria"
                ],
                "summary": "Consulta lista de capas de NF-e por período ou chave de acesso",
                "operationId": "Mercadoria_RetornaCapas",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "capa",
                        "in": "query",
                        "description": "Chave de acesso à nota a ser pesquisada",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/DownloadNfse": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Consulta uma NFS-e específica e disponibiliza o PDF",
                "operationId": "Servico_DownloadNfse",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "numeroDocumento",
                        "in": "query",
                        "description": "Número da NFS-e a ser pesquisada",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataEmissaoDocumento",
                        "in": "query",
                        "description": "Data de emissão",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpjEmissorDocumento",
                        "in": "query",
                        "description": "CNPJ do emitente/prestador",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaListaXmlPelaEntrada": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de XML de NFS-e por data de entrada",
                "operationId": "Servico_RetornaListaXmlPelaEntrada",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaChavesPelaEntrada": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de chaves de NFS-e pela data de entrada",
                "operationId": "Servico_RetornaChavesPelaEntrada",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Emitidas ou Recebidas",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaListaXmlPelaEmissao": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de XML de NFS-e pela data de emissão",
                "operationId": "Servico_RetornaListaXmlPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaChavesPelaEmissao": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de chaves de NFS-e pela data de emissão",
                "operationId": "Servico_RetornaChavesPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Emitidas ou Recebidas",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaChavesAprovadasPelaEntrada": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de chaves de NFS-e aprovadas, pela data de entrada",
                "operationId": "Servico_RetornaChavesAprovadasPelaEntrada",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Emitidas ou Recebidas",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Servico/RetornaChavesNFSeAprovadasPelaEmissao": {
            "get": {
                "tags": [
                    "Servico"
                ],
                "summary": "Realiza pesquisa de chaves de NFS-e aprovadas, pela data de emissão",
                "operationId": "Servico_RetornaChavesNFSeAprovadasPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Emitidas ou Recebidas",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornaChavesPorTipo": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de chaves de CT-e pela data de emissão e tipo",
                "operationId": "Transporte_RetornaChavesPorTipo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornaListaXmlPelaEmissao": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de XML de CT-e pela data de emissão",
                "operationId": "Transporte_RetornaListaXmlPelaEmissao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornaListaXmlPelaEmissaoPorTipo": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de XML de CT-e pela data de emissão e tipo",
                "operationId": "Transporte_RetornaListaXmlPelaEmissaoPorTipo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornaListaXmlPelaEntrada": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de XML de CT-e pela data de entrada",
                "operationId": "Transporte_RetornaListaXmlPelaEntrada",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornaListaXmlPelaEntradaPorTipo": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de XML de CT-e pela data de entrada e tipo",
                "operationId": "Transporte_RetornaListaXmlPelaEntradaPorTipo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cnpj",
                        "in": "query",
                        "description": "Identificação do emitente/prestador",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataDe",
                        "in": "query",
                        "description": "Data de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaDe",
                        "in": "query",
                        "description": "Hora de início da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataAte",
                        "in": "query",
                        "description": "Data de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "horaAte",
                        "in": "query",
                        "description": "Hora de término da pesquisa",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/DownloadXml": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de XML de um CT-e específico",
                "operationId": "Transporte_DownloadXml",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "chaveCTe",
                        "in": "query",
                        "description": "Chave de acesso à CT-e",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/API/Transporte/RetornarChavesIntegracao": {
            "get": {
                "tags": [
                    "Transporte"
                ],
                "summary": "Realiza pesquisa de chaves de CT-e para integração",
                "operationId": "Transporte_RetornarChavesIntegracao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "senha",
                        "in": "query",
                        "description": "Senha do usuário para login",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "companhia",
                        "in": "query",
                        "description": "Id da companhia a ser pesquisada",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "estabelecimento",
                        "in": "query",
                        "description": "Id da estabelecimento a ser pesquisado",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "description": "Entrada ou Saída",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "EventoRespDto": {
            "type": "object",
            "properties": {
                "ChaveNFe": {
                    "type": "string"
                },
                "Evento": {
                    "type": "string"
                },
                "Mensagem": {
                    "type": "string"
                },
                "Sucesso": {
                    "format": "int32",
                    "type": "integer"
                },
                "Usuario": {
                    "type": "string"
                }
            }
        }
    }
}