swagger: '2.0'
info:
  version: 3.0.0
  title: Provisioning users
  description: |
    Signup endpoints for TrustFile.  Provision users via API to be called using connectors.

    #### Testing:
    Test this endpoint @ https://stable.trustfile.avalara.com

    #### Security:
    Authentication/Auth header is required for either endpoint

    #### CORS:
    Access-Control-Allow-Headers: X-Requested-With
  contact:
    name: Trustfile API Support
    url: trustfile.com
    email: api@trustfile.com
host: app.trustfile.avalara.com
basePath: /v4
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: Key should be 'Bearer ' followed by the connectorToTFToken
paths:
  /company:
    get:
      tags:
        - Api
      operationId: GetCompany
      summary: 'Get Company via API GET '
      description: |
        * Data is expected as query string.
        * A message with the status will be sent back based on the data provided.
      parameters:
        - name: email
          in: query
          description: The Email address that needs to be searched.
          required: true
          type: string
      security:
        - Authorization: []
      responses:
        '200':
          description: Get Company successful response
          schema:
            type: object
            example:
              success: 'true'
              message: User already exists
            properties:
              success:
                type: boolean
              message:
                type: string
        '400':
          description: Get Company failure response
          schema:
            type: object
            example:
              success: 'false'
              error: No email address provided
            properties:
              success:
                type: boolean
              error:
                type: string
  /company/signup:
    post:
      tags:
        - Api
      operationId: PostCompanySignup
      summary: Company signup via API POST
      description: |
        * All data is expected in the request body in a flat JSON format.
        * User Fields: email firstName lastName
        * Company fields: companyName companyPhone companyLine1 companyLine2 companyLine3 companyCity companyZip companyState companyCountry
        * transactionType 
        * License purchase fields: totalPrice paymentId
        * Optional Lead fields: campaignId lsmr integratorId salesUserId salesUserEmail
        * The new user will receive an email to set their password
        * company token will be passed upon successful provisioning of the company
      parameters:
        - in: body
          name: body
          description: Company signup object
          required: true
          schema:
            type: object
            required:
              - email
              - companyName
            example:
              email: test.me@gmail.com
              firstName: firstname
              lastName: lastname
              companyPhone: '4258776015'
              companyName: Best Company Ever
              companyLine1: street address
              companyCity: city
              companyZip: '98101'
              companyState: WA
              campaignId: '2'
              transactionType: purchase
              license:
                totalPrice: 3600
                paymentId: '123456789'
            properties:
              email:
                type: string
                example: test.me@gmail.com
              firstName:
                type: string
              lastName:
                type: string
              companyName:
                type: string
              companyPhone:
                type: string
              companyLine1:
                type: string
              companyLine2:
                type: string
              companyLine3:
                type: string
              companyState:
                type: string
              companyCity:
                type: string
              companyZip:
                type: string
              companyCountry:
                type: string
              campaignId:
                type: string
              lsmr:
                type: string
              integratorId:
                type: string
              salesUserId:
                type: string
              salesUserEmail:
                type: string
              transactionType:
                type: string
              license:
                type: object
                properties:
                  paymentId:
                    type: string
                  totalPrice:
                    type: integer
      security:
        - Authorization: []
      responses:
        '200':
          description: Company creation successful response
          schema:
            type: object
            example:
              status: Success
              notification:
                message: Account Created.
                options:
                  level: success
              companyToken: d89c8c1d-6de2-4b3a-958b-74b674e3b823
            properties:
              status:
                type: string
              notification:
                type: object
                properties:
                  message:
                    type: string
                  options:
                    type: object
                    properties:
                      level:
                        type: string
              companyToken:
                type: string
        '400':
          description: Company creation failure response
          schema:
            type: object
            example:
              status: Failed
              notification:
                message: There was a problem creating your account. Account could not be created.
                options:
                  level: error
            properties:
              status:
                type: string
                description: Failed
              notification:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  options:
                    type: object
                    properties:
                      level:
                        type: string
