swagger: "2.0"
info:
  version: "3.0.0"
  title: TrustFile Provisioning API
  description: |
    Signup endpoints for TrustFile.  Provision users via API to be called using connectors.

    #### Testing:
    Test this endpoint @ https://stable.trustfile.avalara.com

    #### Security:
    Authorization is done through header param

    ```
    Authorization: Bearer connectorToTFToken
    ```

    #### CORS:
    Access-Control-Allow-Headers: X-Requested-With

  contact:
    name: Trustfile API Support
    url: trustfile.com
    email: api@trustfile.com
host: app.trustfile.avalara.com
basePath: /v4
schemes:
  - https
x-ApiType: SOAP
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Authorization:
    type: apiKey
    in: header
    name: Authorization
    description: Key should be 'Bearer ' followed by the connectorToTFToken
paths:
  /company/signup:
    post:
      tags:
        - Api
      operationId: PostCompanySignup
      summary: Company Signup
      description: >
        * All data is expected in the request body in a flat JSON format.

        * User Fields: email firstName lastName

        * Company fields: companyName companyPhone companyLine1
        companyLine2 companyLine3 companyCity companyZip companyState
        companyCountry

        * transactionType

        * License purchase fields: totalPrice paymentId

        * Optional Lead fields: campaignId lsmr integratorId salesUserId
        salesUserEmail

        * The new user will receive an email to set their password

        * Company token will be passed upon successful provisioning of the company

      parameters:
        - in: body
          name: body
          description: Company signup object
          required: true
          schema:
            type: object
            required:
              - email
              - companyName
            example:
              "email": "test.me@gmail.com"
              "firstName": "firstname"
              "lastName": "lastname"
              "companyPhone": "4258776015"
              "companyName": "Best Company Ever"
              "companyLine1": "street address"
              "companyCity": "city"
              "companyZip": "98101"
              "companyState": "WA"
              "campaignId": "2"
              "transactionType": "purchase"
              "license": {
                "totalPrice": 3600,
                "paymentId": "123456789"
              }
            properties:
              email:
                type: string
                example: test.me@gmail.com
              firstName:
                type: string
              lastName:
                type: string
              companyName:
                type: string
              companyPhone:
                type: string
              companyLine1:
                type: string
              companyLine2:
                type: string
              companyLine3:
                type: string
              companyState:
                type: string
              companyCity:
                type: string
              companyZip:
                type: string
              companyCountry:
                type: string
              campaignId:
                type: string
              lsmr:
                type: string
              integratorId:
                type: string
              salesUserId:
                type: string
              salesUserEmail:
                type: string
              transactionType:
                type: string
              license:
                type: object
                properties:
                  paymentId:
                    type: string
                  totalPrice:
                    type: string
      security:
        - Authorization: []
      responses:
        '200':
          description: "Company creation successful response"
          schema:
            type: object
            properties:
              status:
                type: string
              notification:
                type: object
                properties:
                  message:
                    type: string
                  options:
                    type: object
                    properties:
                      level:
                        type: string
        '400':
          description: "Company creation failure response"
          schema:
            type: object
            example:
              status: 'Failed'
              notification:
                message: There was a problem creating your account. Account could not be created.
                options:
                  level: error
            properties:
              status:
                type: string
                description: "Failed"
              notification:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  options:
                    type: object
                    properties:
                      level:
                        type: string