{
    "swagger": "2.0",
    "info": {
        "version": "v2",
        "title": "AvaTax API",
        "description": "REST interface to Avalara's enterprise tax service, AvaTax.",
        "contact": {
            "name": "Avalara Developer Relations",
            "url": "https://developer.avalara.com"
        },
        "license": {
            "name": "Terms of Use",
            "url": "https://www.avalara.com/terms-of-use/"
        }
    },
    "basePath": "/",
    "host": "cqa.avalara.net:8082",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/v2/Companies/{id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Retrieve a single company",
                "operationId": "ApiV2CompaniesByIdGet",
                "description": "Retrieve a single company",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the company to retrieve.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            <ul><li>Nexuses - Fetches nexuses for the company.</li><li>Contacts - Fetches contacts for the company.</li><li>FetchDeleted - If this company was previously deleted, fetches the last available information about this company.</li></ul>",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyModel"
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Message"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Update a single company",
                "description": "Update a single company",
                "operationId": "ApiV2CompaniesByIdPut",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "company",
                        "in": "body",
                        "description": "The company object you wish to update.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CompanyModel"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the company you wish to update.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyModel"
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Companies"
                ],
                "summary": "Delete a single company",
                "description": "Deleting a company will delete all child companies, and all users attached to this company.",
                "operationId": "ApiV2CompaniesByIdDelete",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the company you wish to delete.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Message"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            }
        },
        "/api/v2/Companies": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Retrieve all companies for your account",
                "operationId": "ApiV2CompaniesGet",
                "description": "Retrieve all companies for your account",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "description": "OPTIONAL: A comma separated list of special fetch options.  \r\n            <ul><li>Nexuses - Fetches nexuses for the company.</li><li>Contacts - Fetches contacts for the company.</li><li>FetchDeleted - If this company was previously deleted, fetches the last available information about this company.</li></ul>",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CompanyModel"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Create a new company",
                "description": "Create a new company",
                "operationId": "ApiV2CompaniesPost",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "company",
                        "in": "body",
                        "description": "The company you wish to create.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CompanyModel"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CompanyModel"
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            }
        },
        "/api/v2/Companies/query": {
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Query for a filtered and paginated list of companies",
                "description": "This function is included for compatibility with AvaTax v1 SOAP calls.\r\n            <ul><li>Filters, as specified in the Request object, use AvaTax v1 SOAP names.</li><li>FieldsToLoad is a list of AvaTax v1 SOAP field names.</li><li>Pagination is performed by specifying StartIndex and MaxResults, optionally using SortBy to specify how to number results.</li></ul>",
                "operationId": "ApiV2CompaniesQueryPost",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "A FetchRequest object with a defined filter, list of fields to load, and sorting/pagination parameters for complex query behavior.",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/FetchRequest"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Account Services v2 supports two types of authentication: username+password and accountid+licensekey.  You can provide this value using the HTTP header 'Authorization' with the value 'Basic ' followed by a Base64 encoded string with the selected authentication method.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CompanyModel"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "basic_auth": []
                    },
                    {
                        "avalara_license_key": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "CompanyModel": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "int32",
                    "type": "integer"
                },
                "accountId": {
                    "format": "int32",
                    "type": "integer"
                },
                "parentCompanyId": {
                    "format": "int32",
                    "type": "integer"
                },
                "sstPid": {
                    "type": "string"
                },
                "companyCode": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "isDefault": {
                    "type": "boolean"
                },
                "defaultLocationId": {
                    "format": "int32",
                    "type": "integer"
                },
                "isActive": {
                    "type": "boolean"
                },
                "createdUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "createdDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "modifiedUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "modifiedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "taxpayerIdNumber": {
                    "type": "string"
                },
                "hasProfile": {
                    "type": "boolean"
                },
                "isReportingEntity": {
                    "type": "boolean"
                },
                "sstEffectiveDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "entityNo": {
                    "format": "int32",
                    "type": "integer"
                },
                "defaultCountry": {
                    "type": "string"
                },
                "baseCurrencyCode": {
                    "type": "string"
                },
                "roundingLevelId": {
                    "enum": [
                        "Line",
                        "Document"
                    ],
                    "type": "string"
                },
                "cashBasisAccountingEnabled": {
                    "type": "boolean"
                },
                "warningsEnabled": {
                    "type": "boolean"
                },
                "isTest": {
                    "type": "boolean"
                },
                "taxDependencyLevelId": {
                    "enum": [
                        "Document",
                        "State",
                        "TaxRegion",
                        "Address"
                    ],
                    "type": "string"
                },
                "inProgress": {
                    "type": "boolean"
                },
                "businessIdentificationNo": {
                    "type": "string"
                },
                "nexuses": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/NexusModel"
                    }
                },
                "contacts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ContactModel"
                    }
                }
            }
        },
        "NexusModel": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "int32",
                    "type": "integer"
                },
                "companyId": {
                    "format": "int32",
                    "type": "integer"
                },
                "state": {
                    "type": "string"
                },
                "jurisTypeId": {
                    "enum": [
                        "STA",
                        "CTY",
                        "CIT",
                        "STJ",
                        "CNT"
                    ],
                    "type": "string"
                },
                "jurisCode": {
                    "type": "string"
                },
                "jurisName": {
                    "type": "string"
                },
                "effDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "endDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "createdUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "createdDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "modifiedUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "modifiedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "shortName": {
                    "type": "string"
                },
                "signatureCode": {
                    "type": "string"
                },
                "stateAssignedNo": {
                    "type": "string"
                },
                "nexusTypeId": {
                    "enum": [
                        "None",
                        "Volunteer",
                        "Collect",
                        "NonVolunteer",
                        "Legal",
                        "SSTVolunteer",
                        "SSTNonVolunteer"
                    ],
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "sourcing": {
                    "type": "string"
                },
                "accountingMethodId": {
                    "format": "byte",
                    "type": "string"
                },
                "hasLocalNexus": {
                    "type": "boolean"
                },
                "localNexusTypeId": {
                    "enum": [
                        "Selected",
                        "StateAdministered",
                        "All"
                    ],
                    "type": "string"
                },
                "hasPermanentEstablishment": {
                    "type": "boolean"
                },
                "taxId": {
                    "type": "string"
                }
            }
        },
        "ContactModel": {
            "type": "object",
            "properties": {
                "id": {
                    "format": "int32",
                    "type": "integer"
                },
                "companyId": {
                    "format": "int32",
                    "type": "integer"
                },
                "contactCode": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "middleName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "line1": {
                    "type": "string"
                },
                "line2": {
                    "type": "string"
                },
                "line3": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "postalCode": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "phone2": {
                    "type": "string"
                },
                "fax": {
                    "type": "string"
                },
                "createdUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "createdDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "modifiedUserId": {
                    "format": "int32",
                    "type": "integer"
                },
                "modifiedDate": {
                    "format": "date-time",
                    "type": "string"
                }
            }
        },
        "Message": {
            "description": "Message object",
            "type": "object",
            "properties": {
                "errorCode": {
                    "format": "int32",
                    "description": "Error message identifier",
                    "type": "integer"
                },
                "summary": {
                    "description": "Concise summary of the message",
                    "type": "string"
                },
                "details": {
                    "description": "Message details",
                    "type": "string"
                },
                "faultCode": {
                    "description": "Indicates the SoapFault code",
                    "type": "string"
                },
                "helpLink": {
                    "description": "URL to help for this message",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the message.",
                    "type": "string"
                },
                "refersTo": {
                    "description": "Item the message refers to, if applicable.  This is used to indicate a missing or incorrect value.",
                    "type": "string"
                },
                "severity": {
                    "description": "Severity of the message",
                    "enum": [
                        "Success",
                        "Warning",
                        "Error",
                        "Exception"
                    ],
                    "type": "string"
                },
                "source": {
                    "description": "Source of the message",
                    "type": "string"
                },
                "documentation": {
                    "description": "Documentation of the message",
                    "type": "string"
                }
            }
        },
        "FetchRequest": {
            "required": [
                "filter"
            ],
            "type": "object",
            "properties": {
                "filter": {
                    "description": "A list of conditions to filter objects.  For example, \"ID &gt; 123\" or \"IsActive = 1\".",
                    "type": "string"
                },
                "fieldsToLoad": {
                    "description": "A list of fields to load.",
                    "type": "string"
                },
                "maxResults": {
                    "format": "int32",
                    "description": "For pagination: This is the maximum number of results to return.",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "description": "For pagination: This is the index of the first result.",
                    "type": "integer"
                },
                "sortBy": {
                    "description": "Sorts the resulting objects in a specific manner.",
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "basic_auth": {
            "type": "basic",
            "description": "Basic HTTP authentication using Base64 encoding."
        },
        "avalara_license_key": {
            "name": "Authorization",
            "in": "header",
            "type": "apiKey",
            "description": "A Base64 encoded version of your AccountId + \":\" + PrivateLicenseKey.  You can use your native basic authentication mechanism to generate this header correctly.  Set your username to your AccountID, and your password to your API key."
        }
    }
}