{
  "swagger": "2.0",
  "info": {
    "title": "AvaTax Brazil",
    "description": "The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.",
    "version": "0.9.0"
  },
  "host": "avataxbr-sandbox.avalarabrasil.com.br",
  "x-swagger-namespace": "SV",
  "schemes": [
    "http"
  ],
  "basePath": "/v2",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/calculations?goods": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationGood",
        "summary": "Calculation Method",
        "description": "This method has more the one operation model,\n(a) simple calculation, this mode has a minimal validation and mandatory field, only enough for calc;\n(b) full calculation, simulation, this mode the system will check all atributes and calc all taxes for that transaction;\n(c) full calculation, starting process to transform this this request into transaction (for NFe, NFCe, CT-e need government authorization);\n(d) ASIS, the sistem receive the message, store and try get authorization, model valid only form NFe, NFCe and CT-e.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsIn"
            }
          },
          {
            "name": "noPersist",
            "in": "query",
            "description": "Do not save this calculation",
            "type": "string"
          }
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-sales": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServiceSales",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned. Accept all transactions type (Sale, Purchase, Payment and Receipt), the format and message type are desbribed above in each 'calculations-<type>'.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesTransactionIn"
            }
          },
          {
            "name": "noPersist",
            "in": "query",
            "description": "Do not save this calculation",
            "type": "string"
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/SalesTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-purchase": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServicePurchase",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionIn"
            }
          },
          {
            "name": "noPersist",
            "in": "query",
            "description": "Do not save this calculation",
            "type": "string"
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-payment": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServicePayment",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransactionIn"
            }
          },
          {
            "name": "noPersist",
            "in": "query",
            "description": "Do not save this calculation",
            "type": "string"
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PaymentTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-receipt": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServiceReceipt",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionIn"
            }
          },
          {
            "name": "noPersist",
            "in": "query",
            "description": "Do not save this calculation",
            "type": "string"
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/goods/{transactionType}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_transactionType_goods"
        }
      ],
      "get": {
        "operationId": "retrieveGoodsTransactions",
        "summary": "Retrieve goods transactions",
        "description": "Retrieve a list of transactions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Calculations list.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionForGoodsIn"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/goods/{transactionType}/{documentCode}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_transactionType_goods"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "get": {
        "operationId": "retrieveGoodsTransactionDocument",
        "summary": "Retrieve goods transactions",
        "description": "Retrieve a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Calculations item",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsIn"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service/{transactionType}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_transactionType_service"
        }
      ],
      "get": {
        "operationId": "retrieveServiceTransactions",
        "summary": "Retrieve service transactions",
        "description": "Retrieve a list of transactions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "List of transaction"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service/{transactionType}/{documentCode}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_transactionType_service"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "get": {
        "operationId": "retrieveServiceTransactionDocument",
        "summary": "Retrieve service transactions",
        "description": "Retrieve a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "List of transaction"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service/{transactionType}/{documentCode}/transactions": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_transactionType_service"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "post": {
        "operationId": "convertServiceCalculatioToTransaction",
        "summary": "Promote a calculation to transaction",
        "description": "Promote a calculation to transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    }
  },
  "parameters": {
    "header_jwt": {
      "name": "Authorization",
      "in": "header",
      "description": "Bearer {auth}",
      "required": true,
      "type": "string"
    },
    "path_accountId": {
      "name": "accountId",
      "in": "path",
      "description": "Account ID",
      "required": true,
      "type": "string",
      "format": "uuid"
    },
    "path_companyCode": {
      "name": "companyCode",
      "in": "path",
      "description": "Company Code",
      "required": true,
      "type": "string"
    },
    "path_transactionType_goods": {
      "name": "transactionType",
      "in": "path",
      "description": "Transaction Type",
      "required": true,
      "type": "string",
      "enum": [
        "sale",
        "purchase",
        "sales-return",
        "purchase-return",
        "transfer-return",
        "shipping",
        "shipping-return",
        "transfer",
        "receipt-adjustment",
        "transfer-adjustment"
      ]
    },
    "path_transactionType_service": {
      "name": "transactionType",
      "in": "path",
      "description": "Transaction Type (sale, purchase, receipts or payment)",
      "required": true,
      "type": "string",
      "enum": [
        "sale",
        "purchase",
        "payment",
        "receipt"
      ]
    },
    "path_documentCode": {
      "name": "documentCode",
      "in": "path",
      "description": "Document Code",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "400_BadRequest": {
      "description": "The request was invalid or cannot be otherwise served.",
      "schema": {
        "$ref": "#/definitions/ValidationError"
      }
    },
    "401_Unauthorized": {
      "description": "Authentication credentials were missing or incorrect.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "403_Forbidden": {
      "description": "The request is understood, but it has been refused or access is not allowed.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "404_NotFound": {
      "description": "The URI requested is invalid or the resource requested does not exists.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "429_TooManyRequests": {
      "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "500_InternalServerError": {
      "description": "Something is broken.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "503_ServiceUnavailable": {
      "description": "The server is up, but overloaded with requests. Try again later.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    }
  },
  "definitions": {
    "TransactionForGoodsIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/HeaderForGoods"
        },
        "lines": {
          "type": "array",
          "maxItems": 990,
          "items": {
            "$ref": "#/definitions/LineForGoods"
          }
        }
      }
    },
    "TransactionForGoodsOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/HeaderForGoods"
        },
        "lines": {
          "type": "array",
          "maxItems": 990,
          "items": {
            "$ref": "#/definitions/LineForGoods"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/CalculatedTaxSummaryForGoods"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "SalesTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/SalesHeaderOut"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/SalesLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/SalesCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "SalesTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/SalesHeaderIn"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/SalesLinesIn"
          }
        }
      }
    },
    "PurchaseTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PurchaseHeaderOut"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PurchaseLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PurchaseCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "PurchaseTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PurchaseHeaderIn"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PurchaseLinesIn"
          }
        }
      }
    },
    "PaymentTransactionOut": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PayRecLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PayRecCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "PaymentTransactionIn": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentLinesIn"
          }
        }
      }
    },
    "ReceiptTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PayRecLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PayRecCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "ReceiptTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PaymentLinesIn"
          }
        }
      }
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "in": {
          "type": "string",
          "enum": [
            "params",
            "body",
            "query"
          ]
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "HeaderForGoods": {
      "type": "object",
      "required": [
        "participants",
        "transactionType",
        "eDocCreatorType",
        "companyLocation",
        "messageType"
      ],
      "properties": {
        "messageType": {
          "type": "string",
          "enum": [
            "goods"
          ],
          "default": "goods"
        },
        "accountId": {
          "type": "string",
          "description": "This string is a UUID issued by Avalara to identify the Avalara account that owns the company identified by the companyCode on the next line."
        },
        "companyCode": {
          "type": "string",
          "maxLength": 60,
          "description": "string is a code maintained by the client application to uniquely identify the company for which this transaction is being recorded. It is unique within the context of an Account. It will be limited to 60 characters when creating a Company"
        },
        "documentCode": {
          "type": "string",
          "description": "This string is a code maintained by the client application to uniquely identify a document in the client's systems. It will typically be an invoice number, sales order, receipt number, returned merchandise authorization number, etc. When has this field, the transaction will be stored"
        },
        "participants": {
          "description": "List of transaction participants, Seller, Buyer, Carrier",
          "type": "object",
          "properties": {
            "entity": {
              "$ref": "#/definitions/EntityForGoods"
            },
            "transporter": {
              "$ref": "#/definitions/EntityForGoods"
            }
          }
        },
        "nfAccessKey": {
          "type": "string",
          "description": "This is the public NF id. With this number is possible get invoice information directly from government."
        },
        "nfceQrCode": {
          "type": "string",
          "maxLength": 600,
          "minLength": 100,
          "description": "qr code printed on DANFE;"
        },
        "transactionType": {
          "type": "string",
          "enum": [
            "Sale",
            "Purchase",
            "SalesReturn",
            "PurchaseReturn",
            "TransferReturn",
            "Shipping",
            "ShippingReturn",
            "Transfer",
            "ReceiptAdjustment",
            "TransferAdjustment"
          ],
          "description": "This string indicates the type of transaction for which tax should be calculated."
        },
        "transactionModel": {
          "type": "string",
          "enum": [
            "01",
            "1B",
            "02",
            "2D",
            "2E",
            "04",
            "06",
            "07",
            "08",
            "8B",
            "09",
            "10",
            "11",
            "13",
            "14",
            "15",
            "16",
            "18",
            "21",
            "22",
            "26",
            "27",
            "28",
            "29",
            "55",
            "57",
            "59",
            "60",
            "65"
          ],
          "description": "- '01' # Nota Fiscal 1/1A\n- '1B' # Nota Fiscal Avulsa\n- '02' # Nota Fiscal de Venda a-Consumidor\n- '2D' # Cupom Fiscal\n- '2E' # Cupom Fiscal-Bilhete de Passagem\n- '04' # Nota Fiscal de Produtor\n- '06' # Nota Fiscal/Conta de Energia Elétrica\n- '07' # Nota Fiscal de Serviço de Transporte\n- '08' # Conhecimento de Transporte Rodoviário de-Cargas\n- '8B' # Conhecimento de Transporte de-Cargas Avulso\n- '09' # Conhecimento de Transporte Aquaviário de-Cargas\n- '10' # Conhecimento Aéreo\n- '11' # Conhecimento de Transporte Ferroviário de-Cargas\n- '13' # Bilhete de Passagem Rodoviário\n- '14' # Bilhete de Passagem Aquaviário\n- '15' # Bilhete de Passagem e-Nota de-Bagagem\n- '16' # Bilhete de Passagem Ferroviário\n- '18' # Resumo de Movimento Diário\n- '21' # Nota Fiscal de Serviço de-Comunicação\n- '22' # Nota Fiscal de Serviço de Telecomunicação\n- '26' # Conhecimento de Transporte Multimodal de-Cargas\n- '27' # Nota Fiscal De Transporte Ferroviário De-Carga\n- '28' # Nota Fiscal/Conta de Fornecimento de Gás-Canalizado\n- '29' # Nota Fiscal/Conta de Fornecimento de Água-Canalizada\n- '55' # Nota Fiscal Eletrônica (NF-e)\n- '57' # Conhecimento de Transporte Eletrônico (CT-e)\n- '59' # Cupom Fiscal Eletrônico (CF-e-SAT)\n- '60' # Cupom Fiscal Eletrônico (CF-e-ECF)\n- '65' # Nota Fiscal Eletrônica ao-Consumidor Final (NFC-e)\n"
        },
        "transactionClass": {
          "type": "string",
          "description": "Natureza da Opreração - 'Describe kind of this transaction, summary"
        },
        "eDocCreatorType": {
          "type": "string",
          "enum": [
            "self",
            "other"
          ],
          "default": "self"
        },
        "eDocCreatorPerspective": {
          "type": "boolean",
          "default": true,
          "description": "This Flag is used only when eDocCreatorType is other and the return show Taxes using eDocCreator perspective or self perspective."
        },
        "currency": {
          "type": "string",
          "default": "BRL",
          "description": "currency code"
        },
        "companyLocation": {
          "type": "string",
          "description": "This string contains a previously configured company code which may also have codes needed for tax return purposes. These codes are maintained through the customer portal. Main company address identity"
        },
        "transactionDate": {
          "type": "string",
          "description": "This string is the transaction date in ISO 8601 format, create transaction date"
        },
        "shippingDate": {
          "type": "string",
          "description": "This string is the transaction date in ISO 8601 format, when products were shipped, can be empty or absent"
        },
        "additionalInfo": {
          "$ref": "#/definitions/AdditionalInformation"
        },
        "tpImp": {
          "type": "string",
          "description": "how the document will be printed\n- '0' # without DANFE;\n- '1' # DANFe Letter;\n- '2' # DANFe Landscape;\n- '3' # DANFe Simplified;\n- '4' # DANFe NFC-e;\n- '5' # DANFe NFC-e e-mail\n",
          "enum": [
            "0",
            "1",
            "2",
            "3",
            "4",
            "5"
          ]
        },
        "idDest": {
          "description": "This indicator inform transaction target place, when is AUTOMATIC the company address and entity address are analyzed to identify type of transaction target place\n1- same state; 2 - interstate; 3-with exterior. Exist some cases where is necessary force this situation like when buyer from another state buy something in loco, the address are from different states, but transaction no. \nIdentificador de Local de destino da operação, na opção AUTOMATIC endereços da Companhia e da entidade destino são analisados para\nsaber se é uma operação dentro do mesmo estado, interestadual ou com o exterior. Há situações onde é necessário forçar este indicador como por exemplo \nQuando uma pessoa com endereço em outro estado, compra uma mercadoria de forma presencial, é uma operação interna apesar dos endereços dos envolvidos estarem em estados distintos.\n- 0 # AUTOMATIC - DEFAULT\n- 1 # Interna;\n- 2 # Interestadual;\n- 3 # Exterior)\n",
          "type": "integer",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "default": 0
        },
        "indPres": {
          "type": "string",
          "description": "Presence indicator\n- '0' # Not applicable\n- '1' # Presential;\n- '2' # Remote, internet;\n- '3' # Remote, phone;\n- '4' # NFC-e home delivery;\n- '9' # Remote, others\n",
          "enum": [
            "0",
            "1",
            "2",
            "3",
            "4",
            "9"
          ]
        },
        "invoiceNumber": {
          "type": "integer",
          "description": "Invoice number, sequential unique by invoice serial (Número da nota fiscal)"
        },
        "invoiceSerial": {
          "type": "integer",
          "description": "Invoice number, sequential unique by invoice serial (Número da nota fiscal)\n"
        },
        "defaultLocations": {
          "$ref": "#/definitions/DefaultLocations"
        },
        "transport": {
          "description": "Shipment",
          "$ref": "#/definitions/Transport"
        },
        "nfRef": {
          "description": "Transactions or other invoices referenced",
          "type": "array",
          "maxItems": 500,
          "items": {
            "$ref": "#/definitions/NRef"
          }
        },
        "payment": {
          "$ref": "#/definitions/Payment"
        },
        "purchaseInfo": {
          "$ref": "#/definitions/PurchaseInfo"
        },
        "export": {
          "$ref": "#/definitions/ExportInfo"
        }
      }
    },
    "LineForGoods": {
      "type": "object",
      "required": [
        "lineCode",
        "itemCode",
        "numberOfItems",
        "lineAmount",
        "itemDescription",
        "useType",
        "processScenario"
      ],
      "properties": {
        "lineCode": {
          "type": "integer",
          "description": "This is unique identifier for this line in the transaction"
        },
        "itemCode": {
          "type": "string",
          "maxLength": 60,
          "description": "This string is a code maintained by the client application to uniquely identify a product or service. It will likely be a SKU and is required for SST states."
        },
        "avalaraGoodsAndServicesType": {
          "type": "string",
          "description": "AGAST CODE for itemCode"
        },
        "numberOfItems": {
          "type": "number",
          "format": "double",
          "default": 1,
          "description": "This decimal 11 integers and 1 to 4 decimals captures the number of individual items or units represented by this line. Digits after the decimal point are optional. This should always be positive. Quantity, default 1"
        },
        "returnedPercentageAmount": {
          "type": "number",
          "format": "double",
          "description": "when is return operation this field inform the percentage of returned itens. This decimal max 3 integers and 2 decimals, v >=0.00 and v <= 100.00"
        },
        "lineUnitPrice": {
          "type": "number",
          "format": "double",
          "description": "This decimal 11 integers and 1 to 10 decimals captures the unit price of this line."
        },
        "lineAmount": {
          "type": "number",
          "format": "double",
          "description": "In its simplest form lineAmount = (item price * numberOfItems). If taxIncluded is 'true', lineAmount = (item price * numberOfItems + tax)."
        },
        "itemDescription": {
          "type": "string",
          "description": "This string captures the description of the item represented by this line, will be used LC 116"
        },
        "lineTaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "Discount conditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "lineUntaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "discount unconditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "useType": {
          "type": "string",
          "enum": [
            "use or consumption",
            "resale",
            "agricultural production",
            "production",
            "use or consumption on business establishment",
            "use or consumption on transporter service establishment",
            "use or consumption on communication service establishment",
            "use or consumption on demand by contract",
            "use or consumption on energy supplier establishment",
            "use or consumption of fuel transaction type exportation",
            "use or consumption on services",
            "fixed assets",
            "resale export",
            "resale icms exempt",
            "resale buyer under the same icmsSt tax rule",
            "transport of goods that don't need invoice (nf)"
          ],
          "description": "This is a enumeration folowing table"
        },
        "processScenario": {
          "type": "string",
          "maxLength": 60,
          "description": "Reference to process configurantion of this transaction, See ProcessScenario definition\nthis property is used only if eDocCreator=self or  eDocCreator=others and eDocCreatorPerspective=true\n"
        },
        "operationTypeReceiptMap": {
          "type": "string",
          "maxLength": 60,
          "description": "Mapping table used to discover the CFOP when execute the Tax receipt in funciotn of CFOP Received and Item Type\nthis property is used only if eDocCreator=others and eDocCreatorPerspective=false\n"
        },
        "legalReason": {
          "type": "object",
          "description": "Legal Reason for this tax scenario",
          "properties": {
            "id": {
              "type": "string",
              "description": "Internal ID"
            },
            "name": {
              "type": "string",
              "description": "Short name to this message"
            }
          }
        },
        "cfop": {
          "type": "integer",
          "description": "Fiscal Operation Code of transport service"
        },
        "overwrite": {
          "type": "string",
          "enum": [
            "all",
            "cfop",
            "proportional",
            "no"
          ],
          "description": "- 'all' # THE SYSTEM GET ALL INFORMATIONS PASSED IN TRANSACTION\n- 'cfop' # THE SYSTEM DISCOVRE AND REPLACE ONLY CFOP\n- 'proportional' # THE SYSTEM DISCOVER CFOP AND AND USES TAX VALUES FROM REFERENCED TRANSACTION, PROPORTINAL BY QUANTITY\n- 'no' # DEFAULT THE SYSTEM WILL CALCULATED ALL TAXES\n",
          "default": "no"
        },
        "hasStockImpact": {
          "type": "boolean",
          "description": "return if this transaction has stock impact for this process or CFOP"
        },
        "hasFinantialImpact": {
          "type": "boolean",
          "description": "return if this transaction has finantial impact for this process or CFOP"
        },
        "freightAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "insuranceAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "otherCostAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "indTotType": {
          "type": "boolean",
          "default": true,
          "description": "The item value will compose the invoice total value."
        },
        "referencedItem": {
          "type": "object",
          "description": "order number, information used for B2B control process",
          "properties": {
            "refNFe": {
              "type": "string",
              "maxLength": 44,
              "pattern": "[0-9]{44}"
            },
            "lineCode": {
              "type": "integer",
              "description": "This identifier for this line in the transaction"
            }
          }
        },
        "orderNumber": {
          "type": "string",
          "minLength": 1,
          "maxLength": 15,
          "description": "order number, information used for B2B control process"
        },
        "orderItemNumber": {
          "type": "string",
          "pattern": "[0-9]{1,6}",
          "description": "number of the item from order number, information used for B2B control process"
        },
        "fciNumber": {
          "type": "string",
          "pattern": "[A-F0-9]{8}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{4}-[A-F0-9]{12}",
          "description": "Gloal Unique identifier (Importation form)"
        },
        "recopiNumber": {
          "type": "string",
          "maxLength": 20,
          "pattern": "[0-9]{20}",
          "description": "RECOPI number"
        },
        "infAdProd": {
          "type": "string",
          "maxLength": 500,
          "description": "additional information about product (referenced standard, complementary info, etc)"
        },
        "vehicle": {
          "$ref": "#/definitions/Vehicle"
        },
        "medicine": {
          "$ref": "#/definitions/Medicine"
        },
        "weapon": {
          "$ref": "#/definitions/Weapon"
        },
        "fuel": {
          "$ref": "#/definitions/Fuel"
        },
        "entityIsIcmsSubstitute": {
          "type": "boolean",
          "description": "Inform that for this item the Entity referenced is ICMS Substitute"
        },
        "isTransportIcmsWithheld": {
          "type": "boolean",
          "description": "Inform that this item has ICMS withheld for transport value service."
        },
        "icmsTaxRelief": {
          "type": "object",
          "required": [
            "reasonCode"
          ],
          "properties": {
            "reasonCode": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "16"
              ],
              "description": "When item transaction subject to desoneration, this is the reason code\n- '1' # Táxi;\n- '3' # Produtor Agropecuário;\n- '4' # Frotista/Locadora;\n- '5' # Diplomático/Consular;\n- '6' # Utilitários e Motocicletas da Amazônia Ocidental e Áreas de Livre Comércio (Resolução 714/88 e 790/94 – CONTRAN e suas alterações);\n- '7' # SUFRAMA;\n- '8' # Venda a órgão Público;\n- '9' # Outros\n- '10' # Deficiente Condutor\n- '11' # Deficiente não condutor\n- '12' # Fomento agropecuário\n- '16' # Olimpíadas Rio 2016\n"
            },
            "taxBaseDiscount": {
              "type": "number",
              "format": "double",
              "description": "ICMS Tax base rate discount  (desconto na base do ICMS referetne a desoneração)"
            },
            "taxAmount": {
              "type": "number",
              "format": "double",
              "description": "Amount for Icms Relief (desoneração)"
            }
          }
        },
        "export": {
          "description": "Exportation detail",
          "type": "array",
          "maxItems": 500,
          "items": {
            "type": "object",
            "properties": {
              "drawbackNumber": {
                "type": "string",
                "maxLength": 11,
                "pattern": "[0-9]{0,11}"
              },
              "indExport": {
                "type": "object",
                "description": "indirect exportation",
                "required": [
                  "registerNumber",
                  "accessKey",
                  "quantity"
                ],
                "properties": {
                  "registerNumber": {
                    "type": "string",
                    "maxLength": 12,
                    "pattern": "[0-9]{0,12}",
                    "description": "Exportation register number"
                  },
                  "accessKey": {
                    "type": "string",
                    "maxLength": 44,
                    "pattern": "[0-9]{44}",
                    "description": "invoice access key received to export"
                  },
                  "quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "This decimal 11 integers and 0 to 4 decimals, quantity exported in real"
                  }
                }
              }
            }
          }
        },
        "di": {
          "description": "Import declaration",
          "type": "array",
          "maxItems": 100,
          "items": {
            "type": "object",
            "required": [
              "diNumber",
              "registerDateDI",
              "clearanceSite",
              "clearanceState",
              "transportDIType",
              "intermediateType",
              "adi"
            ],
            "properties": {
              "customsValue": {
                "type": "number",
                "format": "double",
                "description": "customs value, valor aduaneiro (II Block of NFe)"
              },
              "diNumber": {
                "type": "string",
                "maxLength": 12,
                "minLength": 1,
                "description": "Import declaration number, DI/DSI/DA/DRI-E (DI/DSI/DA/DRI-E)"
              },
              "registerDateDI": {
                "type": "string",
                "description": "Register date of import declaration number, DI/DSI/DA/DRI-E (DI/DSI/DA/DRI-E)"
              },
              "clearanceSite": {
                "type": "string",
                "maxLength": 60,
                "minLength": 1,
                "description": "Clerance Site\nLocal do desembaraço aduaneiro\n"
              },
              "clearanceState": {
                "$ref": "#/definitions/StateEnum",
                "description": "Clerance Site State\nEstado onde ocorrreu o desembaraço aduaneiro\n"
              },
              "clearanceDate": {
                "type": "string",
                "description": "Clerance date"
              },
              "transportDIType": {
                "description": "- '1' # Maritima\n- '2' # Fluvial\n- '3' # Lacustre\n- '4' # Aerea\n- '5' # Postal\n- '6' # Ferroviaria\n- '7' # Rodoviaria\n- '8' # Conduto\n- '9' # Meios Proprios\n- '10' # Entrada/Saida Ficta\n",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  "4",
                  "5",
                  "6",
                  "7",
                  "8",
                  "9",
                  "10"
                ]
              },
              "afrmmValue": {
                "type": "number",
                "format": "double",
                "description": "Aditional amount to freight to renew merchant marine, This decimal 13 integers and 2 decimals\n[Valor Adicional ao frete para renovação de marinha mercante]\n"
              },
              "intermediateType": {
                "description": "- '1' # On One's Own [1-por conta propria]\n- '2' # On Behalf And Order [2-por conta e ordem]\n- '3' # Order [3-encomenda]\n",
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3"
                ]
              },
              "buyerFederalTaxID": {
                "type": "string",
                "pattern": "[0-9]{14}",
                "description": "Buyer federal tax id\nCNPJ do comprador ou encomendante\n"
              },
              "buyerState": {
                "$ref": "#/definitions/StateEnum",
                "description": "Buyer sate\nEstado do comprador ou encomendante\n"
              },
              "exporterCode": {
                "type": "string",
                "maxLength": 60,
                "minLength": 1,
                "description": "Exporter code"
              },
              "adi": {
                "type": "array",
                "maxItems": 100,
                "description": "aditional import declaration",
                "items": {
                  "type": "object",
                  "required": [
                    "addNumber",
                    "sequentialNumber",
                    "manufacturerCode"
                  ],
                  "properties": {
                    "addNumber": {
                      "type": "integer",
                      "description": "aditional sequence number (1 to 100)"
                    },
                    "sequentialNumber": {
                      "type": "integer",
                      "description": "sequential item number for this adi, sequence number (1 to 999)"
                    },
                    "manufacturerCode": {
                      "type": "string",
                      "maxLength": 60,
                      "minLength": 1,
                      "description": "Manufatorer erp internal code"
                    },
                    "adiDiscount": {
                      "type": "number",
                      "format": "double",
                      "description": "This decimal 13 integers and 2 decimals, aditional adi discount"
                    },
                    "drawbackNumber": {
                      "type": "string",
                      "pattern": "[0-9]{0,11}",
                      "minLength": 1,
                      "description": "Drawback number"
                    }
                  }
                }
              }
            }
          }
        },
        "calculatedTax": {
          "type": "object",
          "properties": {
            "taxByType": {
              "type": "object",
              "properties": {
                "icms": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsSt": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsStSd": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsPartOwn": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsPartDest": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsDifaFCP": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsDifaDest": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsDifaRemet": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsRf": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsDeson": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "icmsCredsn": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "pis": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "pisSt": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "cofins": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "cofinsSt": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "ipi": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "ipiReturned": {
                  "allOf": [
                    {
                      "$ref": "#/definitions/TaxByTypeTax"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "calcBase": {
                          "type": "number",
                          "format": "double"
                        }
                      }
                    }
                  ]
                },
                "ii": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "iof": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "aproxtribState": {
                  "$ref": "#/definitions/TaxByTypeTax"
                },
                "aproxtribFed": {
                  "$ref": "#/definitions/TaxByTypeTax"
                }
              }
            },
            "tax": {
              "type": "number",
              "format": "double"
            },
            "details": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DetailsCalculatedTaxItem"
              }
            }
          }
        }
      }
    },
    "EntityForGoods": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        },
        {
          "type": "object",
          "properties": {
            "icmsTaxPayer": {
              "type": "boolean",
              "description": "Inform if the entity is ICMS tax payer."
            }
          }
        }
      ]
    },
    "NRef": {
      "description": "Referenced Invoices\nThe invoice can be one of this types,\n- 'refNFe - Eletronic Invoice'\n- 'refCTE - Transport Invoice'\n- 'refECF - Reatail Cupom'\n- 'refNF  - Invoice model 1 or 1A'\n- 'refFarmerNF - farmer invoice'\n",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "refNFe",
            "refCTE",
            "refECF",
            "refNF",
            "refFarmerNF"
          ]
        },
        "refNFe": {
          "type": "string",
          "maxLength": 44,
          "pattern": "[0-9]{44}"
        },
        "refCTe": {
          "type": "string",
          "maxLength": 44,
          "pattern": "[0-9]{44}"
        },
        "refECF": {
          "type": "object",
          "required": [
            "nECF",
            "nCOO",
            "modECF"
          ],
          "properties": {
            "nECF": {
              "description": "ECF Sequential number that generated Cupom attached to NFe\ninformar o número de ordem seqüencial do ECF que emitiu o Cupom Fiscal vinculado à NF-e\n",
              "type": "string",
              "pattern": "[0-9]{1,3}"
            },
            "nCOO": {
              "description": "Operational counter number attached to NFe\nInformar o Número do Contador de Ordem de Operação - COO vinculado à NF-e\n",
              "type": "string",
              "pattern": "[0-9]{1,6}"
            },
            "modECF": {
              "description": "Fiscal document model\n- '2B' # coupon tax not ECF\n- '2C' # PDV coupon tax\n- '2D' # ECF coupon tax\n",
              "type": "string",
              "enum": [
                "2B",
                "2C",
                "2D"
              ]
            }
          }
        },
        "refNF": {
          "type": "object",
          "required": [
            "stateCd",
            "yymm",
            "federalTaxId",
            "serie",
            "number"
          ],
          "properties": {
            "stateCd": {
              "description": "State code of fiscal Document creator",
              "$ref": "#/definitions/StateEnum"
            },
            "yymm": {
              "description": "year and month of fiscal document creation",
              "type": "string",
              "pattern": "[0-9]{2}[0]{1}[1-9]{1}|[0-9]{2}[1]{1}[0-2]{1}"
            },
            "federalTaxId": {
              "description": "fiscal document creator federalTaxId",
              "type": "string",
              "pattern": "[0-9]{14}"
            },
            "serie": {
              "description": "fiscal document serie",
              "type": "string",
              "pattern": "0|[1-9]{1}[0-9]{0,2}"
            },
            "number": {
              "description": "fiscal document number",
              "type": "string",
              "pattern": "[1-9]{1}[0-9]{0,8}"
            }
          }
        },
        "refFarmerNF": {
          "type": "object",
          "required": [
            "stateCd",
            "yymm",
            "federalTaxId",
            "stateTaxId",
            "model",
            "serie",
            "number"
          ],
          "properties": {
            "stateCd": {
              "description": "State code of fiscal Document creator, farmer",
              "$ref": "#/definitions/StateEnum"
            },
            "yymm": {
              "description": "year and month of fiscal document creation",
              "type": "string",
              "pattern": "[0-9]{2}[0]{1}[1-9]{1}|[0-9]{2}[1]{1}[0-2]{1}"
            },
            "federalTaxId": {
              "description": "fiscal document creator farmer federalTaxId",
              "type": "string",
              "pattern": "[0-9]{14}"
            },
            "stateTaxId": {
              "description": "fiscal document creator, farmer stateTaxId",
              "type": "string",
              "pattern": "[0-9]{14}"
            },
            "model": {
              "description": "Document Fiscal model\n- '04' # FARMER DOCUMENT\n- '01' # DETACHED DOCUMENT - AVULSO\n",
              "type": "string",
              "enum": [
                "04",
                "01"
              ]
            },
            "serie": {
              "description": "fiscal document serie",
              "type": "string",
              "pattern": "0|[1-9]{1}[0-9]{0,2}"
            },
            "number": {
              "description": "fiscal document number",
              "type": "string",
              "pattern": "[1-9]{1}[0-9]{0,8}"
            }
          }
        }
      }
    },
    "Payment": {
      "type": "object",
      "properties": {
        "installmentsTerms": {
          "type": "integer",
          "enum": [
            0,
            1,
            2
          ],
          "description": "Installment terms\n- 0 # cash\n- 1 # on terms\n- 2 # other\n"
        },
        "bill": {
          "description": "Bill information",
          "type": "object",
          "properties": {
            "nFat": {
              "description": "Bill identifier",
              "type": "string",
              "maxLength": 60,
              "minLength": 1
            },
            "vOrig": {
              "description": "Orignal value",
              "type": "number",
              "format": "double"
            },
            "vDiscount": {
              "description": "Discount",
              "type": "number",
              "format": "double"
            },
            "vNet": {
              "description": "Net value",
              "type": "number",
              "format": "double"
            }
          }
        },
        "installment": {
          "type": "array",
          "maxItems": 120,
          "items": {
            "type": "object",
            "required": [
              "grossValue"
            ],
            "properties": {
              "documentNumber": {
                "type": "string",
                "maxLength": 60,
                "minLength": 1,
                "description": "Instalment number identifier"
              },
              "date": {
                "type": "string",
                "description": "Installment expiration date"
              },
              "grossValue": {
                "type": "number",
                "format": "double",
                "description": "Installment value"
              }
            }
          }
        },
        "paymentMode": {
          "type": "array",
          "maxItems": 100,
          "items": {
            "type": "object",
            "required": [
              "mode",
              "value"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "10",
                  "11",
                  "12",
                  "13",
                  "99"
                ],
                "description": "Payment mode\n- '01' # Dinheiro\n- '02' # Cheque\n- '03' # Cartão de Crédito\n- '04' # Cartão de Débito\n- '05' # Crédito Loja\n- '10' # Vale Alimentação\n- '11' # Vale Refeição\n- '12' # Vale Presente\n- '13' # Vale Combustível\n- '99' # Outros\n"
              },
              "value": {
                "type": "number",
                "format": "double",
                "description": "payment value"
              },
              "cardTpIntegration": {
                "type": "string",
                "enum": [
                  "1",
                  "2"
                ],
                "description": "- '1' # Payment integrated with system,\n- '2' # Payment not integrated with system\n"
              },
              "cardCNPJ": {
                "type": "string",
                "pattern": "[0-9]{14}",
                "description": "Federal tax id of accrediting card (credenciadora do cartão)"
              },
              "cardBrand": {
                "type": "string",
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "99"
                ],
                "description": "card brand\n- '01' # Visa\n- '02' # Mastercard\n- '03' # American Express\n- '04' # Sorocred\n- '99' # Other\n"
              },
              "cardAuthorization": {
                "description": "transaction authorization number",
                "type": "string",
                "maxLength": 20,
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "PurchaseInfo": {
      "type": "object",
      "properties": {
        "governmentOrder": {
          "description": "Invoice info for government purchase orders\nInformação da Nota de Empenho de compras públicas\n",
          "type": "string",
          "maxLength": 22,
          "minLength": 1
        },
        "orderNumber": {
          "description": "Order info\nInformação do pedido\n",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        },
        "contractNumber": {
          "description": "Agreement info\nInformação do contrato\n",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        }
      }
    },
    "ExportInfo": {
      "description": "Export information",
      "type": "object",
      "required": [
        "shippingState",
        "place"
      ],
      "properties": {
        "shippingState": {
          "description": "shipping state",
          "$ref": "#/definitions/StateEnum"
        },
        "place": {
          "description": "shipping place",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        },
        "placeDescription": {
          "description": "description of shipping place",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        }
      }
    },
    "DefaultLocations": {
      "type": "object",
      "description": "This element contains a dictionary of locations such as the origin and destination addresses to be associated with this transaction. These locations may be overridden within each line item. The key for each location in the dictionary is the location 'purpose'. Valid locations purposes are 'ShipFrom', 'ShipTo', 'POS', 'POM', 'POO', 'BillingLocation', 'CallPlaced', 'CallReceived', 'ServiceRendered', 'POA' and 'FirstUse'. There can only be one location of a given purpose in the dictionary.",
      "properties": {
        "entity": {
          "$ref": "#/definitions/EntityLocation"
        },
        "company": {
          "$ref": "#/definitions/EntityLocation"
        },
        "transporter": {
          "$ref": "#/definitions/EntityLocation"
        },
        "deliveryLocation": {
          "$ref": "#/definitions/EntityLocation"
        },
        "pickupLocation": {
          "$ref": "#/definitions/EntityLocation"
        }
      }
    },
    "Transport": {
      "required": [
        "modFreight"
      ],
      "properties": {
        "modFreight": {
          "type": "string",
          "enum": [
            "CIF",
            "FOB",
            "Thridparty",
            "FreeShipping"
          ],
          "description": "Freight model \n- 0 - CIF, \n- 1 - FOB, \n- 2 - Thrid party,\n- 9 - Free shipping\nwhen 9 - Free shipping, the fields below will be ignored if present\n- 'transporter'\n- 'withholdICMSTransport'\n- 'volumes'\n- 'vehicle'\n"
        },
        "withholdICMSTransport": {
          "type": "boolean",
          "description": "Forces witholding of ICMS on transport amount (freight)"
        },
        "volumes": {
          "type": "array",
          "maxItems": 5000,
          "description": "Packages",
          "items": {
            "type": "object",
            "properties": {
              "qVol": {
                "type": "string",
                "pattern": "[0-9]{1,15}",
                "description": "Quantity of packages transported"
              },
              "specie": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "package type"
              },
              "brand": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "brand"
              },
              "volumeNumeration": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "packages numeration"
              },
              "netWeight": {
                "type": "number",
                "format": "double",
                "description": "net weight using Kg"
              },
              "grossWeight": {
                "type": "number",
                "format": "double",
                "description": "gross weight using Kg"
              },
              "seal": {
                "type": "array",
                "maxItems": 5000,
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "vehicle": {
          "$ref": "#/definitions/VehicleTransp"
        }
      }
    },
    "AdditionalInformation": {
      "type": "object",
      "properties": {
        "fiscalInfo": {
          "type": "string",
          "maxLength": 2000,
          "pattern": "[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}",
          "description": "Additional information of fiscal interest"
        },
        "complementaryInfo": {
          "type": "string",
          "maxLength": 5000,
          "pattern": "[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}",
          "description": "Additional information of user interest"
        },
        "procRef": {
          "description": "Referenced Process",
          "type": "array",
          "maxItems": 100,
          "items": {
            "type": "object",
            "properties": {
              "nProc": {
                "type": "string",
                "maxLength": 60,
                "description": "Process Identifier"
              },
              "indProc": {
                "type": "string",
                "enum": [
                  "0",
                  "1",
                  "2",
                  "3",
                  "9"
                ],
                "description": "Process Origin\n- '0' # SEFAZ;\n- '1' # Justiça Federal;\n- '2' # Justiça Estadual;\n- '3' # Secex/RFB;\n- '9' # Outros\n"
              }
            }
          }
        }
      }
    },
    "Entity": {
      "type": "object",
      "required": [
        "type",
        "federalTaxId"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Entity name, official name (Razão Social)"
        },
        "role": {
          "description": "- 'transporter'\n- 'sender' # REMETENTE\n- 'dispatcher' # EXPEDITOR\n- 'receiver' # RECEIVER\n- 'addressee' # DESTINATÁRIO\n- 'other' # OUTRO\n",
          "type": "string",
          "enum": [
            "transporter",
            "sender",
            "dispatcher",
            "receiver",
            "addressee",
            "other"
          ]
        },
        "type": {
          "$ref": "#/definitions/EntityType"
        },
        "federalTaxId": {
          "type": "string",
          "pattern": "([!-ÿ]{0}|[!-ÿ]{5,20})?",
          "description": "CNPJ/CPF of Sales Buyer, if CPF pattern is '[0-9]{11}' if CNPJ pattern is '[0-9]{14}'"
        },
        "cityTaxId": {
          "type": "string",
          "maxLength": 15,
          "description": "City Tax ID"
        },
        "stateTaxId": {
          "type": "string",
          "pattern": "[0-9]{2,14}|ISENTO",
          "description": "State Tax ID"
        },
        "suframa": {
          "type": "string",
          "pattern": "[0-9]{8,9}",
          "description": "Suframa ID"
        },
        "phone": {
          "type": "string",
          "pattern": "[0-9]{6,14}",
          "description": "Entity Phone"
        },
        "taxRegime": {
          "type": "string",
          "enum": [
            "realProfit",
            "estimatedProfit",
            "simplified",
            "simplifiedOverGrossthreshold",
            "simplifiedEntrepreneur",
            "notApplicable",
            "individual"
          ]
        },
        "email": {
          "type": "string",
          "maxLength": 60,
          "description": "Entity Email"
        },
        "subjectToSRF1234": {
          "type": "boolean",
          "description": "Companies subject to follow same rules of Government entities (Instrução Normativa SRF1234)"
        },
        "subjectToPayrollTaxRelief": {
          "type": "boolean",
          "description": "Sujeito à desoneração de folha de pagamento."
        }
      }
    },
    "EntityType": {
      "type": "string",
      "enum": [
        "business",
        "individual",
        "federalGovernment",
        "stateGovernment",
        "cityGovernment",
        "foreign"
      ],
      "description": "Entity Type (business, individual, federal government, state government, city government, foreign)"
    },
    "StateEnum": {
      "type": "string",
      "maxLength": 2,
      "enum": [
        "AC",
        "AL",
        "AP",
        "AM",
        "BA",
        "CE",
        "DF",
        "ES",
        "GO",
        "MA",
        "MT",
        "MS",
        "MG",
        "PA",
        "PB",
        "PR",
        "PE",
        "PI",
        "RJ",
        "RN",
        "RS",
        "RO",
        "RR",
        "SC",
        "SP",
        "SE",
        "TO"
      ],
      "description": "State Abreviation:\n- 'AC'\n- 'AL'\n- 'AP'\n- 'AM'\n- 'BA'\n- 'CE'\n- 'DF'\n- 'ES'\n- 'GO'\n- 'MA'\n- 'MT'\n- 'MS'\n- 'MG'\n- 'PA'\n- 'PB'\n- 'PR'\n- 'PE'\n- 'PI'\n- 'RJ'\n- 'RN'\n- 'RS'\n- 'RO'\n- 'RR'\n- 'SC'\n- 'SP'\n- 'SE'\n- 'TO'\n"
    },
    "EntityLocation": {
      "title": "Address",
      "anyOf": [
        {
          "type": "object",
          "required": [
            "zipcode"
          ],
          "properties": {
            "street": {
              "type": "string",
              "maxLength": 60,
              "description": "Street Name"
            },
            "neighborhood": {
              "type": "string",
              "maxLength": 60,
              "description": "Neighborhood Name"
            },
            "zipcode": {
              "type": "string",
              "description": "Zip Code"
            },
            "cityCode": {
              "type": "string",
              "pattern": "[0-9]{7}|0",
              "description": "City Code",
              "default": "0"
            },
            "cityName": {
              "type": "string",
              "maxLength": 60,
              "description": "City Name"
            },
            "state": {
              "type": "string",
              "description": "State Code",
              "pattern": "^([A-Z]{2,3})$"
            },
            "countryCode": {
              "type": "string",
              "pattern": "[0-9]{1,4}",
              "description": "Country Code",
              "default": "0"
            },
            "country": {
              "type": "string",
              "maxLength": 3,
              "description": "Use ISO 3166-1 alpha-3 codes",
              "pattern": "^([A-Z]{3})$"
            },
            "number": {
              "type": "string",
              "maxLength": 60,
              "description": "House number"
            },
            "complement": {
              "type": "string",
              "maxLength": 60,
              "description": "Any other information about the address (Room, Suite, Floor, etc))."
            },
            "phone": {
              "type": "string",
              "pattern": "^(\\d{6,14}|\\(\\d{2}\\)\\s*\\d{4,5}-*\\d{4})$",
              "description": "Phone number"
            }
          }
        },
        {
          "type": "object",
          "required": [
            "zipcode",
            "cityCode",
            "state"
          ],
          "properties": {
            "street": {
              "type": "string",
              "maxLength": 60,
              "description": "Street Name"
            },
            "neighborhood": {
              "type": "string",
              "maxLength": 60,
              "description": "Neighborhood Name"
            },
            "zipcode": {
              "type": "string",
              "pattern": "^(\\d{8}|\\d{5}\\-\\d{3})$",
              "description": "Brazilian Zip Code"
            },
            "cityCode": {
              "type": "string",
              "pattern": "^(\\d{7})$",
              "description": "City Code (IBGE)"
            },
            "cityName": {
              "type": "string",
              "maxLength": 60,
              "description": "City Name"
            },
            "state": {
              "$ref": "#/definitions/StateEnum"
            },
            "countryCode": {
              "type": "string",
              "pattern": "[0-9]{1,4}",
              "description": "Country Code",
              "default": "0"
            },
            "country": {
              "type": "string",
              "maxLength": 3,
              "description": "Use ISO 3166-1 alpha-3 codes",
              "pattern": "^([A-Z]{3})$",
              "default": "BRA"
            }
          }
        },
        {
          "title": "Address",
          "anyOf": [
            {
              "type": "object",
              "required": [
                "zipcode"
              ],
              "properties": {
                "street": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Street Name"
                },
                "neighborhood": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Neighborhood Name"
                },
                "zipcode": {
                  "type": "string",
                  "description": "Zip Code"
                },
                "cityCode": {
                  "type": "string",
                  "pattern": "[0-9]{7}|0",
                  "description": "City Code",
                  "default": "0"
                },
                "cityName": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "City Name"
                },
                "state": {
                  "type": "string",
                  "description": "State Code",
                  "pattern": "^([A-Z]{2,3})$"
                },
                "countryCode": {
                  "type": "string",
                  "pattern": "[0-9]{1,4}",
                  "description": "Country Code",
                  "default": "0"
                },
                "country": {
                  "type": "string",
                  "maxLength": 3,
                  "description": "Use ISO 3166-1 alpha-3 codes",
                  "pattern": "^([A-Z]{3})$"
                },
                "number": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "House number"
                },
                "complement": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Any other information about the address (Room, Suite, Floor, etc))."
                },
                "phone": {
                  "type": "string",
                  "pattern": "^(\\d{6,14}|\\(\\d{2}\\)\\s*\\d{4,5}-*\\d{4})$",
                  "description": "Phone number"
                }
              }
            },
            {
              "type": "object",
              "required": [
                "zipcode",
                "cityCode",
                "state"
              ],
              "properties": {
                "street": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Street Name"
                },
                "neighborhood": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Neighborhood Name"
                },
                "zipcode": {
                  "type": "string",
                  "pattern": "^(\\d{8}|\\d{5}\\-\\d{3})$",
                  "description": "Brazilian Zip Code"
                },
                "cityCode": {
                  "type": "string",
                  "pattern": "^(\\d{7})$",
                  "description": "City Code (IBGE)"
                },
                "cityName": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "City Name"
                },
                "state": {
                  "$ref": "#/definitions/StateEnum"
                },
                "countryCode": {
                  "type": "string",
                  "pattern": "[0-9]{1,4}",
                  "description": "Country Code",
                  "default": "0"
                },
                "country": {
                  "type": "string",
                  "maxLength": 3,
                  "description": "Use ISO 3166-1 alpha-3 codes",
                  "pattern": "^([A-Z]{3})$",
                  "default": "BRA"
                }
              }
            }
          ]
        }
      ]
    },
    "VehicleTransp": {
      "type": "object",
      "description": "Identify type of vehicle used to transport\nthe attributes, except atribute type,  follow rule oneOf then only one of this atributes will be informed.\n",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "automobile",
            "wagon",
            "ferry",
            "trailer"
          ]
        },
        "automobile": {
          "$ref": "#/definitions/VehicleID"
        },
        "trailer": {
          "description": "Trailer",
          "type": "array",
          "maxItems": 5,
          "items": {
            "$ref": "#/definitions/VehicleID"
          }
        },
        "wagon": {
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        },
        "ferry": {
          "description": "Ferry",
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        }
      }
    },
    "VehicleID": {
      "type": "object",
      "required": [
        "licensePlate",
        "stateCode"
      ],
      "properties": {
        "licensePlate": {
          "type": "string",
          "pattern": "[A-Z]{2,3}[0-9]{4}|[A-Z]{3,4}[0-9]{3}"
        },
        "stateCode": {
          "$ref": "#/definitions/StateEnum"
        },
        "rtnc": {
          "type": "string",
          "maxLength": 20,
          "description": "Cargo Transport National Register, Registro Nacional de Transportador de Carga (ANTT)"
        }
      }
    },
    "DetailsCalculatedTaxItem": {
      "allOf": [
        {
          "$ref": "#/definitions/DetailsCalculatedTax"
        },
        {
          "type": "object",
          "description": "Details",
          "properties": {
            "source": {
              "$ref": "#/definitions/CSTTableAEnum"
            },
            "cstB": {
              "$ref": "#/definitions/CSTTableBEnum"
            },
            "cst": {
              "type": "string"
            },
            "modBC": {
              "type": "string"
            },
            "pMVA": {
              "type": "number",
              "format": "double",
              "description": "Percent of Value-added margin (%)"
            },
            "pRedBC": {
              "type": "number",
              "format": "double",
              "description": "calc base percent of discount"
            },
            "pBCOp": {
              "type": "number",
              "format": "double",
              "description": "percent of calc base of own icms"
            },
            "ufst": {
              "$ref": "#/definitions/StateEnum"
            },
            "calcMode": {
              "$ref": "#/definitions/CalcModelEnum"
            },
            "legalTaxClass": {
              "type": "integer",
              "description": "Legal tax classificação for IPI (enquadramento tributário)"
            },
            "legalTaxClassDC": {
              "type": "integer",
              "description": "Legal tax classificação for IPI (enquadramento) for Drinks and Cigarettes"
            },
            "cnpjProd": {
              "type": "string",
              "pattern": "([!-ÿ]{0}|[!-ÿ]{5,20})?",
              "description": "CNPJ/CPF of Sales Buyer, if CPF pattern is '[0-9]{11}' if CNPJ pattern is '[0-9]{14}'\nFederal tax ID of real manufacturer, nly for exportation\n"
            },
            "sealCode": {
              "type": "string",
              "maxLength": 60,
              "description": "Seal Code for ipi tax control (código do selo para controle de IPI)"
            },
            "sealQuantity": {
              "type": "string",
              "pattern": "[0-9]{1,12}",
              "description": "Seal Code for ipi tax control (código do selo para controle de IPI)"
            },
            "icmsInterPartRate": {
              "type": "number",
              "format": "double",
              "description": "percent of icms apportionment between two states"
            },
            "icmsSesonReason": {
              "$ref": "#/definitions/ICMSSesonReason"
            },
            "perQuantityReturned": {
              "type": "number",
              "format": "double",
              "description": "percent of merchandise returned"
            }
          }
        }
      ]
    },
    "TaxByTypeTax": {
      "type": "object",
      "required": [
        "tax"
      ],
      "properties": {
        "tax": {
          "type": "number",
          "format": "double",
          "description": "Tax value, negative value for withhold value"
        }
      }
    },
    "Vehicle": {
      "type": "object",
      "required": [
        "tpOp",
        "chassisNumber",
        "colorCode",
        "colorName",
        "cvPower",
        "cylinderVolumCC",
        "netWeight",
        "grossWeight",
        "serialNumber",
        "fuelType",
        "engineNumber",
        "cmt",
        "lengthBetweenAxis",
        "modelYear",
        "manufactoryYear",
        "paintType",
        "vehicleRENAVAMType",
        "specieRENAVAMType",
        "modelRENAVAMCode",
        "colorDENATRANCode",
        "vin",
        "vehicleManufactoryStatus",
        "maxOccupantsQuantity",
        "restrictionType"
      ],
      "properties": {
        "tpOp": {
          "description": "- 1 # Sales by car dealership\n- 2 # Direct billing\n- 3 # Direct sales\n- 0 # Other\n",
          "type": "integer",
          "enum": [
            1,
            2,
            3,
            0
          ]
        },
        "chassisNumber": {
          "type": "string",
          "maxLength": 17,
          "pattern": "[A-Z0-9]+"
        },
        "colorCode": {
          "type": "string",
          "maxLength": 17,
          "description": "color code used by factory"
        },
        "colorName": {
          "type": "string",
          "maxLength": 40,
          "description": "color name"
        },
        "cvPower": {
          "type": "string",
          "maxLength": 4,
          "description": "Power using CV unid"
        },
        "cylinderVolumCC": {
          "type": "string",
          "maxLength": 4,
          "description": "engine size in cubic centimeters"
        },
        "netWeight": {
          "type": "string",
          "maxLength": 9,
          "description": "net weight"
        },
        "grossWeight": {
          "type": "string",
          "maxLength": 9,
          "description": "gross weight"
        },
        "serialNumber": {
          "type": "string",
          "maxLength": 9,
          "description": "serie"
        },
        "fuelType": {
          "description": "- '01' # Alcohol\n- '02' # Gas\n- '03' # Diesel\n- '16' # Alcohol/Gas\n- '17' # Gas/Alcohol/GNV\n- '18' # Gas/Electric\n",
          "type": "string",
          "enum": [
            "01",
            "02",
            "03",
            "16",
            "17",
            "18"
          ]
        },
        "engineNumber": {
          "type": "string",
          "maxLength": 21,
          "description": "engine number"
        },
        "cmt": {
          "type": "string",
          "maxLength": 9,
          "description": "traction capacity, tonne"
        },
        "lengthBetweenAxis": {
          "type": "string",
          "maxLength": 4,
          "description": "length between axis"
        },
        "modelYear": {
          "type": "string",
          "pattern": "[0-9]{4}",
          "description": "model year"
        },
        "manufactoryYear": {
          "type": "string",
          "pattern": "[0-9]{4}",
          "description": "year of factory"
        },
        "paintType": {
          "type": "string",
          "maxLength": 1,
          "description": "paynt type"
        },
        "vehicleRENAVAMType": {
          "type": "string",
          "pattern": "[0-9]{1,2}"
        },
        "specieRENAVAMType": {
          "type": "string",
          "pattern": "[0-9]{1}"
        },
        "modelRENAVAMCode": {
          "type": "string",
          "pattern": "[0-9]{1,6}"
        },
        "colorDENATRANCode": {
          "description": "- '01' # YELLOW\n- '02' # BLUE\n- '03' # BEIGE\n- '04' # WHITE\n- '05' # GRAY\n- '06' # GOLDEN\n- '07' # GRENA\n- '08' # ORANGE\n- '09' # BROWN\n- '10' # SILVER\n- '11' # BLACK\n- '12' # PINK\n- '13' # PURPLE\n- '14' # GREEN\n- '15' # RED\n- '16' # FANTASY\n",
          "type": "string",
          "pattern": "[0-9]{1,2}",
          "enum": [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16"
          ]
        },
        "vin": {
          "type": "string",
          "enum": [
            "R",
            "N"
          ],
          "description": "chassis condition original or modified (remarcado)"
        },
        "vehicleManufactoryStatus": {
          "description": "- '1' # Finished(Done)\n- '2' # Not finished\n- '3' # Semi-finished\n",
          "type": "string",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "maxOccupantsQuantity": {
          "type": "string",
          "maxLength": 3,
          "format": "[0-9]{1,3}",
          "description": "max number of sit occupants"
        },
        "restrictionType": {
          "description": "Lien/restriction type\n- '0' # No one;\n- '1' # Alienação Fiduciária;\n- '2' # Arrendamento Mercantil;\n- '3' # Reserva de Domínio;\n- '4' # Penhor de Veículos;\n- '9' # Other.\n",
          "type": "string",
          "enum": [
            "0",
            "1",
            "2",
            "3",
            "4",
            "9"
          ]
        }
      }
    },
    "Medicine": {
      "type": "object",
      "required": [
        "loteNumber",
        "loteQuantity",
        "manufactotyDate",
        "expirationDate",
        "maxValueToEndUser"
      ],
      "properties": {
        "loteNumber": {
          "type": "string",
          "maxLength": 20
        },
        "loteQuantity": {
          "type": "number",
          "format": "double",
          "description": "This is a decimal type with 11 digits including 3 decimal positions."
        },
        "manufactotyDate": {
          "type": "string"
        },
        "expirationDate": {
          "type": "string"
        },
        "maxValueToEndUser": {
          "type": "number",
          "format": "double",
          "description": "This is a decimal type with 15 digits including 2 decimal positions.  Max value to end user."
        }
      }
    },
    "Weapon": {
      "type": "object",
      "required": [
        "weaponRestrictionType",
        "serieNumber",
        "gunBarrelSerieNumber",
        "weaponDescription"
      ],
      "properties": {
        "weaponRestrictionType": {
          "description": "- '0' # restrict use\n- '1' # public use\n",
          "type": "string",
          "enum": [
            "0",
            "1"
          ]
        },
        "serieNumber": {
          "type": "string",
          "maxLength": 15
        },
        "gunBarrelSerieNumber": {
          "type": "string",
          "maxLength": 15,
          "description": "Barrel's serial number.\nNúmero de série do cano\n"
        },
        "weaponDescription": {
          "type": "string",
          "maxLength": 256,
          "description": "weapon description"
        }
      }
    },
    "Fuel": {
      "type": "object",
      "required": [
        "prodANPCode",
        "stateCodeOfUndUser"
      ],
      "properties": {
        "prodANPCode": {
          "type": "string",
          "pattern": "[0-9]{9}"
        },
        "perMixGN": {
          "type": "number",
          "format": "double",
          "description": "percentage of natural gas (GLP)"
        },
        "authorizationCodeCODIF": {
          "type": "string",
          "pattern": "[0-9]{1,21}"
        },
        "quantityOnRoomTemperature": {
          "type": "number",
          "format": "double",
          "description": "This decimal 12 integers and 0 to 4 decimals\nQuantidade de combustível faturada à temperatura ambiente.\nInformar quando a quantidade faturada informada no campo qCom (I10) tiver sido ajustada para\numa temperatura diferente da ambiente.\n"
        },
        "stateCodeOfUndUser": {
          "$ref": "#/definitions/StateEnum",
          "description": "state where fuel was used"
        },
        "cide": {
          "type": "object",
          "required": [
            "baseCalcCIDE",
            "rateCIDE",
            "valueCIDE"
          ],
          "properties": {
            "baseCalcCIDE": {
              "type": "number",
              "format": "double",
              "description": "percentage of natural gas (GLP), this decimal 12 integers and 0 to 4 decimals"
            },
            "rateCIDE": {
              "type": "number",
              "format": "double",
              "description": "percentage of natural gas (GLP), this decimal 11 integers and 0 to 4 decimals - R$"
            },
            "valueCIDE": {
              "type": "number",
              "format": "double",
              "description": "percentage of natural gas (GLP), this decimal 13 integers and 2 decimals - R$"
            }
          }
        },
        "pumpNumber": {
          "type": "object",
          "required": [
            "nozzleNumberFuelSupply",
            "fuelPumpNumber",
            "fuelTankNumber",
            "startValueOfPumpNumber",
            "endValueOfPumpNumber"
          ],
          "properties": {
            "nozzleNumberFuelSupply": {
              "type": "string",
              "pattern": "[0-9]{1,3}",
              "description": "Identification number of nozzle used in the dispensing process.  \nNumero de identificação do Bico utilizado no abastecimento\n"
            },
            "fuelPumpNumber": {
              "type": "string",
              "pattern": "[0-9]{1,3}",
              "description": "Identification number of the Pump connect to the used nozzle.  \nNumero de identificação da bomba ao qual o bico está interligado\n"
            },
            "fuelTankNumber": {
              "type": "string",
              "pattern": "[0-9]{1,3}",
              "description": "Identification number of the Pump connect to the used nozzle.  \nNumero de identificação da bomba ao qual o bico está interligado\n"
            },
            "startValueOfPumpNumber": {
              "type": "number",
              "format": "double",
              "description": "Valor do Encerrante no ínicio do abastecimento. \nReading of auto-counter (encerrante) at the start of the refueling/dispensing.\nThis decimal 12 integers and 3 decimals - R$\n"
            },
            "endValueOfPumpNumber": {
              "type": "number",
              "format": "double",
              "description": "Valor do Encerrante no final do abastecimento. \nReading of auto-counter (encerrante) at the end of the refueling/dispensing.\nThis decimal 12 integers and 3 decimals - R$\n"
            }
          }
        }
      }
    },
    "DetailsCalculatedTax": {
      "type": "object",
      "properties": {
        "locationType": {
          "type": "string",
          "description": "This string captures the applicable location type. Location used for calc. Buyer or Seller"
        },
        "jurisdictionName": {
          "type": "string",
          "description": "Jurisdiction used for calctax amount"
        },
        "jurisdictionType": {
          "type": "string",
          "enum": [
            "City",
            "State",
            "Country"
          ],
          "description": "Type of jurisdiction\n- 'City'\n- 'State'\n- 'Country'\n",
          "default": "Country"
        },
        "taxImpact": {
          "type": "object",
          "properties": {
            "impactOnFinalPrice": {
              "type": "string",
              "enum": [
                "Add",
                "Included",
                "Subtracted",
                "Informative"
              ]
            },
            "impactOnNetAmount": {
              "type": "string",
              "enum": [
                "Add",
                "Included",
                "Subtracted",
                "Informative"
              ]
            },
            "accounting": {
              "type": "string",
              "description": "Escrituração",
              "enum": [
                "liability",
                "asset",
                "none"
              ]
            }
          }
        },
        "taxType": {
          "type": "string",
          "enum": [
            "icms",
            "icmsSt",
            "icmsStSd",
            "icmsPartOwn",
            "icmsPartDest",
            "icmsDifaFCP",
            "icmsDifaDest",
            "icmsDifaRemet",
            "icmsRf",
            "icmsDeson",
            "icmsCredsn",
            "pis",
            "pisSt",
            "cofins",
            "cofinsSt",
            "ipi",
            "ipiReturned",
            "ii",
            "iof",
            "aproxtribCity",
            "aproxtribState",
            "aproxtribFed",
            "aproxtrib"
          ],
          "description": "Tax identificator"
        },
        "rateType": {
          "type": "string",
          "description": "Name of configuration rate"
        },
        "scenario": {
          "type": "string",
          "description": "This string captures the transaction scenario used to calculate the tax for this tax type. Scenarios are specific to the tax type. This field provides information about how the tax engine interpreted the transaction information that was passed in."
        },
        "subtotalTaxable": {
          "type": "number",
          "format": "double",
          "description": "This decimal captures how much of the lineAmount was taxable by this tax, calc base"
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "This decimal captures the tax rate for this tax.3.00 (3%)"
        },
        "tax": {
          "type": "number",
          "format": "double",
          "description": "This decimal captures how much of the lineAmount was taxable by this tax"
        },
        "legalReason": {
          "type": "object",
          "description": "Legal Reason for this tax scenario",
          "properties": {
            "id": {
              "type": "string",
              "description": "Internal ID"
            },
            "name": {
              "type": "string",
[...]
