{
  "swagger": "2.0",
  "info": {
    "title": "AvaTax Brazil",
    "description": "The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.",
    "version": "1.0"
  },
  "host": "avataxbr-sandbox.avalarabrasil.com.br",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "basePath": "/v2",
  "paths": {
    "/calculations?goods": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "simulateGoods",
        "summary": "Simulate Method",
        "description": "This operation uses minimum set of attributes for calculate the taxes. This operation do not store the messages.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionSimulationForGoodsIn"
            }
          }
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store?goods": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createCalculationGood",
        "summary": "Calculation Method",
        "description": "This method has more the one operation model,\n(a) simple calculation, this mode has a minimal validation and mandatory field, only enough for calc;\n(b) full calculation, simulation, this mode the system will check all atributes and calc all taxes for that transaction;\n(c) full calculation, starting process to transform this this request into transaction (for NFe, NFCe, CT-e need government authorization);\n(d) ASIS, the sistem receive the message, store and try get authorization, model valid only form NFe, NFCe and CT-e.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsIn"
            }
          }
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store/transaction?goods": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createATaxTransactionGood",
        "summary": "Calculation Method",
        "description": "This method has more the one operation model,\n(a) simple calculation, this mode has a minimal validation and mandatory field, only enough for calc;\n(b) full calculation, simulation, this mode the system will check all atributes and calc all taxes for that transaction;\n(c) full calculation, starting process to transform this this request into transaction (for NFe, NFCe, CT-e need government authorization);\n(d) ASIS, the sistem receive the message, store and try get authorization, model valid only form NFe, NFCe and CT-e.\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsIn"
            }
          }
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-sales": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "simulateServiceSales",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned. Accept all transactions type (Sale, Purchase, Payment and Receipt), the format and message type are desbribed above in each 'calculations-<type>'.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/SalesTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-purchase": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "simulateServicePurchase",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-payment": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "simulateServicePayment",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PaymentTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations?service-receipt": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "simulateServiceReceipt",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store?service-sales": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServiceSales",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned. Accept all transactions type (Sale, Purchase, Payment and Receipt), the format and message type are desbribed above in each 'calculations-<type>'.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/SalesTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store?service-purchase": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServicePurchase",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store?service-payment": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServicePayment",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PaymentTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store?service-receipt": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "calculationServiceReceipt",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store/transaction?service-sales": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createATaxTransactionServiceSales",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned. Accept all transactions type (Sale, Purchase, Payment and Receipt), the format and message type are desbribed above in each 'calculations-<type>'.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/SalesTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store/transaction?service-purchase": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createATaxTransactionServicePurchase",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PurchaseTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store/transaction?service-payment": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createATaxTransactionServicePayment",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/PaymentTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/store/transaction?service-receipt": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "createATaxTransactionServiceReceipt",
        "summary": "Calculation Method",
        "description": "Refer to the business rules below, for an outline view of Tax Determination Process as a whole, showing a beginning-to-end process making use of the specific UseCases and discriminating all required attributes and data to be returned.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionIn"
            }
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out",
            "schema": {
              "$ref": "#/definitions/ReceiptTransactionOut"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/goods": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "get": {
        "operationId": "retrieveGoodsTransactions",
        "summary": "Retrieve goods transactions",
        "description": "Retrieve a list of transactions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/query_transactionType_goods"
          },
          {
            "$ref": "#/parameters/header_listLimit"
          },
          {
            "$ref": "#/parameters/header_listPage"
          }
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Calculations list.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionForGoodsIn"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/goods/{documentCode}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "get": {
        "operationId": "retrieveGoodsTransactionDocument",
        "summary": "Retrieve goods transactions",
        "description": "Retrieve a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Calculations item",
            "schema": {
              "$ref": "#/definitions/TransactionForGoodsIn"
            }
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "removeGoodsTransactionDocument",
        "summary": "Remove goods transactions",
        "description": "Remove a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204_NoContent"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/goods/{documentCode}/transactions": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "put": {
        "operationId": "convertGoodsCalculationToTransaction",
        "summary": "Promote a calculation to transaction",
        "description": "Promote a calculation to transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Goods Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "get": {
        "operationId": "retrieveServiceCalculationTransactions",
        "summary": "Retrieve service transactions",
        "description": "Retrieve a list of transactions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/query_transactionType_service"
          },
          {
            "$ref": "#/parameters/header_listLimit"
          },
          {
            "$ref": "#/parameters/header_listPage"
          }
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "List of transaction"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service/{documentCode}": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "get": {
        "operationId": "retrieveServiceTransactionDocument",
        "summary": "Retrieve service transactions",
        "description": "Retrieve a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "List of transaction"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "removeServiceTransactionDocument",
        "summary": "Remove service transactions",
        "description": "Remove a single transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/204_NoContent"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/calculations/service/{documentCode}/transactions": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        },
        {
          "$ref": "#/parameters/path_documentCode"
        }
      ],
      "put": {
        "operationId": "convertServiceCalculationToTransaction",
        "summary": "Promote a calculation to transaction",
        "description": "Promote a calculation to transaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Services Calculations"
        ],
        "responses": {
          "200": {
            "description": "Transaction Out"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    }
  },
  "responses": {
    "204_NoContent": {
      "description": "Success."
    },
    "400_BadRequest": {
      "description": "The request was invalid or cannot be otherwise served.",
      "schema": {
        "$ref": "#/definitions/ValidationError"
      }
    },
    "401_Unauthorized": {
      "description": "Authentication credentials were missing or incorrect.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "403_Forbidden": {
      "description": "The request is understood, but it has been refused or access is not allowed.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "404_NotFound": {
      "description": "The URI requested is invalid or the resource requested does not exists.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "429_TooManyRequests": {
      "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "500_InternalServerError": {
      "description": "Something is broken.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "503_ServiceUnavailable": {
      "description": "The server is up, but overloaded with requests. Try again later.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "201_Created": {
      "description": "Success.",
      "schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "uuid"
          }
        }
      }
    }
  },
  "parameters": {
    "header_jwt": {
      "name": "Authorization",
      "in": "header",
      "description": "Bearer {auth}",
      "required": true,
      "type": "string"
    },
    "path_accountId": {
      "name": "accountId",
      "in": "path",
      "description": "Account ID",
      "required": true,
      "type": "string",
      "format": "uuid"
    },
    "path_companyCode": {
      "name": "companyCode",
      "in": "path",
      "description": "Company Code",
      "required": true,
      "type": "string"
    },
    "path_documentCode": {
      "name": "documentCode",
      "in": "path",
      "description": "Document Code",
      "required": true,
      "type": "string"
    },
    "query_transactionType_goods": {
      "name": "type",
      "in": "query",
      "description": "Transaction Type",
      "type": "string",
      "enum": [
        "sale",
        "purchase",
        "sales-return",
        "purchase-return",
        "transfer-return",
        "shipping",
        "shipping-return",
        "transfer",
        "receipt-adjustment",
        "transfer-adjustment"
      ]
    },
    "query_transactionType_service": {
      "name": "type",
      "in": "query",
      "description": "Transaction Type (sale, purchase, receipts or payment)",
      "type": "string",
      "enum": [
        "sale",
        "purchase",
        "payment",
        "receipt"
      ]
    },
    "header_listLimit": {
      "name": "X-Pagination-Limit",
      "in": "header",
      "description": "The per page limit. Currently set to 10 but subject to change at any time (max 100).",
      "type": "integer",
      "format": "int32",
      "default": 10,
      "minimum": 5
    },
    "header_listPage": {
      "name": "X-Pagination-Current-Page",
      "in": "header",
      "type": "integer",
      "format": "int32",
      "description": "The current page. Defaults to 1.",
      "default": 1,
      "minimum": 1
    }
  },
  "definitions": {
    "TransactionForGoodsIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/HeaderForGoods"
        },
        "lines": {
          "type": "array",
          "maxItems": 990,
          "items": {
            "$ref": "#/definitions/LineForGoods"
          }
        }
      }
    },
    "TransactionForGoodsOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/HeaderForGoods"
        },
        "lines": {
          "type": "array",
          "maxItems": 990,
          "items": {
            "$ref": "#/definitions/LineForGoods"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/CalculatedTaxSummaryForGoods"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "TransactionSimulationForGoodsIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/HeaderForGoods"
        },
        "lines": {
          "type": "array",
          "maxItems": 990,
          "items": {
            "$ref": "#/definitions/LineForGoods"
          }
        }
      }
    },
    "SalesTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/SalesHeaderOut"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/SalesLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/SalesCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "SalesTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/SalesHeaderIn"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/SalesLinesIn"
          }
        }
      }
    },
    "PurchaseTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PurchaseHeaderOut"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PurchaseLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PurchaseCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "PurchaseTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PurchaseHeaderIn"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PurchaseLinesIn"
          }
        }
      }
    },
    "PaymentTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PayRecLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PayRecCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "PaymentTransactionIn": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentLinesIn"
          }
        }
      }
    },
    "ReceiptTransactionOut": {
      "type": "object",
      "required": [
        "header",
        "lines",
        "calculatedTaxSummary",
        "processingInfo"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PayRecLinesOut"
          }
        },
        "calculatedTaxSummary": {
          "$ref": "#/definitions/PayRecCalculatedTaxSummaryForService"
        },
        "processingInfo": {
          "$ref": "#/definitions/ProcessingInfo"
        }
      }
    },
    "ReceiptTransactionIn": {
      "type": "object",
      "required": [
        "header",
        "lines"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/PayRecHeader"
        },
        "lines": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/PaymentLinesIn"
          }
        }
      }
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "in": {
          "type": "string",
          "enum": [
            "params",
            "body",
            "query"
          ]
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "HeaderForGoods": {
      "type": "object",
      "required": [
        "eDocCreatorType",
        "companyLocation"
      ],
      "properties": {
        "participants": {
          "description": "List of transaction participants, Seller, Buyer, Carrier",
          "type": "object",
          "properties": {
            "entity": {
              "$ref": "#/definitions/EntityForGoods"
            },
            "transporter": {
              "$ref": "#/definitions/EntityForGoods"
            }
          }
        },
        "eDocCreatorType": {
          "type": "string",
          "enum": [
            "self",
            "other"
          ],
          "default": "self"
        },
        "eDocCreatorPerspective": {
          "type": "boolean",
          "default": true,
          "description": "This Flag is used only when eDocCreatorType is other and the return show Taxes using eDocCreator perspective or self perspective."
        },
        "companyLocation": {
          "type": "string",
          "description": "This string contains a previously configured company code which may also have codes needed for tax return purposes. These codes are maintained through the customer portal. Main company address identity"
        },
        "transactionDate": {
          "type": "string",
          "description": "This string is the transaction date in ISO 8601 format, create transaction date"
        },
        "defaultLocations": {
          "$ref": "#/definitions/DefaultLocations"
        },
        "nfRef": {
          "description": "Transactions or other invoices referenced",
          "type": "array",
          "maxItems": 500,
          "items": {
            "$ref": "#/definitions/NRef"
          }
        }
      }
    },
    "LineForGoods": {
      "type": "object",
      "required": [
        "lineCode",
        "itemCode",
        "numberOfItems",
        "lineAmount",
        "useType",
        "processScenario"
      ],
      "properties": {
        "lineCode": {
          "type": "integer",
          "description": "This is unique identifier for this line in the transaction"
        },
        "itemCode": {
          "type": "string",
          "maxLength": 60,
          "description": "This string is a code maintained by the client application to uniquely identify a product or service. It will likely be a SKU and is required for SST states."
        },
        "numberOfItems": {
          "type": "number",
          "format": "double",
          "default": 1,
          "description": "This decimal 11 integers and 1 to 4 decimals captures the number of individual items or units represented by this line. Digits after the decimal point are optional. This should always be positive. Quantity, default 1"
        },
        "lineUnitPrice": {
          "type": "number",
          "format": "double",
          "description": "This decimal 11 integers and 1 to 10 decimals captures the unit price of this line."
        },
        "lineAmount": {
          "type": "number",
          "format": "double",
          "description": "In its simplest form lineAmount = (item price * numberOfItems). If taxIncluded is 'true', lineAmount = (item price * numberOfItems + tax)."
        },
        "lineTaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "Discount conditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "lineUntaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "discount unconditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "useType": {
          "type": "string",
          "enum": [
            "use or consumption",
            "resale",
            "agricultural production",
            "production",
            "use or consumption on business establishment",
            "use or consumption on transporter service establishment",
            "use or consumption on communication service establishment",
            "use or consumption on demand by contract",
            "use or consumption on energy supplier establishment",
            "use or consumption of fuel transaction type exportation",
            "use or consumption on services subject to iss",
            "use or consumption on services subject to icms",
            "fixed assets",
            "resale export",
            "resale icms exempt",
            "resale buyer under the same icmsSt tax rule",
            "transport of goods that don't need invoice (nf)"
          ],
          "description": "This is a enumeration folowing table"
        },
        "processScenario": {
          "type": "string",
          "maxLength": 60,
          "description": "Reference to process configurantion of this transaction, See ProcessScenario definition\nthis property is used only if eDocCreator=self or  eDocCreator=others and eDocCreatorPerspective=true\n"
        },
        "operationTypeReceiptMap": {
          "type": "string",
          "maxLength": 60,
          "description": "Mapping table used to discover the CFOP when execute the Tax receipt in funciotn of CFOP Received and Item Type\nthis property is used only if eDocCreator=others and eDocCreatorPerspective=false\n"
        },
        "freightAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "insuranceAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "otherCostAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "entityIsIcmsSubstitute": {
          "type": "boolean",
          "description": "Inform that for this item the Entity referenced is ICMS Substitute"
        },
        "isTransportIcmsWithheld": {
          "type": "boolean",
          "description": "Inform that this item has ICMS withheld for transport value service."
        },
        "icmsTaxRelief": {
          "type": "object",
          "required": [
            "reasonCode"
          ],
          "properties": {
            "reasonCode": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "16"
              ],
              "description": "When item transaction subject to desoneration, this is the reason code\n- '1' # Táxi;\n- '3' # Produtor Agropecuário;\n- '4' # Frotista/Locadora;\n- '5' # Diplomático/Consular;\n- '6' # Utilitários e Motocicletas da Amazônia Ocidental e Áreas de Livre Comércio (Resolução 714/88 e 790/94 – CONTRAN e suas alterações);\n- '7' # SUFRAMA;\n- '8' # Venda a órgão Público;\n- '9' # Outros\n- '10' # Deficiente Condutor\n- '11' # Deficiente não condutor\n- '12' # Fomento agropecuário\n- '16' # Olimpíadas Rio 2016\n"
            },
            "taxBaseDiscount": {
              "type": "number",
              "format": "double",
              "description": "ICMS Tax base rate discount  (desconto na base do ICMS referetne a desoneração)"
            },
            "taxAmount": {
              "type": "number",
              "format": "double",
              "description": "Amount for Icms Relief (desoneração)"
            }
          }
        }
      }
    },
    "HeaderForGoodsBase": {
      "type": "object",
      "required": [
        "eDocCreatorType",
        "companyLocation"
      ],
      "properties": {
        "participants": {
          "description": "List of transaction participants, Seller, Buyer, Carrier",
          "type": "object",
          "properties": {
            "entity": {
              "$ref": "#/definitions/EntityForGoods"
            },
            "transporter": {
              "$ref": "#/definitions/EntityForGoods"
            }
          }
        },
        "eDocCreatorType": {
          "type": "string",
          "enum": [
            "self",
            "other"
          ],
          "default": "self"
        },
        "eDocCreatorPerspective": {
          "type": "boolean",
          "default": true,
          "description": "This Flag is used only when eDocCreatorType is other and the return show Taxes using eDocCreator perspective or self perspective."
        },
        "companyLocation": {
          "type": "string",
          "description": "This string contains a previously configured company code which may also have codes needed for tax return purposes. These codes are maintained through the customer portal. Main company address identity"
        },
        "transactionDate": {
          "type": "string",
          "description": "This string is the transaction date in ISO 8601 format, create transaction date"
        },
        "defaultLocations": {
          "$ref": "#/definitions/DefaultLocations"
        },
        "nfRef": {
          "description": "Transactions or other invoices referenced",
          "type": "array",
          "maxItems": 500,
          "items": {
            "$ref": "#/definitions/NRef"
          }
        }
      }
    },
    "EntityForGoods": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        },
        {
          "type": "object",
          "properties": {
            "icmsTaxPayer": {
              "type": "boolean",
              "description": "Inform if the entity is ICMS tax payer."
            }
          }
        }
      ]
    },
    "Payment": {
      "type": "object",
      "properties": {
        "installmentsTerms": {
          "type": "integer",
          "enum": [
            0,
            1,
            2
          ],
          "description": "Installment terms\n- 0 # cash\n- 1 # on terms\n- 2 # other\n"
        },
        "bill": {
          "description": "Bill information",
          "type": "object",
          "properties": {
            "nFat": {
              "description": "Bill identifier",
              "type": "string",
              "maxLength": 60,
              "minLength": 1
            },
            "vOrig": {
              "description": "Orignal value",
              "type": "number",
              "format": "double"
            },
            "vDiscount": {
              "description": "Discount",
              "type": "number",
              "format": "double"
            },
            "vNet": {
              "description": "Net value",
              "type": "number",
              "format": "double"
            }
          }
        },
        "installment": {
          "type": "array",
          "maxItems": 120,
          "items": {
            "type": "object",
            "required": [
              "grossValue"
            ],
            "properties": {
              "documentNumber": {
                "type": "string",
                "maxLength": 60,
                "minLength": 1,
                "description": "Instalment number identifier"
              },
              "date": {
                "type": "string",
                "description": "Installment expiration date"
              },
              "grossValue": {
                "type": "number",
                "format": "double",
                "description": "Installment value"
              }
            }
          }
        },
        "paymentMode": {
          "type": "array",
          "maxItems": 100,
          "items": {
            "type": "object",
            "required": [
              "mode",
              "value"
            ],
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "10",
                  "11",
                  "12",
                  "13",
                  "99"
                ],
                "description": "Payment mode\n- '01' # Dinheiro\n- '02' # Cheque\n- '03' # Cartão de Crédito\n- '04' # Cartão de Débito\n- '05' # Crédito Loja\n- '10' # Vale Alimentação\n- '11' # Vale Refeição\n- '12' # Vale Presente\n- '13' # Vale Combustível\n- '99' # Outros\n"
              },
              "value": {
                "type": "number",
                "format": "double",
                "description": "payment value"
              },
              "cardTpIntegration": {
                "type": "string",
                "enum": [
                  "1",
                  "2"
                ],
                "description": "- '1' # Payment integrated with system,\n- '2' # Payment not integrated with system\n"
              },
              "cardCNPJ": {
                "type": "string",
                "pattern": "[0-9]{14}",
                "description": "Federal tax id of accrediting card (credenciadora do cartão)"
              },
              "cardBrand": {
                "type": "string",
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "99"
                ],
                "description": "card brand\n- '01' # Visa\n- '02' # Mastercard\n- '03' # American Express\n- '04' # Sorocred\n- '99' # Other\n"
              },
              "cardAuthorization": {
                "description": "transaction authorization number",
                "type": "string",
                "maxLength": 20,
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "PurchaseInfo": {
      "type": "object",
      "properties": {
        "governmentOrder": {
          "description": "Invoice info for government purchase orders\nInformação da Nota de Empenho de compras públicas\n",
          "type": "string",
          "maxLength": 22,
          "minLength": 1
        },
        "orderNumber": {
          "description": "Order info\nInformação do pedido\n",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        },
        "contractNumber": {
          "description": "Agreement info\nInformação do contrato\n",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        }
      }
    },
    "ExportInfo": {
      "description": "Export information",
      "type": "object",
      "required": [
        "shippingState",
        "place"
      ],
      "properties": {
        "shippingState": {
          "description": "shipping state",
          "$ref": "#/definitions/StateEnum"
        },
        "place": {
          "description": "shipping place",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        },
        "placeDescription": {
          "description": "description of shipping place",
          "type": "string",
          "maxLength": 60,
          "minLength": 1
        }
      }
    },
    "Transport": {
      "required": [
        "modFreight"
      ],
      "properties": {
        "modFreight": {
          "type": "string",
          "enum": [
            "CIF",
            "FOB",
            "Thridparty",
            "FreeShipping"
          ],
          "description": "Freight model \n- 0 - CIF, \n- 1 - FOB, \n- 2 - Thrid party,\n- 9 - Free shipping\nwhen 9 - Free shipping, the fields below will be ignored if present\n- 'transporter'\n- 'withholdICMSTransport'\n- 'volumes'\n- 'vehicle'\n"
        },
        "withholdICMSTransport": {
          "type": "boolean",
          "description": "Forces witholding of ICMS on transport amount (freight)"
        },
        "volumes": {
          "type": "array",
          "maxItems": 5000,
          "description": "Packages",
          "items": {
            "type": "object",
            "properties": {
              "qVol": {
                "type": "string",
                "pattern": "[0-9]{1,15}",
                "description": "Quantity of packages transported"
              },
              "specie": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "package type"
              },
              "brand": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "brand"
              },
              "volumeNumeration": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60,
                "description": "packages numeration"
              },
              "netWeight": {
                "type": "number",
                "format": "double",
                "description": "net weight using Kg"
              },
              "grossWeight": {
                "type": "number",
                "format": "double",
                "description": "gross weight using Kg"
              },
              "seal": {
                "type": "array",
                "maxItems": 5000,
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "vehicle": {
          "$ref": "#/definitions/VehicleTransp"
        }
      }
    },
    "AdditionalInformation": {
      "type": "object",
      "properties": {
        "fiscalInfo": {
          "type": "string",
          "maxLength": 2000,
          "pattern": "[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}",
          "description": "Additional information of fiscal interest"
        },
        "complementaryInfo": {
          "type": "string",
          "maxLength": 5000,
          "pattern": "[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}",
          "description": "Additional information of user interest"
        },
        "procRef": {
          "description": "Referenced Process",
          "type": "array",
          "maxItems": 100,
          "items": {
            "type": "object",
            "properties": {
              "nProc": {
                "type": "string",
                "maxLength": 60,
                "description": "Process Identifier"
              },
              "indProc": {
                "type": "string",
                "enum": [
                  "0",
                  "1",
                  "2",
                  "3",
                  "9"
                ],
                "description": "Process Origin\n- '0' # SEFAZ;\n- '1' # Justiça Federal;\n- '2' # Justiça Estadual;\n- '3' # Secex/RFB;\n- '9' # Outros\n"
              }
            }
          }
        }
      }
    },
    "NRef": {
      "description": "Referenced Invoices\nThe invoice can be one of this types,\n- 'refNFe - Eletronic Invoice'\n- 'refCTE - Transport Invoice'\n- 'refECF - Reatail Cupom'\n- 'refNF  - Invoice model 1 or 1A'\n- 'refFarmerNF - farmer invoice'\n",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "refNFe",
            "refCTE",
            "refECF",
            "refNF",
            "refFarmerNF"
          ]
        },
        "refNFe": {
          "type": "string",
          "maxLength": 44,
          "pattern": "[0-9]{44}"
        },
        "refCTe": {
          "type": "string",
          "maxLength": 44,
          "pattern": "[0-9]{44}"
        },
        "refECF": {
          "type": "object",
          "required": [
            "nECF",
            "nCOO",
            "modECF"
          ],
          "properties": {
            "nECF": {
              "description": "ECF Sequential number that generated Cupom attached to NFe\ninformar o número de ordem seqüencial do ECF que emitiu o Cupom Fiscal vinculado à NF-e\n",
              "type": "string",
              "pattern": "[0-9]{1,3}"
            },
            "nCOO": {
              "description": "Operational counter number attached to NFe\nInformar o Número do Contador de Ordem de Operação - COO vinculado à NF-e\n",
              "type": "string",
              "pattern": "[0-9]{1,6}"
            },
            "modECF": {
              "description": "Fiscal document model\n- '2B' # coupon tax not ECF\n- '2C' # PDV coupon tax\n- '2D' # ECF coupon tax\n",
              "type": "string",
              "enum": [
                "2B",
                "2C",
                "2D"
              ]
            }
          }
        },
        "refNF": {
          "type": "object",
          "required": [
            "stateCd",
            "yymm",
            "federalTaxId",
            "serie",
            "number"
          ],
          "properties": {
            "stateCd": {
              "description": "State code of fiscal Document creator",
              "$ref": "#/definitions/StateEnum"
            },
            "yymm": {
              "description": "year and month of fiscal document creation",
              "type": "string",
              "pattern": "[0-9]{2}[0]{1}[1-9]{1}|[0-9]{2}[1]{1}[0-2]{1}"
            },
            "federalTaxId": {
              "description": "fiscal document creator federalTaxId",
              "type": "string",
              "pattern": "[0-9]{14}"
            },
            "serie": {
              "description": "fiscal document serie",
              "type": "string",
              "pattern": "0|[1-9]{1}[0-9]{0,2}"
            },
            "number": {
              "description": "fiscal document number",
              "type": "string",
              "pattern": "[1-9]{1}[0-9]{0,8}"
            }
          }
        },
        "refFarmerNF": {
          "type": "object",
          "required": [
            "stateCd",
            "yymm",
            "federalTaxId",
            "stateTaxId",
            "model",
            "serie",
            "number"
          ],
          "properties": {
            "stateCd": {
              "description": "State code of fiscal Document creator, farmer",
              "$ref": "#/definitions/StateEnum"
            },
            "yymm": {
              "description": "year and month of fiscal document creation",
              "type": "string",
              "pattern": "[0-9]{2}[0]{1}[1-9]{1}|[0-9]{2}[1]{1}[0-2]{1}"
            },
            "federalTaxId": {
              "description": "fiscal document creator farmer federalTaxId",
              "type": "string",
              "pattern": "[0-9]{14}"
            },
            "stateTaxId": {
              "description": "fiscal document creator, farmer stateTaxId",
              "type": "string"
            },
            "model": {
              "description": "Document Fiscal model\n- '04' # FARMER DOCUMENT\n- '01' # DETACHED DOCUMENT - AVULSO\n",
              "type": "string",
              "enum": [
                "04",
                "01"
              ]
            },
            "serie": {
              "description": "fiscal document serie",
              "type": "string",
              "pattern": "0|[1-9]{1}[0-9]{0,2}"
            },
            "number": {
              "description": "fiscal document number",
              "type": "string",
              "pattern": "[1-9]{1}[0-9]{0,8}"
            }
          }
        }
      }
    },
    "DefaultLocations": {
      "type": "object",
      "description": "This element contains a dictionary of locations such as the origin and destination addresses to be associated with this transaction. These locations may be overridden within each line item. The key for each location in the dictionary is the location 'purpose'. Valid locations purposes are 'ShipFrom', 'ShipTo', 'POS', 'POM', 'POO', 'BillingLocation', 'CallPlaced', 'CallReceived', 'ServiceRendered', 'POA' and 'FirstUse'. There can only be one location of a given purpose in the dictionary.",
      "properties": {
        "entity": {
          "$ref": "#/definitions/EntityLocation"
        },
        "company": {
          "$ref": "#/definitions/EntityLocation"
        },
        "transporter": {
          "$ref": "#/definitions/EntityLocation"
        },
        "deliveryLocation": {
          "$ref": "#/definitions/EntityLocation"
        },
        "pickupLocation": {
          "$ref": "#/definitions/EntityLocation"
        }
      }
    },
    "Entity": {
      "type": "object",
      "required": [
        "type",
        "federalTaxId"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Entity name, official name (Razão Social)"
        },
        "role": {
          "description": "- 'transporter'\n- 'sender' # REMETENTE\n- 'dispatcher' # EXPEDITOR\n- 'receiver' # RECEIVER\n- 'addressee' # DESTINATÁRIO\n- 'other' # OUTRO\n",
          "type": "string",
          "enum": [
            "transporter",
            "sender",
            "dispatcher",
            "receiver",
            "addressee",
            "other"
          ]
        },
        "type": {
          "$ref": "#/definitions/EntityType"
        },
        "federalTaxId": {
          "type": "string",
          "pattern": "([!-ÿ]{0}|[!-ÿ]{5,20})?",
          "description": "CNPJ/CPF of Sales Buyer, if CPF pattern is '[0-9]{11}' if CNPJ pattern is '[0-9]{14}'"
        },
        "cityTaxId": {
          "type": "string",
          "maxLength": 15,
          "description": "City Tax ID"
        },
        "stateTaxId": {
          "type": "string",
          "description": "State Tax ID"
        },
        "suframa": {
          "type": "string",
          "pattern": "[0-9]{8,9}",
          "description": "Suframa ID"
        },
        "phone": {
          "type": "string",
          "pattern": "[0-9]{6,14}",
          "description": "Entity Phone"
        },
        "taxRegime": {
          "type": "string",
          "enum": [
            "realProfit",
            "estimatedProfit",
            "simplified",
            "simplifiedOverGrossthreshold",
            "simplifiedEntrepreneur",
            "notApplicable",
            "individual"
          ]
        },
        "email": {
          "type": "string",
          "maxLength": 60,
          "description": "Entity Email"
        },
        "subjectToSRF1234": {
          "type": "boolean",
          "description": "Companies subject to follow same rules of Government entities (Instrução Normativa SRF1234)"
        },
        "subjectToPayrollTaxRelief": {
          "type": "boolean",
          "description": "Sujeito à desoneração de folha de pagamento."
        }
      }
    },
    "EntityType": {
      "type": "string",
      "enum": [
        "business",
        "individual",
        "federalGovernment",
        "stateGovernment",
        "cityGovernment",
        "foreign"
      ],
      "description": "Entity Type (business, individual, federal government, state government, city government, foreign)"
    },
    "StateEnum": {
      "type": "string",
      "maxLength": 2,
      "enum": [
        "AC",
        "AL",
        "AP",
        "AM",
        "BA",
        "CE",
        "DF",
        "ES",
        "GO",
        "MA",
        "MT",
        "MS",
        "MG",
        "PA",
        "PB",
        "PR",
        "PE",
        "PI",
        "RJ",
        "RN",
        "RS",
        "RO",
        "RR",
        "SC",
        "SP",
        "SE",
        "TO"
      ],
      "description": "State Abreviation:\n- 'AC'\n- 'AL'\n- 'AP'\n- 'AM'\n- 'BA'\n- 'CE'\n- 'DF'\n- 'ES'\n- 'GO'\n- 'MA'\n- 'MT'\n- 'MS'\n- 'MG'\n- 'PA'\n- 'PB'\n- 'PR'\n- 'PE'\n- 'PI'\n- 'RJ'\n- 'RN'\n- 'RS'\n- 'RO'\n- 'RR'\n- 'SC'\n- 'SP'\n- 'SE'\n- 'TO'\n"
    },
    "EntityLocation": {
      "title": "Address",
      "anyOf": [
        {
          "type": "object",
          "required": [
            "zipcode"
          ],
          "properties": {
            "street": {
              "type": "string",
              "maxLength": 60,
              "description": "Street Name"
            },
            "neighborhood": {
              "type": "string",
              "maxLength": 60,
              "description": "Neighborhood Name"
            },
            "zipcode": {
              "type": "string",
              "description": "Zip Code"
            },
            "cityCode": {
              "type": "string",
              "pattern": "[0-9]{7}|0",
              "description": "City Code",
              "default": "0"
            },
            "cityName": {
              "type": "string",
              "maxLength": 60,
              "description": "City Name"
            },
            "state": {
              "type": "string",
              "description": "State Code",
              "pattern": "^([A-Z]{2,3})$"
            },
            "countryCode": {
              "type": "string",
              "pattern": "[0-9]{1,4}",
              "description": "Country Code",
              "default": "0"
            },
            "country": {
              "type": "string",
              "maxLength": 3,
              "description": "Use ISO 3166-1 alpha-3 codes",
              "pattern": "^([A-Z]{3})$"
            },
            "number": {
              "type": "string",
              "maxLength": 60,
              "description": "House number"
            },
            "complement": {
              "type": "string",
              "maxLength": 60,
              "description": "Any other information about the address (Room, Suite, Floor, etc))."
            },
            "phone": {
              "type": "string",
              "pattern": "^(\\d{6,14}|\\(\\d{2}\\)\\s*\\d{4,5}-*\\d{4})$",
              "description": "Phone number"
            }
          }
        },
        {
          "type": "object",
          "required": [
            "zipcode",
            "cityCode",
            "state"
          ],
          "properties": {
            "street": {
              "type": "string",
              "maxLength": 60,
              "description": "Street Name"
            },
            "neighborhood": {
              "type": "string",
              "maxLength": 60,
              "description": "Neighborhood Name"
            },
            "zipcode": {
              "type": "string",
              "pattern": "^(\\d{8}|\\d{5}\\-\\d{3})$",
              "description": "Brazilian Zip Code"
            },
            "cityCode": {
              "type": "string",
              "pattern": "^(\\d{7})$",
              "description": "City Code (IBGE)"
            },
            "cityName": {
              "type": "string",
              "maxLength": 60,
              "description": "City Name"
            },
            "state": {
              "$ref": "#/definitions/StateEnum"
            },
            "countryCode": {
              "type": "string",
              "pattern": "[0-9]{1,4}",
              "description": "Country Code",
              "default": "0"
            },
            "country": {
              "type": "string",
              "maxLength": 3,
              "description": "Use ISO 3166-1 alpha-3 codes",
              "pattern": "^([A-Z]{3})$",
              "default": "BRA"
            }
          }
        },
        {
          "title": "Address",
          "anyOf": [
            {
              "type": "object",
              "required": [
                "zipcode"
              ],
              "properties": {
                "street": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Street Name"
                },
                "neighborhood": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Neighborhood Name"
                },
                "zipcode": {
                  "type": "string",
                  "description": "Zip Code"
                },
                "cityCode": {
                  "type": "string",
                  "pattern": "[0-9]{7}|0",
                  "description": "City Code",
                  "default": "0"
                },
                "cityName": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "City Name"
                },
                "state": {
                  "type": "string",
                  "description": "State Code",
                  "pattern": "^([A-Z]{2,3})$"
                },
                "countryCode": {
                  "type": "string",
                  "pattern": "[0-9]{1,4}",
                  "description": "Country Code",
                  "default": "0"
                },
                "country": {
                  "type": "string",
                  "maxLength": 3,
                  "description": "Use ISO 3166-1 alpha-3 codes",
                  "pattern": "^([A-Z]{3})$"
                },
                "number": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "House number"
                },
                "complement": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Any other information about the address (Room, Suite, Floor, etc))."
                },
                "phone": {
                  "type": "string",
                  "pattern": "^(\\d{6,14}|\\(\\d{2}\\)\\s*\\d{4,5}-*\\d{4})$",
                  "description": "Phone number"
                }
              }
            },
            {
              "type": "object",
              "required": [
                "zipcode",
                "cityCode",
                "state"
              ],
              "properties": {
                "street": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Street Name"
                },
                "neighborhood": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "Neighborhood Name"
                },
                "zipcode": {
                  "type": "string",
                  "pattern": "^(\\d{8}|\\d{5}\\-\\d{3})$",
                  "description": "Brazilian Zip Code"
                },
                "cityCode": {
                  "type": "string",
                  "pattern": "^(\\d{7})$",
                  "description": "City Code (IBGE)"
                },
                "cityName": {
                  "type": "string",
                  "maxLength": 60,
                  "description": "City Name"
                },
                "state": {
                  "$ref": "#/definitions/StateEnum"
                },
                "countryCode": {
                  "type": "string",
                  "pattern": "[0-9]{1,4}",
                  "description": "Country Code",
                  "default": "0"
                },
                "country": {
                  "type": "string",
                  "maxLength": 3,
                  "description": "Use ISO 3166-1 alpha-3 codes",
                  "pattern": "^([A-Z]{3})$",
                  "default": "BRA"
                }
              }
            }
          ]
        }
      ]
    },
    "VehicleTransp": {
      "type": "object",
      "description": "Identify type of vehicle used to transport\nthe attributes, except atribute type,  follow rule oneOf then only one of this atributes will be informed.\n",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "automobile",
            "wagon",
            "ferry",
            "trailer"
          ]
        },
        "automobile": {
          "$ref": "#/definitions/VehicleID"
        },
        "trailer": {
          "description": "Trailer",
          "type": "array",
          "maxItems": 5,
          "items": {
            "$ref": "#/definitions/VehicleID"
          }
        },
        "wagon": {
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        },
        "ferry": {
          "description": "Ferry",
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        }
      }
    },
    "VehicleID": {
      "type": "object",
      "required": [
        "licensePlate",
        "stateCode"
      ],
      "properties": {
        "licensePlate": {
          "type": "string",
          "pattern": "[A-Z]{2,3}[0-9]{4}|[A-Z]{3,4}[0-9]{3}"
        },
        "stateCode": {
          "$ref": "#/definitions/StateEnum"
        },
        "rtnc": {
          "type": "string",
          "maxLength": 20,
          "description": "Cargo Transport National Register, Registro Nacional de Transportador de Carga (ANTT)"
        }
      }
    },
    "LineForGoodsBase": {
      "type": "object",
      "required": [
        "lineCode",
        "itemCode",
        "numberOfItems",
        "lineAmount",
        "useType",
        "processScenario"
      ],
      "properties": {
        "lineCode": {
          "type": "integer",
          "description": "This is unique identifier for this line in the transaction"
        },
        "itemCode": {
          "type": "string",
          "maxLength": 60,
          "description": "This string is a code maintained by the client application to uniquely identify a product or service. It will likely be a SKU and is required for SST states."
        },
        "numberOfItems": {
          "type": "number",
          "format": "double",
          "default": 1,
          "description": "This decimal 11 integers and 1 to 4 decimals captures the number of individual items or units represented by this line. Digits after the decimal point are optional. This should always be positive. Quantity, default 1"
        },
        "lineUnitPrice": {
          "type": "number",
          "format": "double",
          "description": "This decimal 11 integers and 1 to 10 decimals captures the unit price of this line."
        },
        "lineAmount": {
          "type": "number",
          "format": "double",
          "description": "In its simplest form lineAmount = (item price * numberOfItems). If taxIncluded is 'true', lineAmount = (item price * numberOfItems + tax)."
        },
        "lineTaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "Discount conditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "lineUntaxedDiscount": {
          "type": "number",
          "format": "double",
          "description": "discount unconditional, This decimal 13 integers and 0 to 2 decimals"
        },
        "useType": {
          "type": "string",
          "enum": [
            "use or consumption",
            "resale",
            "agricultural production",
            "production",
            "use or consumption on business establishment",
            "use or consumption on transporter service establishment",
            "use or consumption on communication service establishment",
            "use or consumption on demand by contract",
            "use or consumption on energy supplier establishment",
            "use or consumption of fuel transaction type exportation",
            "use or consumption on services subject to iss",
            "use or consumption on services subject to icms",
            "fixed assets",
            "resale export",
            "resale icms exempt",
            "resale buyer under the same icmsSt tax rule",
            "transport of goods that don't need invoice (nf)"
          ],
          "description": "This is a enumeration folowing table"
        },
        "processScenario": {
          "type": "string",
          "maxLength": 60,
          "description": "Reference to process configurantion of this transaction, See ProcessScenario definition\nthis property is used only if eDocCreator=self or  eDocCreator=others and eDocCreatorPerspective=true\n"
        },
        "operationTypeReceiptMap": {
          "type": "string",
          "maxLength": 60,
          "description": "Mapping table used to discover the CFOP when execute the Tax receipt in funciotn of CFOP Received and Item Type\nthis property is used only if eDocCreator=others and eDocCreatorPerspective=false\n"
        },
        "freightAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "insuranceAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "otherCostAmount": {
          "type": "number",
          "format": "double",
          "description": "This decimal 13 integers and 0 to 2 decimals"
        },
        "entityIsIcmsSubstitute": {
          "type": "boolean",
          "description": "Inform that for this item the Entity referenced is ICMS Substitute"
        },
        "isTransportIcmsWithheld": {
          "type": "boolean",
          "description": "Inform that this item has ICMS withheld for transport value service."
        },
        "icmsTaxRelief": {
          "type": "object",
          "required": [
            "reasonCode"
          ],
          "properties": {
            "reasonCode": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "16"
              ],
              "description": "When item transaction subject to desoneration, this is the reason code\n- '1' # Táxi;\n- '3' # Produtor Agropecuário;\n- '4' # Frotista/Locadora;\n- '5' # Diplomático/Consular;\n- '6' # Utilitários e Motocicletas da Amazônia Ocidental e Áreas de Livre Comércio (Resolução 714/88 e 790/94 – CONTRAN e suas alterações);\n- '7' # SUFRAMA;\n- '8' # Venda a órgão Público;\n- '9' # Outros\n- '10' # Deficiente Condutor\n- '11' # Deficiente não condutor\n- '12' # Fomento agropecuário\n- '16' # Olimpíadas Rio 2016\n"
            },
            "taxBaseDiscount": {
              "type": "number",
              "format": "double",
              "description": "ICMS Tax base rate discount  (desconto na base do ICMS referetne a desoneração)"
            },
            "taxAmount": {
              "type": "number",
              "format": "double",
              "description": "Amount for Icms Relief (desoneração)"
            }
          }
        }
      }
    },
    "DetailsCalculatedTaxGoods_Item": {
      "allOf": [
        {
          "$ref": "#/definitions/DetailsCalculatedTaxGoods"
        },
        {
          "type": "object",
          "description": "Details",
          "properties": {
            "source": {
              "$ref": "#/definitions/CSTTableAEnum"
            },
            "cstB": {
              "$ref": "#/definitions/CSTTableBEnum"
            },
            "cst": {
              "type": "string"
            },
            "modBC": {
              "type": "string"
            },
            "pMVA": {
              "type": "number",
              "format": "double",
              "description": "Percent of Value-added margin (%)"
            },
            "pRedBC": {
              "type": "number",
              "format": "double",
              "description": "calc base percent of discount"
            },
            "pBCOp": {
              "type": "number",
              "format": "double",
              "description": "percent of calc base of own icms"
            },
            "ufst": {
              "$ref": "#/definitions/StateEnum"
            },
            "calcMode": {
              "$ref": "#/definitions/CalcModelEnum"
            },
            "legalTaxClass": {
              "type": "integer",
              "description": "Legal tax classificação for IPI (enquadramento tributário)"
            },
            "legalTaxClassDC": {
              "type": "integer",
              "description": "Legal tax classificação for IPI (enquadramento) for Drinks and Cigarettes"
            },
            "cnpjProd": {
              "type": "string",
              "pattern": "([!-ÿ]{0}|[!-ÿ]{5,20})?",
              "description": "CNPJ/CPF of Sales Buyer, if CPF pattern is '[0-9]{11}' if CNPJ pattern is '[0-9]{14}'\nFederal tax ID of real manufacturer, nly for exportation\n"
            },
            "sealCode": {
              "type": "string",
              "maxLength": 60,
              "description": "Seal Code for ipi tax control (código do selo para controle de IPI)"
            },
            "sealQuantity": {
              "type": "string",
              "pattern": "[0-9]{1,12}",
              "description": "Seal Code for ipi tax control (código do selo para controle de IPI)"
            },
            "icmsInterPartRate": {
              "type": "number",
              "format": "double",
              "description": "percent of icms apportionment between two states"
            },
            "icmsSesonReason": {
              "$ref": "#/definitions/ICMSSesonReason"
            },
            "perQuantityReturned": {
              "type": "number",
              "format": "double",
              "description": "percent of merchandise returned"
            }
          }
        }
      ]
    },
    "TaxByTypeTax": {
      "type": "object",
      "required": [
        "tax"
      ],
      "properties": {
        "tax": {
          "type": "number",
          "format": "double",
          "description": "Tax value, negative value for withhold value"
        }
      }
    },
    "Vehicle": {
      "type": "object",
      "required": [
        "tpOp",
        "chassisNumber",
        "colorCode",
        "colorName",
        "cvPower",
        "cylinderVolumCC",
        "netWeight",
        "grossWeight",
        "serialNumber",
        "fuelType",
        "engineNumber",
        "cmt",
        "lengthBetweenAxis",
        "modelYear",
        "manufactoryYear",
        "paintType",
        "vehicleRENAVAMType",
        "specieRENAVAMType",
        "modelRENAVAMCode",
        "colorDENATRANCode",
        "vin",
        "vehicleManufactoryStatus",
        "maxOccupantsQuantity",
        "restrictionType"
      ],
      "properties": {
        "tpOp": {
          "description": "- 1 # Sales by car dealership\n- 2 # Direct billing\n- 3 # Direct sales\n- 0 # Other\n",
          "type": "integer",
          "enum": [
            1,
            2,
            3,
            0
          ]
        },
        "chassisNumber": {
          "type": "string",
          "maxLength": 17,
          "pattern": "[A-Z0-9]+"
        },
        "colorCode": {
          "type": "string",
          "maxLength": 17,
          "description": "color code used by factory"
        },
        "colorName": {
          "type": "string",
          "maxLength": 40,
          "description": "color name"
        },
        "cvPower": {
          "type": "string",
          "maxLength": 4,
          "description": "Power using CV unid"
        },
        "cylinderVolumCC": {
          "type": "string",
          "maxLength": 4,
          "description": "engine size in cubic centimeters"
        },
        "netWeight": {
          "type": "string",
          "maxLength": 9,
          "description": "net weight"
        },
        "grossWeight": {
          "type": "string",
          "maxLength": 9,
          "description": "gross weight"
        },
        "serialNumber": {
          "type": "string",
          "maxLength": 9,
          "description": "serie"
        },
        "fuelType": {
          "description": "- '01' # Alcohol\n- '02' # Gas\n- '03' # Diesel\n- '16' # Alcohol/Gas\n- '17' # Gas/Alcohol/GNV\n- '18' # Gas/Electric\n",
          "type": "string",
          "enum": [
            "01",
            "02",
            "03",
            "16",
            "17",
            "18"
          ]
        },
        "engineNumber": {
          "type": "string",
          "maxLength": 21,
          "description": "engine number"
        },
        "cmt": {
          "type": "string",
          "maxLength": 9,
          "description": "traction capacity, tonne"
        },
        "lengthBetweenAxis": {
          "type": "string",
          "maxLength": 4,
          "description": "length between axis"
        },
        "modelYear": {
          "type": "string",
          "pattern": "[0-9]{4}",
          "description": "model year"
        },
        "manufactoryYear": {
          "type": "string",
          "pattern": "[0-9]{4}",
          "description": "year of factory"
        },
        "paintType": {
          "type": "string",
          "maxLength": 1,
          "description": "paynt type"
        },
        "vehicleRENAVAMType": {
          "type": "string",
          "pattern": "[0-9]{1,2}"
        },
        "specieRENAVAMType": {
          "type": "string",
          "pattern": "[0-9]{1}"
        },
        "modelRENAVAMCode": {
          "type": "string",
          "pattern": "[0-9]{1,6}"
        },
        "colorDENATRANCode": {
          "description": "- '01' # YELLOW\n- '02' # BLUE\n- '03' # BEIGE\n- '04' # WHITE\n- '05' # GRAY\n- '06' # GOLDEN\n- '07' # GRENA\n- '08' # ORANGE\n- '09' # BROWN\n- '10' # SILVER\n- '11' # BLACK\n- '12' # PINK\n- '13' # PURPLE\n- '14' # GREEN\n- '15' # RED\n- '16' # FANTASY\n",
          "type": "string",
          "pattern": "[0-9]{1,2}",
          "enum": [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16"
          ]
        },
        "vin": {
          "type": "string",
          "enum": [
            "R",
            "N"
          ],
          "description": "chassis condition original or modified (remarcado)"
        },
        "vehicleManufactoryStatus": {
          "description": "- '1' # Finished(Done)\n- '2' # Not finished\n- '3' # Semi-finished\n",
          "type": "string",
          "enum": [
            "1",
            "2",
            "3"
          ]
        },
        "maxOccupantsQuantity": {
          "type": "string",
          "maxLength": 3,
          "pattern": "[0-9]{1,3}",
          "description": "max number of sit occupants"
        },
        "restrictionType": {
[...]
