{
  "swagger": "2.0",
  "info": {
    "title": "AvaTax Brazil",
    "description": "The Avatax-Brazil API exposes the most commonly services available for interacting with the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic invoice documents and modifying existing transactions when allowed by tax authorities.  This API is exclusively for use by business with a physical presence in Brazil.",
    "version": "1.0"
  },
  "host": "avataxbr-sandbox.avalarabrasil.com.br",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "basePath": "/v2",
  "paths": {
    "/compliance/documento-fiscal-info-complementar": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalInfoComplementar'.",
        "operationId": "SaveDocumentoFiscalInfoComplementar",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalInfoComplementar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalInfoComplementar'.",
        "operationId": "DeleteDocumentoFiscalInfoComplementar",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalInfoComplementar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-item": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalItem'.",
        "operationId": "SaveDocumentoFiscalItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalItem'.",
        "operationId": "DeleteDocumentoFiscalItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-item-ressarcimento-icms": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalItemRessarcimentoICMS'.",
        "operationId": "SaveDocumentoFiscalItemRessarcimentoICMS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalItemRessarcimentoICMS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalItemRessarcimentoICMS'.",
        "operationId": "DeleteDocumentoFiscalItemRessarcimentoICMS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalItemRessarcimentoICMS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-operacao-armas": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalOperacaoArmas'.",
        "operationId": "SaveDocumentoFiscalOperacaoArmas",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoArmas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalOperacaoArmas'.",
        "operationId": "DeleteDocumentoFiscalOperacaoArmas",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoArmas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-operacao-medicamento-item": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalOperacaoMedicamentoItem'.",
        "operationId": "SaveDocumentoFiscalOperacaoMedicamentoItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoMedicamentoItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalOperacaoMedicamentoItem'.",
        "operationId": "DeleteDocumentoFiscalOperacaoMedicamentoItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoMedicamentoItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-operacao-veiculo-novo": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalOperacaoVeiculoNovo'.",
        "operationId": "SaveDocumentoFiscalOperacaoVeiculoNovo",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoVeiculoNovo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalOperacaoVeiculoNovo'.",
        "operationId": "DeleteDocumentoFiscalOperacaoVeiculoNovo",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalOperacaoVeiculoNovo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-parcela": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalParcela'.",
        "operationId": "SaveDocumentoFiscalParcela",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalParcela"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalParcela'.",
        "operationId": "DeleteDocumentoFiscalParcela",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalParcela"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/documento-fiscal-referenciado": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'DocumentoFiscalReferenciado'.",
        "operationId": "SaveDocumentoFiscalReferenciado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalReferenciado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'DocumentoFiscalReferenciado'.",
        "operationId": "DeleteDocumentoFiscalReferenciado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DocumentoFiscalReferenciado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/entidade-referencial": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EntidadeReferencial'.",
        "operationId": "SaveEntidadeReferencial",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EntidadeReferencial"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EntidadeReferencial'.",
        "operationId": "DeleteEntidadeReferencial",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EntidadeReferencial"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/equipamento-ecf": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EquipamentoECF'.",
        "operationId": "SaveEquipamentoECF",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EquipamentoECF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EquipamentoECF'.",
        "operationId": "DeleteEquipamentoECF",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EquipamentoECF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/estabelecimento-abertura-piscofins": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EstabelecimentoAberturaPISCOFINS'.",
        "operationId": "SaveEstabelecimentoAberturaPISCOFINS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoAberturaPISCOFINS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EstabelecimentoAberturaPISCOFINS'.",
        "operationId": "DeleteEstabelecimentoAberturaPISCOFINS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoAberturaPISCOFINS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/estabelecimento-fiscal": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EstabelecimentoFiscal'.",
        "operationId": "SaveEstabelecimentoFiscal",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EstabelecimentoFiscal'.",
        "operationId": "DeleteEstabelecimentoFiscal",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/estabelecimento-fiscal-dacon": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EstabelecimentoFiscalDACON'.",
        "operationId": "SaveEstabelecimentoFiscalDACON",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalDACON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EstabelecimentoFiscalDACON'.",
        "operationId": "DeleteEstabelecimentoFiscalDACON",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalDACON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/estabelecimento-fiscal-dipj": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EstabelecimentoFiscalDIPJ'.",
        "operationId": "SaveEstabelecimentoFiscalDIPJ",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalDIPJ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EstabelecimentoFiscalDIPJ'.",
        "operationId": "DeleteEstabelecimentoFiscalDIPJ",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalDIPJ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/estabelecimento-fiscal-ecf": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EstabelecimentoFiscalECF'.",
        "operationId": "SaveEstabelecimentoFiscalECF",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalECF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EstabelecimentoFiscalECF'.",
        "operationId": "DeleteEstabelecimentoFiscalECF",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EstabelecimentoFiscalECF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/evento-incorporacao-fusao-cisao-piscofins": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'EventoIncorporacaoFusaoCisaoPISCOFINS'.",
        "operationId": "SaveEventoIncorporacaoFusaoCisaoPISCOFINS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EventoIncorporacaoFusaoCisaoPISCOFINS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'EventoIncorporacaoFusaoCisaoPISCOFINS'.",
        "operationId": "DeleteEventoIncorporacaoFusaoCisaoPISCOFINS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EventoIncorporacaoFusaoCisaoPISCOFINS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/exportacao-documento-fiscal": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'ExportacaoDocumentoFiscal'.",
        "operationId": "SaveExportacaoDocumentoFiscal",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportacaoDocumentoFiscal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'ExportacaoDocumentoFiscal'.",
        "operationId": "DeleteExportacaoDocumentoFiscal",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportacaoDocumentoFiscal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/exportacao-indireta": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'ExportacaoIndireta'.",
        "operationId": "SaveExportacaoIndireta",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportacaoIndireta"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'ExportacaoIndireta'.",
        "operationId": "DeleteExportacaoIndireta",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportacaoIndireta"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/fci-item": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FCIItem'.",
        "operationId": "SaveFCIItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FCIItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FCIItem'.",
        "operationId": "DeleteFCIItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FCIItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/folha-pagamento": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FolhaPagamento'.",
        "operationId": "SaveFolhaPagamento",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FolhaPagamento"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FolhaPagamento'.",
        "operationId": "DeleteFolhaPagamento",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FolhaPagamento"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/folha-salarios-pis": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FolhaSalariosPIS'.",
        "operationId": "SaveFolhaSalariosPIS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FolhaSalariosPIS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FolhaSalariosPIS'.",
        "operationId": "DeleteFolhaSalariosPIS",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FolhaSalariosPIS"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/formulario-cancelado": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FormularioCancelado'.",
        "operationId": "SaveFormularioCancelado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FormularioCancelado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FormularioCancelado'.",
        "operationId": "DeleteFormularioCancelado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FormularioCancelado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/formulario-utilizado": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FormularioUtilizado'.",
        "operationId": "SaveFormularioUtilizado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FormularioUtilizado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FormularioUtilizado'.",
        "operationId": "DeleteFormularioUtilizado",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FormularioUtilizado"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      }
    },
    "/compliance/fornecedores-clientes": {
      "post": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Create/Update Method",
        "description": "Este método insere ou atualiza um objeto do tipo 'FornecedoresClientes'.",
        "operationId": "SaveFornecedoresClientes",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FornecedoresClientes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InlineResponse201"
            }
          },
          "201": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed."
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists."
          },
          "429": {
            "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource."
          },
          "500": {
            "description": "Something is broken."
          },
          "503": {
            "description": "The server is up, but overloaded with requests. Try again later."
          }
        }
      },
      "delete": {
        "tags": [
          "ComplianceApi"
        ],
        "summary": "Delete Method",
        "description": "Este método faz a exclusão de um objeto do tipo 'FornecedoresClientes'.",
        "operationId": "DeleteFornecedoresClientes",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Bearer {auth}",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FornecedoresClientes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success."
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served."
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect."
          },
          "403": {
[...]
