{
  "swagger": "2.0",
  "info": {
    "title": "AvaTax Brazil",
    "description": "The Avatax-Brazil API exposes the most commonly services available for interacting\nwith the AvaTax-Brazil services, allowing calculation of taxes, issuing electronic\ninvoice documents and modifying existing transactions when allowed by tax authorities.\nThis API is exclusively for use by business with a physical presence in Brazil.\n",
    "version": "1.0"
  },
  "host": "avataxbr-sandbox.avalarabrasil.com.br",
  "x-swagger-namespace": "DB",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "basePath": "/v2",
  "paths": {
    "/compliance": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "insertComplianceDocument",
        "summary": "Insert a new document",
        "description": "This method insert a new document\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/XMLDocument"
            }
          }
        ],
        "tags": [
          "Compliance"
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_Created"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    },
    "/compliance/accounting": {
      "parameters": [
        {
          "$ref": "#/parameters/header_jwt"
        }
      ],
      "post": {
        "operationId": "insertAccountingDocument",
        "summary": "Insert a new document",
        "description": "This method insert a new document\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Transaction Message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/XMLDocumentAccounting"
            }
          }
        ],
        "tags": [
          "Compliance - Accounting"
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_Created"
          },
          "400": {
            "$ref": "#/responses/400_BadRequest"
          },
          "401": {
            "$ref": "#/responses/401_Unauthorized"
          },
          "403": {
            "$ref": "#/responses/403_Forbidden"
          },
          "404": {
            "$ref": "#/responses/404_NotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "500": {
            "$ref": "#/responses/500_InternalServerError"
          },
          "503": {
            "$ref": "#/responses/503_ServiceUnavailable"
          }
        }
      }
    }
  },
  "parameters": {
    "header_jwt": {
      "name": "Authorization",
      "in": "header",
      "description": "Bearer {auth}",
      "required": true,
      "type": "string"
    },
    "query_documentType": {
      "name": "documentType",
      "in": "query",
      "description": "Document Type",
      "type": "string",
      "required": true,
      "enum": [
        "SERVICO",
        "MERCADORIA",
        "TRANSPORTE"
      ]
    },
    "query_startDate": {
      "name": "startDate",
      "in": "query",
      "description": "The start date in range",
      "type": "string",
      "required": true,
      "maxLength": 10
    },
    "query_endDate": {
      "name": "endDate",
      "in": "query",
      "description": "The end date in range",
      "type": "string",
      "required": true,
      "maxLength": 10
    },
    "query_documentSubType": {
      "name": "subType",
      "in": "query",
      "description": "Document Sub-type",
      "type": "string",
      "required": true,
      "enum": [
        "ENTRADA",
        "EMISSAO"
      ]
    },
    "query_federalTaxId": {
      "name": "federalTaxId",
      "in": "query",
      "description": "CNPJ/CPF of Sales Buyer, if CPF pattern is '[0-9]{11}' if CNPJ pattern is '[0-9]{14}",
      "type": "string",
      "required": true,
      "pattern": "([!-ÿ]{0}|[!-ÿ]{5,20})?"
    }
  },
  "responses": {
    "200_SuccessList": {
      "description": "Success response",
      "headers": {
        "X-Pagination-Current-Page": {
          "description": "The current page. Defaults to 1.",
          "type": "number"
        },
        "X-Pagination-Limit": {
          "description": "The per page limit. Currently set to 10 but subject to change at any time (max 100).",
          "type": "number"
        },
        "X-Pagination-Total-Pages": {
          "description": "The total number of pages in the result set. Use this along with X-Pagination-Current-Page to determine if there are any remaining pages/records to be retrieved.",
          "type": "number"
        },
        "X-Pagination-Total-Count": {
          "description": "The total number of records across all pages.",
          "type": "number"
        }
      }
    },
    "201_Created": {
      "description": "Success.",
      "schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "uuid"
          }
        }
      }
    },
    "204_NoContent": {
      "description": "Success."
    },
    "400_BadRequest": {
      "description": "The request was invalid or cannot be otherwise served.",
      "schema": {
        "$ref": "#/definitions/ValidationError"
      }
    },
    "401_Unauthorized": {
      "description": "Authentication credentials were missing or incorrect.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "403_Forbidden": {
      "description": "The request is understood, but it has been refused or access is not allowed.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "404_NotFound": {
      "description": "The URI requested is invalid or the resource requested does not exists.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "429_TooManyRequests": {
      "description": "The request cannot be served due to the application’s rate limit having been exhausted for the resource.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "500_InternalServerError": {
      "description": "Something is broken.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    },
    "503_ServiceUnavailable": {
      "description": "The server is up, but overloaded with requests. Try again later.",
      "schema": {
        "$ref": "#/definitions/Message"
      }
    }
  },
  "definitions": {
    "XMLDocument": {
      "description": "Document XML Information",
      "type": "object",
      "required": [
        "documentType",
        "xmlData"
      ],
      "properties": {
        "documentType": {
          "description": "Document Type",
          "type": "string",
          "enum": [
            "ESTABELECIMENTO_FISCAL",
            "EF_INSCRICAO_ESTADUAL",
            "CONTABILISTA",
            "PARCEIROS",
            "PARCEIROS_ALTERACOES",
            "UNIDADE_MEDIDA",
            "CONVERSAO_UNIDADE_MEDIDA",
            "ITEM",
            "ITEM_ALTERACAO",
            "ITEM_ESTABELECIMENTO_FISCAL",
            "INFORMACAO_COMPLEMENTAR",
            "OBS_LANCAMENTO_FISCAL",
            "DOCUMENTO_FISCAL_CABECALHO",
            "DF_INFORMACAO_COMPLEMENTAR",
            "DOCUMENTO_FISCAL_REFEREN",
            "PROCESSO_REFERENCIADO",
            "DOC_ARRECADACAO_REFEREN",
            "CUPOM_FISCAL_REFERENCIADO",
            "LOCAL_COLETA_ENTREGA",
            "DF_OBS_LANCAMENTO_FISCAL",
            "DF_OBS_LANC_FISCAL_DETALHE",
            "DOCUMENTO_FISCAL_ITENS",
            "ITENS_DF_OPER_MEDICAMENTOS",
            "ITENS_DF_OPER_ARMAS_FOGO",
            "ITENS_DF_OPER_VEICULOS_NOV",
            "FATURA_DOCUMENTO_FISCAL",
            "PARCELAS_FATURA_DF",
            "EQUIPAMENTO_ECF",
            "REDUCAO_Z",
            "REDUCAO_Z_TOTALIZA_PARCIAIS",
            "DOC_FISCAL_EMITIDO_ECF",
            "ITENS_DF_EMITIDO_ECF",
            "EXPORTACAO",
            "EXPORTACAO_DOC_FISCAL",
            "EXPORTACAO_INDIRETA",
            "APURACAO_IMPOSTO",
            "APU_AJUSTE",
            "APU_AJUSTE_PROC",
            "APU_AJUSTE_DOC",
            "APU_INF_ADICIONAL",
            "APU_OBR_RECOLHER",
            "APU_AJUSTE_IPI",
            "INVENTARIO",
            "FORNECEDORCLIENTE",
            "CONTROLE_ESTOQUE",
            "INSUMO_RELACIONADO",
            "BENS",
            "FOLHA_PAGAMENTO",
            "PROVENTOS",
            "RESPARQDIGITAL",
            "LOTACAO",
            "CONTABILFOLHAPAGAM",
            "FORMULARIO_UTILIZADO",
            "FORMULARIO_CANCELADO",
            "DACON_CATEGORIA",
            "DACON_CATPPRODALIQUOTAS",
            "ESTAB_FISCAL_DACON",
            "DACON_CONTAS_CONTABEIS",
            "ESTAB_FISCAIS_DIPJ",
            "CIAP_Bens",
            "CIAP_Movimentacao",
            "CIAP_Mov_Doc_Fiscal",
            "CIAP_Mov_Doc_Fiscal_Item",
            "CIAP_Outros_Creditos",
            "DF_Impostos_retidos",
            "OUTROS_DOC_PISCOFINS",
            "ATIVO_IMOBILIZADO_PISCOFINS",
            "AT_IMOB_PISCOF_PROCREF",
            "CRED_PRESUMIDO_EST_ABERTURA",
            "CONTR_RETIDA_FONTE",
            "DEDUCOES_DIVERSAS",
            "CREDITOS_DECOR_EVENTOS",
            "INFO_ADICIONAIS_DIFERIMENTO",
            "CONTRIB_DIFERIDA_PERIO_ANT",
            "APURACA_CRED_EXTEMP",
            "CONTRIB_SOC_EXTEMP",
            "DESC_CONTRIB_EXTEMP",
            "NAT_OP",
            "PROC_REF_ACAO_JUD",
            "PROC_REF_PROC_ADMIN",
            "CTRL_CRED_FISCAIS",
            "CONTR_SOCIAL_EXT",
            "VLR_RETIDO_FONTE",
            "DEM_CRED_DESCONTAR",
            "DET_CONTR_SOCIAL_EXT",
            "PROCESSO_REF",
            "TIPO_MOV_INVENTARIO",
            "SALDO_FECHAMENTO",
            "MOVIMENTO_INVENTARIO",
            "TIPO_PEDIDO_EXTERNO",
            "ATRIB_CST_ENTRADA",
            "ATRIB_CFOP_ENTRADA",
            "PEDIDO_EXTERNO_ITENS",
            "DEBITO_IMPOSTO_DCTF",
            "PAGAMENTO_DARF",
            "COMPENSA_PGTO_INDEVIDO",
            "OUTRAS_COMPENSACOES",
            "SUSPENSAO_IMPOSTO_XSD",
            "PARCELAMENTO_IMPOSTO",
            "DEDUCAO_DARF",
            "APU_CONTR_PREV",
            "DET_APU_CONTR_PREV",
            "PROC_REF_CONTR_PREV",
            "CONS_CONTR_PREV",
            "CONS_OPERACAO_PERIODO",
            "CONS_OPER_PER_PROCREF",
            "COMP_OPERACAO_PERIODO",
            "FCI_ITEM"
          ]
        },
        "xmlData": {
          "description": "the document in xml format (parsed to string)",
          "type": "string",
          "maxLength": 500000
        }
      }
    },
    "XMLDocumentAccounting": {
      "description": "Accounting Document XML Information",
      "type": "object",
      "required": [
        "documentType",
        "xmlData"
      ],
      "properties": {
        "documentType": {
          "description": "Document Type",
          "type": "string",
          "enum": [
            "PLANO_CONTAS_SC",
            "HISTORICO_PADRAO",
            "CENTRO_CUSTO_SC",
            "LRAP_CAMPOS",
            "LRAP_VALORES",
            "LANC_CONTABIL_SC",
            "CROSS_REF_CTA",
            "COD_AGLUT",
            "IND_AGLUT_CONTA",
            "CAMPOS_ADICIONAIS",
            "SALDO_CONTABIL_SC",
            "ENTIDADE_REFERENCIAL",
            "PARTICIPANTE"
          ]
        },
        "xmlData": {
          "description": "the document in xml format (parsed to string)",
          "type": "string",
          "maxLength": 500000
        }
      }
    },
    "ValidationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "in": {
          "type": "string",
          "enum": [
            "params",
            "body",
            "query"
          ]
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    }
  }
}