<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> {% if page.noRobots == 1 %}
    <meta name="robots" content="noindex" /> {% else %}
    <meta name="robots" content="index,follow" /> {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.subtitle }}">

    <meta property="og:title" content="Home" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://developer.avalara.com/" />
    <meta property="og:site_name" content="Avalara Developer Network" />
    <meta property="og:description" content="Avalara AvaTax Accurate and easy sales tax calculation Automatically tie your non-taxable transactions directly to the correct exemption or reseller certificate. Determine accurate taxability & duties for millions of products and services in over 100 countries."
    />

    <link rel="apple-touch-icon" sizes="57x57" href="/public/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff ">
    <meta name="msapplication-TileImage" content="/public/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff ">

    <link rel="stylesheet" href="/public/css/style.css"> {% if page.avaform == 1 %}
    <link rel="stylesheet" href="https://d30qslfa084pac.cloudfront.net/common/avaform/style.css"> {% endif %}
    <!-- Adobe Dynamic Tab Manager Tag Manager -->
    <script src="https://assets.adobedtm.com/bc10a2a9cf337c664f8f74e778a1987125aea184/satelliteLib-0387aefee1ddb8b2a9db7e4165c8d84dc0de8621.js"></script>
    <!-- End Adobe Dynamic Tab Manager Tag Manager -->
</head>
{% assign post_count = site.posts|size %} {% if page.product %} {% assign product_name = page.product %} {% elsif layout.product %} {% assign product_name = layout.product %}{% else %} {% if page.api_name %} {% assign product_name = page.api_name %} {% endif %} {% endif %}

<body id="top" data-product={{product_name}}>
    <header>
        <div class="pageTitle">
            <a href="/">
                <img src="/public/images/Avalara_logo.svg" alt="Avalara Developer Network">
                <span>Developer</span>
            </a>
            {% if product_name %}<span class="slash">/&nbsp;</span><a href="/{{product_name | downcase}}">{{product_name}}</a>{% endif %}
        </div>
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span>Menu</span>
            </button>
            </div>
            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav {{page.nav}} {{layout.nav}}">
                    <li class="apis visible-xs-block"><a href="/avalara-apis"><span class="text-uppercase">API</span>s</a></li>
                    <li class="apis dropdown dropdown-large hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">API</span>s <i class="caret"></i></a>
                        <div class="dropdown-menu dropdown-menu-large">
                            <div class="row">
                                <div class="col-md-12"><a href="/avalara-apis">APIs overview</a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2>Tax calculation</h2>
                                    {% if site.data.api_consoles.avatax1.nav_links %}
                                    <h4>Avalara AvaTax</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.avatax1.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                        <br/>
                                        <li><a href="/avatax/get-started">Set up your AvaTax sandbox</a></li>
                                    </ul>
                                    {% endif %} {% if site.data.api_consoles.communications.nav_links %}
                                    <h4>Avalara Communications</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.communications.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} {% if site.data.api_consoles.excise.nav_links %}
                                    <h4>Avalara Excise</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.excise.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} {% if site.data.api_consoles.landed_cost.nav_links %}
                                    <h4>Avalara LandedCost</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.landed_cost.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} {% if site.data.api_consoles.avataxbr.nav_links %}
                                    <h4>Avalara AvaTax Brazil</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.avataxbr.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <h2>Compliance document management</h2>
                                    {% if site.data.api_consoles.certcapture.nav_links %}
                                    <h4>Avalara CertCapture</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.certcapture.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <h2>Returns &amp; filing</h2>
                                    {% if site.data.api_consoles.returns.nav_links %}
                                    <h4>Avalara Returns</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.returns.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %} {% if site.data.api_consoles.trustfile.nav_links %}
                                    <h4>Avalara TrustFile</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.trustfile.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <h2>Avalara Brazil</h2>
                                    {% if site.data.api_consoles.taxdocs.nav_links %}
                                    <h4>TaxDoc Monitor</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.taxdocs.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if site.data.api_consoles.validate.nav_links %}
                                    <h4>Validate</h4>
                                    <ul class="pipe">
                                        {% for api_console_hash in site.data.api_consoles.validate.nav_links %}
                                        <li><a href="{{api_console_hash.path}}">{{api_console_hash.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sdk dropdown dropdown-large hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">SDK</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-large"> 
                            <li {% if page.url == "/avatax/get-started" %}class="active"{% endif %}><a href="/avatax/get-started">Get Started with AvaTax</a></li>
                            <br/>
                            <li><a href="/sdk/">The AvaTax SDK</a></li>
                            <li><a href="/sdk/soap">SOAP SDK</a></li>
                            <br/>		
                            <li><a target="_blank" href="https://github.com/avadev/AvaTax-REST-V2-DotNet-SDK#installing-the-dotnet-sdk">Install C# SDK via NuGet</a></li>		
                            <li><a target="_blank" href="https://github.com/avadev/AvaTax-REST-V2-JRE-SDK#installing-the-jre-sdk">Install JRE SDK via Maven</a></li>		
                            <li><a target="_blank" href="https://github.com/avadev/AvaTax-REST-V2-PHP-SDK#installing-the-php-sdk">Install PHP SDK via Composer</a></li>
                            <li><a target="_blank" href="https://github.com/avadev/AvaTax-REST-V2-Ruby-SDK">Install Ruby SDK via RubyGems</a></li>
                        </ul>
                    </li>
                    <li class="tests"><a href="/tests/testing-your-integration/"><span class="text-uppercase">Tests</span></a></li>
                    <!-- removing until the link to the Self-Test is fugured out -->
                    <!--
                    <li class="tests dropdown dropdown-large hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">Tests</span> <b class="caret"></b></a>
                        
                        <ul class="dropdown-menu dropdown-menu-large">
                            
                            <li><a href="/tests/self-test">Avalara Self-Test Tool</a></li> 
                            <li><a href="/tests/testing-your-integration/">Avalara Test Cases</a></li>
                        </ul>
                    </li> -->
                    
                    <li class="certification dropdown dropdown-large hidden-xs">
                        <a class="dropdown-toggel" data-toggle="dropdown"><span class="text-uppercase">Become Certified</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-large">
                            <li><a href="/certification/">Overview</a></li>
                            <li><a href="/certification/avatax/">Avalara AvaTax</a></li>
                            <li><a href="/certification/communications-certification/">Avalara Communications</a></li>
                            <li><a href="/certification/excise/">Avalara Excise</a></li>
                            <li><a href="/certification/certcapture/">Avalara CertCapture</a></li>
                        </ul>
                    </li>
                    <li class="resources dropdown dropdown-large hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="text-uppercase">Resources</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-large">
                            <li><a href="/blog">Developer Blog</a></li>
                            <li><a href="/resources/preferred-developers">Preferred developers</a></li>
                            <li><a href="https://community.avalara.com/avalara/category_sets/developers">Help Forum</a></li>
                            <li><a href="http://www.info.avalara.com/avalaradevcentral">Developer Webinar Series</a></li>
                        </ul>
                    </li>
                    <li class="resources visible-xs-block"><a href="/blog"><span class="text-uppercase">Developer Blog</span></a></li>
                    <li class="resources visible-xs-block"><a href="/resources/preferred-developers"><span class="text-uppercase">Preferred developers</span></a></li>
                    <li class="resources visible-xs-block"><a href="https://community.avalara.com/avalara/category_sets/developers"><span class="text-uppercase">Help Forum</span></a></li>
                    <li class="resources visible-xs-block"><a href="/search"><span class="text-uppercase">Search</span></a></li>
                    <li class="hdr-search-icon hidden-xs">
                        <i class="mouse glyphicon glyphicon-search mouse"></i>
                    </li>
                    <form class="hdr-search-form horizontal hidden-xs hidden">
                        <div class="row">
                            {% if product_name %}
                            <div class="col-md-9"><label><input type="checkbox" id="filterSite"> Search entire site</label></div>
                            <div class="col-md-3">
                                <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
                            </div>
                            {% else %}
                            <div class="col-md-12">
                                <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="form-group col-md-9">
                                <input class="form-control" type="search" {% if product_name %}placeholder="Search Developer / {{product_name | capitalize}}" {% else %}placeholder="Search" {% endif %}>
                                <span class="form-control-feedback">!</span>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </div>
                    </form>
                </ul>


                <a href="https://developer.avalara.com/avatax/signup/" class="btn btn-primary btn-signup">Sign up</a>

            </div>
        </nav>
    </header>
    <div class="container-fluid {{page.doctype}}">
        {%if page.nav == 'sdk' %} {% include sdk_breadcrumb.html %}
        <section class="row padding-sides half">
            <nav class="col-md-3">
                {% include sdk_navigation.html %} 
            </nav>
            <main class="col-md-9 small-no-padding">{{ content }}</main>
        </section>
        {% elsif page.nav == "certification" and page.product != "avaTax" and page.doctype != 'overview' %} {% include certification_breadcrumb.html %}
        <section class="row padding-sides half">
            <nav class="col-md-3">
                {% include certification_navigation.html %} 
            </nav>
            <main class="col-md-9 small-no-padding">{{ content }}</main>
        </sectiion>
        
<!-- removing this until we get approval on the self-test link -->      
        {% elsif page.nav == 'tests' %}
        <section class="row padding-sides half">
<!--
            {% include tests_breadcrumb.html %}
            <nav class="col-md-3">
                {% include tests_navigation.html %}
            </nav>
-->
            <main class="col-md-9 small-no-padding">{{ content }}</main>
        </section>
    
        {% elsif page.nav == 'certification' and page.product == "avaTax" %} {% include ava_certification_breadcrumbs.html %}
        <section class="row padding-sides half">
            <nav class="col-md-3">
               {% include ava_certification_navigation.html %}
                </nav>
            <main class="col-md-9 small-no-padding">{{ content }}</main>
        </section> 
        {% elsif page.nav == 'apis' %} {%if page.doctype != 'overview' %} {% include api_breadcrumb.html %} {%endif%} {% if page.doctype == 'api_references' or page.doctype == 'use_cases' %}
        <section class="row padding-sides{% if page.doctype == 'use_cases' or page.doctype == 'sdks' %} half{% endif %}">
            <nav class="col-md-3">
                {% if page.doctype == 'api_references' %} {% include api_reference_navigation.html %} {% else %} {% include use_cases_navigation.html %} {% endif %}
            </nav>
            <main class="col-md-9{% if page.doctype == 'api_references' %} small-no-padding{% endif %}">{{ content }}</main>
        </section>
        {% else %}
        <section class="row">
            <main class="col-md-12">{{ content }}</main>
        </section>
        {% endif %} {% elsif page.doctype == 'overview' or page.nav == 'home' %}
        <section class="row">
            <main class="col-md-12">{{ content }}</main>
        </section>
        {% else %}
        <section class="row padding-sides">
            <main class="col-md-12">{{ content }}</main>
        </section>
        {% endif %} {% if page.disqus == 1 %}
        <section class="row padding-sides">
            <main class="col-md-12">{% include disqus.html %}</main>
        </section>
        {% endif %}
    </div>
    <footer class="navbar navbar-default">
        <ul class="global">
            <li><a href="https://www.avalara.com/"><span class="icon-sphere"></span>Avalara.com</a></li>
            <li><a href="https://help.avalara.com/"><span class="icon-help"></span>Help Center</a></li>
        </ul>


        <ul class="social">
            <li class="twitter"><a href="https://twitter.com/Avalara">Twitter</a></li>
            <li class="facebook"><a href="https://www.facebook.com/avalara">Facebook</a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/company/avalara">LinkedIn</a></li>
            <li class="youtube"><a href="https://www.youtube.com/user/Avalara1">Youtube</a></li>
        </ul>
        {% if page.api_console == 1 %} {% for api_console_hash in site.data.api_consoles %} {% assign api_console = api_console_hash[1] %} {% assign api_console_path = api_console.nav_link.path | remove_first: '/' %} {% if page.path contains api_console_path
        %} {% assign githubpath = api_console.swagger_path | prepend: 'https://github.com/Avalara/developer-dot/edit/master/dynamic/swagger/' %} {% endif %} {% endfor %} {% else %} {% assign githubpath = page.path | prepend: 'https://github.com/Avalara/developer-dot/edit/master/'
        %} {% endif %} {% unless githubpath contains '/blog/page' %}

        {% endunless %}
        
        
        <ul class="legal">
            <li>&copy; 2016 Avalara, Inc. All rights reserved</li>
            <li><a href="https://www.avalara.com/site-terms/">Terms of use</a></li>
            <li><a href="https://www.avalara.com/privacy-policy/">Privacy policy</a></li>
        </ul>

        <ul class="github">
            <li class="social github-icon"><a href="{{githubpath}}"><span>GH</span> Edit this page on GitHub</a></li>
            
        </ul>
    </footer>

    <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/public/js/vendor/bootstrap.min.js"></script>
    <script src="/public/js/site.js"></script>

    {% comment %} Because the AWS JavaScript SDK is dumb and doesn't work with browserify, have to include it the ole' fashioned way. Custom build that just has S3 sdk included: {% endcomment %}
    <script src="/public/js/vendor/aws-sdk-2.5.3.min.js"></script>
    <script>
        AWS.config.region = 'us-west-2';
    </script>

    {% if page.avaform == 1 %}
    <script src="/public/js/new-ava-form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    {% endif %} {% if page.search == 1 %}
    <script src="/public/js/vendor/algoliasearch.min.js"></script>
    <script>
        handleSearch();
    </script>
    {% endif %}

    <!-- Adobe Dynamic Tag Manager -->
    <script type="text/javascript">
        _satellite.pageBottom();
    </script>
    <!-- End Adobe Dynamic Tag Manager -->
</body>

</html>
