<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.subtitle }}">

    <link rel="stylesheet" href="/css/style.css">
    {% if page.api_console == 1 %}
    <link rel="stylesheet" href="/css/console.css">
    {% endif %}

</head>

<body id='the-site' data-spy='scroll' data-target='#bootstrap-scrollspy'>
    <header>
        <div class="pageTitle">
            <a href="/">
                <img src="/images/AvLogo.svg" alt="Avalara Developer Network">
                <span>Developer</span>
            </a>
            {% if page.nav == 'apis' %}
            <span class="slash">/&nbsp;</span>
            {% if page.api_name %}
            <a href='/{{page.api_name}}' id="product">{{page.api_name}}</a>
            {% else %}
            <a href='/{{page.product}}' id="product">{{page.product}}</a>
            {% endif %}
            {% endif %}
        </div>
        <nav class="navbar navbar-default navbar-static">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span>Menu</span>
                </button>
            </div>
            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav {{page.nav}}">
                    <li class="home"><a href="/"><span class="uppercase">Welcome</span></a></li>
                    <li class="apis visible-xs-block"><a href="#"><span class="uppercase">API</span>s</a></li>
                    <li class="apis dropdown dropdown-large hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="uppercase">API</span>s <i class="caret"></i></a>
                        <ul class="dropdown-menu dropdown-menu-large row">
                            <li class="col-sm-7">
                                <h2>Tax Calculation</h2>
                                <h4>Avalara AvaTax</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">Hello world</a></li>
                                    <li><a href="#">Use cases</a></li>
                                    <li><a href="/avatax/console">API references</a></li>
                                    <li><a href="#">Set up your sandbox</a></li>
                                    <li><a href="#">Test your integration</a></li>
                                    <li><a href="#">Integration checklists</a></li>
                                </ul>
                                <h4>Avalara AvaTax Communications</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="/communications/console">API references</a></li>
                                    <li><a href="#">Integration checklist</a></li>
                                </ul>
                                <h4>Avalara AvaTax Excise</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">API references</a></li>
                                </ul>
                                <h4>Avalara LandedCost</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="/landedcost/console">API references</a></li>
                                </ul>
                            </li>
                            <li class="col-sm-5">
                                <h2>Compliance document management</h2>
                                <h4>Avalara CertCapture</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">API references</a></li>
                                </ul>
                                <h2>Returns &amp; filing</h2>
                                <h4>Avalara Returns</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                </ul>
                                <h4>Avalara TrustFile</h4>
                                <ul class="pipe">
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="/trustfile/console">API references</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="certification"><a href="/certification/"><span class="uppercase">Become Certified</span></a></li>
                    <li class="resources dropdown dropdown-large hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="uppercase">Resources</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-large" style="width:auto">
                            <li>
                                <ul class="pipe">
                                    <li><a href="#">Developer Blog</a></li>
                                    <li><a href="#">Preferred developers</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Help Forum</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="resources visible-xs-block"><a href="#"><span class="uppercase">Developer Blog</span></a></li>
                    <li class="resources visible-xs-block"><a href="#"><span class="uppercase">Preferred developers</span></a></li>
                    <li class="resources visible-xs-block"><a href="#"><span class="uppercase">Help Forum</span></a></li>
                    <li class="hdr-search-container hidden-xs">
                        <a><i class="hdr-search-icon mouse glyphicon glyphicon-search"></i></a>
                        <form class="hdr-search-form horizontal">
                            <h4>Search Avalara Developer</h4>
                            <div class="form-group col-sm-9">
                                <input id="nav-query" class="form-control" type="search" placeholder="Search">
                                <span class="form-control-feedback" aria-hidden="false">Required</span>
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <section class="row">
            {% assign post_count = site.posts|size %} {% if page.api_console == 1 %}
            <nav class="col-md-3" style='float: left;'>
                {% include console-navigation.html %}
            </nav>
            <main id="content" class="col-md-9">
                {{ content }}
            </main>
            {% else %}
            <main id="content" class="col-md-12">
                {{ content }}
            </main>
            {% endif %}
        </section>
        {% if page.disqus == 1 %}
            <section class="row">{% include disqus.html %}</section>
        {% endif %}
    </div>

    <footer class="navbar navbar-default">
        <ul class="social">
            <li class="twitter" title="twitter"><a href="#">Twitter</a></li>
            <li class="facebook" title="facebook"><a href="#">Facebook</a></li>
            <li class="linkedin" title="linkedin"><a href="#">LinkedIn</a></li>
            <li class="youtube" title="youtube"><a href="#">Youtube</a></li>
        </ul>
        <ul class="global">
            <li><a href="#"><span class="icon-sphere"></span>Avalara.com</a></li>
            <li><a href="#"><span class="icon-help"></span>Help Center</a></li>
        </ul>
        <ul class="legal">
            <li>&copy; Avalara, Inc. All rights reserved</li>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </footer>

    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-clampedwidth]').each(function() {
                var elem = $(this);
                var parentPanel = elem.data('clampedwidth');
                var resizeFn = function() {
                    var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                    elem.css('width', sideBarNavWidth);
                };

                resizeFn();
                $(window).resize(resizeFn);
            });

            var mobileView = false;
            $(window).resize(function() {
                if ($(window).width() <= 1000 && !mobileView) {
                    mobileView = true;
                    $('.nav-wrapper').css('display', 'none');
                } else if ($(window).width() > 1000 && mobileView) {
                    $('.nav-wrapper').css('display', 'block');
                    mobileView = false;
                }
            });
        });
    </script>

    {% if page.search == 1 %}
    <script src="/js/algoliasearch.min.js"></script>
    <script>handleSearch();</script>
    {% endif %}

    {% if site.google_analytics_id != "" %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.google_analytics_id }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
</body>

</html>
