<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.subtitle }}">

    <link rel="stylesheet" href="/css/style.css">
    {% if page.api_console == 1 %}
    <link rel="stylesheet" href="/css/console.css">
    {% endif %}

</head>

<body id='the-site' data-spy='scroll' data-target='#bootstrap-scrollspy'>
    {% include header.html %}
    <div class="container-fluid">
        <section class="row">
            {% assign post_count = site.posts|size %} {% if page.api_console == 1 %}
            <nav class="col-md-3" style='float: left;'>
                {% include console-navigation.html %}
            </nav>
            <main id="content" class="col-md-9">
                {{ content }}
            </main>
            {% else %}
            <main id="content" class="col-md-12">
                {{ content }}
            </main>
            {% endif %}
        </section>
        {% if page.disqus == 1 %}
            <section class="row">{% include disqus.html %}</section>
        {% endif %}
    </div>
    {% include footer.html %}
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-clampedwidth]').each(function() {
                var elem = $(this);
                var parentPanel = elem.data('clampedwidth');
                var resizeFn = function() {
                    var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                    elem.css('width', sideBarNavWidth);
                };

                resizeFn();
                $(window).resize(resizeFn);
            });

            var mobileView = false;
            $(window).resize(function() {
                if ($(window).width() <= 1000 && !mobileView) {
                    mobileView = true;
                    $('.nav-wrapper').css('display', 'none');
                } else if ($(window).width() > 1000 && mobileView) {
                    $('.nav-wrapper').css('display', 'block');
                    mobileView = false;
                }
            });
        });
    </script>

    {% if page.search == 1 %}
    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script>handleSearch();</script>
    {% endif %}

    {% if site.google_analytics_id != "" %}
    {% include google_analytics.html%}
    {% endif %}
</body>

</html>
